Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

Interface: move Fullscreen mode component to interface package (#21334)
  packages/block-editor/src/components/index.js
  packages/block-editor/src/style.scss
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/interface/src/components/fullscreen-mode/index.js
  packages/interface/src/components/fullscreen-mode/style.scss
  packages/interface/src/components/fullscreen-mode/test/index.js
  packages/interface/src/components/index.js
  packages/interface/src/style.scss
Owners: @youknowriad, @ellatrix

Extend valid-sprintf ESLint rule to catch placeholders that sh… (#20574)
  packages/blocks/src/api/utils.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/i18n-no-placeholders-only.js
  packages/eslint-plugin/rules/__tests__/valid-sprintf.js
  packages/eslint-plugin/rules/i18n-no-placeholders-only.js
  packages/eslint-plugin/rules/i18n-translator-comments.js
  packages/eslint-plugin/rules/valid-sprintf.js
  packages/eslint-plugin/utils/constants.js
  packages/eslint-plugin/utils/index.js
  packages/scripts/utils/env.js
Owners: @youknowriad, @ellatrix, @aduth, @gziolo, @ntwb, @nerrad, @ajitbohra

Improve the Patterns library rendering performance (#21322)
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-patterns/index.js
  packages/block-editor/src/components/block-patterns/style.scss
  packages/block-editor/src/components/block-patterns/use-async-list.js
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/index.js
  packages/priority-queue/README.md
  packages/priority-queue/src/index.js
Owners: @youknowriad, @ellatrix, @aduth

Framework: Fix optional dependencies lockfile resolved
  package-lock.json
Owners: none

[RNMobile] Dark mode on Android put on the v1.25.0 native release (#21352)
  packages/compose/src/hooks/use-preferred-color-scheme/index.android.js
  packages/compose/src/hooks/use-preferred-color-scheme/index.ios.js
  test/native/setup.js
Owners: @ghost

Fix overly verbose aria-label in Social Link block (#21369)
  packages/block-library/src/social-link/index.php
Owners: @mkaz

Avoid recomputing the scrollble container on selection change (#21231)
  packages/block-editor/src/components/block-list/moving-animation.js
Owners: @youknowriad, @ellatrix

Keyboard Shortcuts: Docs: Fix README title
  packages/keyboard-shortcuts/README.md
Owners: none

uuid: Update to v7.0.2, fix imports (#21258)
  bin/commander.js
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/annotations/src/store/actions.js
  packages/blocks/package.json
  packages/blocks/src/api/factory.js
  packages/components/package.json
  packages/components/src/higher-order/with-notices/index.js
  packages/e2e-tests/package.json
  packages/e2e-tests/specs/editor/blocks/classic.test.js
  packages/e2e-tests/specs/editor/blocks/image.test.js
  packages/e2e-tests/specs/editor/various/adding-inline-tokens.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @atimmer, @ellatrix, @youknowriad, @aduth, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten, @talldan

Block Editor: Add type-checking for block editor (DOM utils only) (#21362)
  packages/block-editor/src/utils/dom.js
  packages/block-editor/tsconfig.json
  tsconfig.json
Owners: @youknowriad, @ellatrix

Framework: Configure ESLint JSDoc plugin to target TypeScript mode (#18998)
  .eslintrc.js
Owners: none

Blocks: Raw Handling: Find closest PRE by stepping through parents (#21366)
  packages/blocks/src/api/raw-handling/html-formatting-remover.js
  packages/blocks/src/api/raw-handling/test/html-formatting-remover.js
Owners: @youknowriad, @ellatrix, @aduth

Interface: move EditorSkeleton to interface package (#21335)
  package-lock.json
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/style.scss
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-post/src/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/package.json
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/style.scss
  packages/interface/src/components/index.js
  packages/interface/src/components/interface-skeleton/index.js
  packages/interface/src/components/interface-skeleton/style.scss
  packages/interface/src/style.scss
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Testing: Include Prettier Config package in root type checking (#21381)
  tsconfig.json
Owners: none

Translated sidebar tutorial step 1
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-1-up-and-running.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Element: Add types (#21248)
  package-lock.json
  package.json
  packages/element/CHANGELOG.md
  packages/element/README.md
  packages/element/package.json
  packages/element/src/create-interpolate-element.js
  packages/element/src/raw-html.js
  packages/element/src/react-platform.js
  packages/element/src/react.js
  packages/element/src/serialize.js
  packages/element/tsconfig.json
  packages/eslint-plugin/configs/jsdoc.js
  tsconfig.json
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @gziolo, @ntwb, @nerrad

Translated Sidebar tutorial Step 2
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-2-styles-and-controls.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Move <caption>ES(5|Next)</caption> to next line. (#21405)
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
  packages/edit-post/src/components/header/plugin-more-menu-item/index.js
  packages/edit-post/src/components/header/plugin-sidebar-more-menu-item/index.js
  packages/edit-post/src/components/sidebar/plugin-document-setting-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-post-status-info/index.js
  packages/edit-post/src/components/sidebar/plugin-pre-publish-panel/index.js
  packages/edit-post/src/components/sidebar/plugin-sidebar/index.js
  packages/plugins/src/api/index.js
  packages/plugins/src/components/plugin-area/index.js
Owners: @gziolo, @adamsilverstein

RNMobile - Gallery: Adds Columns Control with web (RangeControl) and mobile (StepperControl) variants (#20231)
  packages/block-library/src/gallery/columns-control/index.js
  packages/block-library/src/gallery/columns-control/index.native.js
  packages/block-library/src/gallery/edit.js
Owners: @mkevins, @pinarol, @ghost

Plugin: Bump tested up to info to WP 5.4 (#21400)
  readme.txt
Owners: none

Interface: Prepare the package for publishing to npm (#21417)
  packages/interface/.npmrc
  packages/interface/CHANGELOG.md
  packages/interface/README.md
  packages/interface/package.json
Owners: none

Fix two typos in lib rest menu controller (#21418)
  lib/class-wp-rest-menu-items-controller.php
Owners: @timothybjacobs

Delete editor-styles (#21383)
  packages/editor/src/editor-styles.scss
Owners: none

Add react-testing-library (#20428)
  package-lock.json
  package.json
  packages/components/src/slot-fill/test/__snapshots__/slot.js.snap
  packages/components/src/slot-fill/test/slot.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Env: Await test result of testPortNumberValidation (#21394)
  packages/env/test/config.js
Owners: @epiqueras, @noahtallen, @noisysocks

Create a stable version of @wordpress/interface components for mobile (#21425)
  packages/interface/src/components/index.native.js
Owners: @ghost

Make font size an implicit attribute of the block (#21153)
  packages/block-editor/README.md
  packages/block-editor/src/components/font-sizes/index.js
  packages/block-editor/src/components/font-sizes/utils.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/font-size.js
  packages/block-editor/src/hooks/index.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/style.js
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/paragraph/deprecated.js
  packages/block-library/src/paragraph/edit.js
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/paragraph/style.scss
  packages/block-library/src/style.scss
  packages/e2e-tests/specs/editor/various/__snapshots__/font-size-picker.test.js.snap
  packages/editor/src/editor-styles.scss
  storybook/stories/playground/editor-styles.scss
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Project Management Automation: Mention user by name in prompt (#21384)
  packages/project-management-automation/lib/first-time-contributor.js
Owners: none

Fix the Buttons block margins (#21376)
  packages/block-library/src/buttons/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Basic responsive styles for navigation screen (#21414)
  packages/block-library/src/navigation/style.scss
  packages/edit-navigation/src/components/layout/style.scss
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/style.scss
  packages/edit-navigation/src/components/menus-editor/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Env: Swap out deprecated dep `request` (#21398)
  package-lock.json
  packages/env/lib/download-source.js
  packages/env/package.json
  packages/scripts/package.json
  packages/scripts/utils/env.js
Owners: @epiqueras, @noahtallen, @noisysocks, @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

[RNMobile] - Layout Template Modal & Button block - Orientation fixes (#21290)
  packages/block-editor/src/components/page-template-picker/preview.native.js
  packages/block-library/src/button/edit.native.js
Owners: @ghost

[RNMobile] Change ripple effect n BottomSheet settings (#20922)
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/cellStyles.ios.scss
  packages/components/src/mobile/bottom-sheet/range-cell.native.js
Owners: @ghost

Prevent typing on a Popover from closing the block toolbar (#21421)
  packages/block-editor/src/components/observe-typing/index.js
  packages/e2e-tests/specs/editor/various/is-typing.test.js
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Update the padding values on the Card component to align with proposed spacing system (#21111)
  packages/components/src/card/styles/card-styles.js
  storybook/test/__snapshots__/index.js.snap
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Only scroll page for multi-selectiions (#21460)
  packages/block-editor/src/components/multi-select-scroll-into-view/index.js
Owners: @youknowriad, @ellatrix

Testing: Fail E2E when page displays warning notices (#13452)
  packages/e2e-test-utils/CHANGELOG.md
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/get-page-error.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/test/get-page-error.js
  packages/e2e-test-utils/src/visit-admin-page.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

[RNMobile] - Layout picker - Update emoji (#21373)
  packages/block-editor/src/components/page-template-picker/templates/contact.native.js
  packages/block-editor/src/components/page-template-picker/templates/services.native.js
Owners: @ghost

Use inline styles instead of CSS variables for the style attribute (#21428)
  lib/patterns/its-time.json
  lib/patterns/numbered-features.json
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/test/style.js
  packages/block-library/src/button/style.scss
  packages/block-library/src/columns/style.scss
  packages/block-library/src/group/style.scss
  packages/block-library/src/heading/style.scss
  packages/block-library/src/media-text/style.scss
  packages/block-library/src/paragraph/save.js
  packages/block-library/src/paragraph/style.scss
  packages/block-library/src/style.scss
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.serialized.html
  packages/e2e-tests/specs/editor/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/editor/various/__snapshots__/font-size-picker.test.js.snap
  packages/editor/src/editor-styles.scss
  storybook/stories/playground/editor-styles.scss
Owners: @timothybjacobs, @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Declare font-size support in heading block (#21431)
  packages/block-library/src/heading/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
