Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Revert the button block to the previous markup (#21923)
  packages/block-library/src/button/block.json
  packages/block-library/src/button/color-edit.js
  packages/block-library/src/button/color-props.js
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/index.js
  packages/block-library/src/button/save.js
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.serialized.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.parsed.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.serialized.html
  packages/e2e-tests/fixtures/blocks/core__buttons.html
  packages/e2e-tests/fixtures/blocks/core_buttons__simple__deprecated.html
  packages/e2e-tests/fixtures/blocks/core_buttons__simple__deprecated.json
  packages/e2e-tests/fixtures/blocks/core_buttons__simple__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core_buttons__simple__deprecated.serialized.html
  packages/e2e-tests/specs/editor/blocks/__snapshots__/buttons.test.js.snap
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Bump plugin version to 8.0.0-rc.1
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Add additional e2e debugging option (#21845)
  docs/contributors/testing-overview.md
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/puppeteer.config.js
  packages/scripts/scripts/test-e2e.js
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @gziolo, @ntwb, @nerrad

Block Library: Fix React does not recognize isSelected prop in Spacer block (#21924)
  packages/block-library/src/spacer/edit.js
  packages/block-library/src/spacer/editor.scss
  packages/components/src/resizable-box/index.native.js
  packages/components/src/resizable-box/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ghost, @youknowriad, @jaymanpandya, @chrisvanpatten

Enhanced work of @miminari
  docs/designers-developers/developers/block-api/block-templates.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Types: Restore element, icons, primitives types (#21781)
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/icons/tsconfig.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/tsconfig.json
  tsconfig.json
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta

Enhanced #2 commit of @mypacecreator
  docs/designers-developers/developers/block-api/block-templates.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Chore: Update is-promise package to the latest version (#21940)
  package-lock.json
  packages/data/package.json
  packages/redux-routine/package.json
Owners: @youknowriad, @nerrad, @coderkevin

Updated contributors by Japanese translators
  CONTRIBUTORS.md
Owners: none

Move caret to the end of pasted content (#21755)
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/copy-handler/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @ntwb, @nerrad, @talldan

Post title: handle paste as blocks (#21758)
  packages/editor/src/components/post-title/index.js
Owners: none

Wrap button blocks with buttons blocks in mobile page templates (#21939)
  packages/block-editor/src/components/page-template-picker/templates/about.native.js
  packages/block-editor/src/components/page-template-picker/templates/blog.native.js
  packages/block-editor/src/components/page-template-picker/templates/portfolio.native.js
  packages/block-editor/src/components/page-template-picker/templates/services.native.js
  packages/block-editor/src/components/page-template-picker/templates/team.native.js
Owners: @ghost

ESLint Plugin: Relax check for i18n-text-domain rule (#21928)
  packages/eslint-plugin/rules/__tests__/i18n-text-domain.js
  packages/eslint-plugin/rules/i18n-text-domain.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

Translated Dev Top Level 1
  docs/designers-developers/developers/README.md
  docs/designers-developers/developers/block-api/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Reduce font-size and line-height of "it's time" (#21627)
  lib/patterns/its-time.json
Owners: @timothybjacobs

fix(block-patterns): expose the registered pattern slugs in get_all_registered (#21619)
  lib/class-wp-patterns-registry.php
Owners: @timothybjacobs

Block Editor: Rename block context in BlockListBlock (#21922)
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block.js
Owners: @youknowriad, @ellatrix

Write block patterns in PHP to allow i18n (#21946)
  lib/client-assets.php
  lib/patterns/cover-abc.json
  lib/patterns/cover-abc.php
  lib/patterns/hero-two-columns.json
  lib/patterns/hero-two-columns.php
  lib/patterns/its-time.json
  lib/patterns/its-time.php
  lib/patterns/numbered-features.json
  lib/patterns/numbered-features.php
  lib/patterns/text-two-columns.json
  lib/patterns/text-two-columns.php
  lib/patterns/two-buttons.json
  lib/patterns/two-buttons.php
  lib/patterns/two-images.json
  lib/patterns/two-images.php
Owners: @timothybjacobs

Translated Dev 2
  docs/designers-developers/developers/filters/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Fix centered buttons margins (#21947)
  packages/block-library/src/button/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix Template Part placeholder preview (#21623)
  packages/block-library/src/template-part/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Translated dev 3 SlotFill
  docs/designers-developers/developers/slotfills/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

[RNMobile] Global styles provider (#21637)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/heading/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/mobile/global-styles-context/index.native.js
Owners: @ghost, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Docs: Add example for how to choose a style variation for a block variation (#21927)
  docs/designers-developers/developers/block-api/block-registration.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Update doc. (#21962)
  docs/contributors/testing-overview.md
Owners: @chrisvanpatten, @ajitbohra

Create the proper shortcode on paste (#21864)
  packages/block-editor/src/components/rich-text/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

docgen: replace espree with babel. (#21853)
  package-lock.json
  packages/docgen/README.md
  packages/docgen/package.json
  packages/docgen/src/engine.js
Owners: @nosolosw

Add changelog generator script (#19866)
  bin/changelog.js
  bin/tsconfig.json
  docs/contributors/release.md
  package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/jsdoc.js
Owners: @ntwb, @nerrad, @ajitbohra, @chrisvanpatten, @gziolo

Fix list block not properly aligned (#21971)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Plugin: Add release notes for 8.0.0
  changelog.txt
Owners: none

Change color alpha input step to match the slider step (#21953)
  packages/components/src/color-picker/inputs.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Translated Dev 4 RichText
  docs/designers-developers/developers/richtext.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Edit Site: Extract gutenberg_find_template_post helper, use in edit-site-page (#21959)
  lib/edit-site-page.php
  lib/template-loader.php
Owners: @timothybjacobs

Bump plugin version to 8.0.0
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Refactor FontSizePicker component. Fix bug on undo. (#21757)
  packages/components/src/font-size-picker/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Configure the navigation editor with correct __experimentalFetchLinkSuggestions (#21873)
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/index.js
  packages/editor/src/components/provider/index.js
Owners: none

Add a method for publishing patches to the lerna scripts. (#21844)
  package.json
  packages/README.md
Owners: none

Fix props in example code for Edit Post module (#21976)
  packages/edit-post/README.md
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
Owners: none

Update changelog files
  packages/create-block/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/i18n/CHANGELOG.md
  packages/keycodes/CHANGELOG.md
  packages/scripts/CHANGELOG.md
  packages/url/CHANGELOG.md
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @swissspidy, @talldan, @ellatrix, @youknowriad, @aduth

Update CHANGELOG file for @wordpress/eslint-pluging Adds missing entry that was not included in #21928. Props to @aduth for noticing.
  packages/eslint-plugin/CHANGELOG.md
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra
