Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @gziolo, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @talldan
/packages/editor                                @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date                                  @aduth
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html                           @aduth
/packages/html-entities                         @aduth
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Editor: Add sessionStorage autosave mechanism (#16490)
  docs/designers-developers/developers/data/data-core-editor.md
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/e2e-tests/specs/autosave.test.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/editor.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/defaults.js
  packages/edit-post/src/store/reducer.js
  packages/editor/src/components/autosave-monitor/index.js
  packages/editor/src/components/index.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @nerrad, @gziolo, @ntwb, @talldan

Bump plugin version to 6.5.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Docs: Fix the link issue. (#17449)
  docs/designers-developers/developers/tutorials/block-tutorial/generate-blocks-with-wp-cli.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

chore(release): publish
  packages/annotations/package.json
  packages/api-fetch/package.json
  packages/babel-preset-default/package.json
  packages/block-directory/package.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/data-controls/package.json
  packages/data/package.json
  packages/dependency-extraction-webpack-plugin/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/eslint-plugin/package.json
  packages/format-library/package.json
  packages/list-reusable-blocks/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/rich-text/package.json
  packages/scripts/package.json
  packages/server-side-render/package.json
  packages/url/package.json
  packages/viewport/package.json
Owners: @atimmer, @ellatrix, @youknowriad, @nerrad, @mmtr, @gziolo, @ntwb, @ajitbohra, @talldan, @Soean, @jorgefilipecosta, @jaymanpandya, @chrisvanpatten, @coderkevin, @daniloercoli, @sergioestevao, @etoledom, @noisysocks, @adamsilverstein

Update changelogs
  packages/block-directory/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/e2e-tests/CHANGELOG.md
  packages/element/CHANGELOG.md
  packages/scripts/CHANGELOG.md
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan, @youknowriad, @jaymanpandya, @jorgefilipecosta

Re-add & deprecate core/editor:getReferenceByDistinctEdits (#17458)
  docs/designers-developers/developers/data/data-core-editor.md
  packages/editor/src/store/selectors.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @talldan

Bump plugin version to 6.5.0
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Fix: social links registration logic. (#17494)
  lib/blocks.php
Owners: @timothybjacobs

Stabilise List E2E tests (#17482)
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/store/effects.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/e2e-tests/specs/rich-text.test.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @youknowriad, @talldan, @gziolo, @ntwb, @nerrad, @ajitbohra

Add dependency management section (#17489)
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Add end to end test to the date picker UI next and previous month buttons. (#17490)
  packages/e2e-tests/specs/scheduling.test.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Check for persistedRecord before evaluating status property to prevent uncaught type error (#17492)
  packages/core-data/src/actions.js
Owners: @youknowriad, @nerrad

Wording and other text updates (#17499)
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Editor: Don't dirty the post when forcing an undo level creation. (#17487)
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/change-detection.test.js
  packages/editor/src/store/actions.js
Owners: @youknowriad, @nerrad, @gziolo, @ntwb, @ajitbohra, @talldan

Fix: UI: Post Publish Panel overlaps the user profile dropdown… (#17075)
  assets/stylesheets/_z-index.scss
  packages/edit-post/src/components/layout/style.scss
Owners: @talldan

Editor: Fix and align collapsing logic for "Save Draft" and "Saved" button states. (#17506)
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-saved-state/style.scss
Owners: @talldan

Fix extra parentheses in code example (#17514)
  packages/dependency-extraction-webpack-plugin/README.md
Owners: none

Media & Text: Turn Stack on mobile toggle on by default (#14364)
  packages/block-library/src/media-text/block.json
  packages/block-library/src/media-text/deprecated.js
  packages/e2e-tests/fixtures/blocks/core__media-text.html
  packages/e2e-tests/fixtures/blocks/core__media-text.json
  packages/e2e-tests/fixtures/blocks/core__media-text.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-alt-no-align.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-no-focal-point-selected.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.html
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__image-fill-with-focal-point-selected.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.html
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.json
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__is-stacked-on-mobile.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.html
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.json
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__media-right-custom-width.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.html
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.json
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__vertical-align-bottom.serialized.html
  packages/e2e-tests/fixtures/blocks/core__media-text__video.html
  packages/e2e-tests/fixtures/blocks/core__media-text__video.json
  packages/e2e-tests/fixtures/blocks/core__media-text__video.parsed.json
  packages/e2e-tests/fixtures/blocks/core__media-text__video.serialized.html
  packages/e2e-tests/specs/__snapshots__/block-transforms.test.js.snap
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @gziolo, @ntwb, @nerrad

Editor: Implement `EntityProvider` and use it to refactor custom sources with a backwards compatibility hook for meta sources. (#17153)
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/entity-provider.js
  packages/core-data/src/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/hooks/custom-sources-backwards-compatibility.js
  packages/editor/src/hooks/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/block-sources/README.md
  packages/editor/src/store/block-sources/__mocks__/index.js
  packages/editor/src/store/block-sources/index.js
  packages/editor/src/store/block-sources/meta.js
  packages/editor/src/store/test/actions.js
Owners: @youknowriad, @nerrad, @talldan

Update docs with example attributes for previews (#17507)
  docs/designers-developers/developers/block-api/README.md
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Fix: Remove "Reusable block" name and descrip. from the inserter(#17530)
  packages/block-editor/src/components/inserter/menu.js
Owners: @youknowriad, @talldan, @ellatrix

[RNMobile] Add rounded corners on media placeholder and unsupported blocks (#16729)
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-editor/src/components/warning/style.native.scss
  packages/block-library/src/missing/style.native.scss
Owners: @ghost

Mark the Social Links plugin as experimental. (#17526)
  packages/block-library/src/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix: Twenty Seventeen theme has issues with preview panel (#17531)
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/inserter/style.scss
Owners: @youknowriad, @talldan, @ellatrix

Image Block: Improve performance by only requesting image metadata if selected. (#17504)
  packages/block-library/src/image/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update E2E tests for Twenty Twenty theme (#17566)
  packages/e2e-tests/specs/blocks/__snapshots__/heading.test.js.snap
  packages/e2e-tests/specs/blocks/heading.test.js
  packages/e2e-tests/specs/font-size-picker.test.js
  packages/e2e-tests/specs/manage-reusable-blocks.test.js
  packages/e2e-tests/specs/preview.test.js
  packages/e2e-tests/specs/typewriter.test.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Only show help panel when launched from top bar (#17545)
  packages/block-editor/src/components/inserter/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/edit-post/src/components/header/header-toolbar/index.js
Owners: @youknowriad, @talldan, @ellatrix

Chore: Align the version of loash with WordPress core (#17528)
  lib/client-assets.php
  package-lock.json
  package.json
  packages/annotations/package.json
  packages/babel-plugin-makepot/package.json
  packages/block-directory/package.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/data/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/docgen/package.json
  packages/dom/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/edit-post/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/format-library/package.json
  packages/i18n/package.json
  packages/jest-console/package.json
  packages/keycodes/package.json
  packages/library-export-default-webpack-plugin/package.json
  packages/list-reusable-blocks/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/redux-routine/package.json
  packages/rich-text/package.json
  packages/scripts/package.json
  packages/server-side-render/package.json
  packages/shortcode/package.json
  packages/token-list/package.json
  packages/viewport/package.json
  packages/wordcount/package.json
Owners: @timothybjacobs, @atimmer, @ellatrix, @ntwb, @nerrad, @ajitbohra, @youknowriad, @talldan, @Soean, @jorgefilipecosta, @gziolo, @jaymanpandya, @chrisvanpatten, @coderkevin, @nosolosw, @daniloercoli, @sergioestevao, @etoledom, @swissspidy, @noisysocks, @adamsilverstein, @aduth

Add phpcs rule to detect unused variables; Fix existing issues (#17300)
  composer.json
  composer.lock
  gutenberg.php
  lib/class-wp-rest-block-directory-controller.php
  lib/class-wp-rest-widget-areas-controller.php
  lib/class-wp-rest-widget-updater-controller.php
  lib/client-assets.php
  lib/experiments-page.php
  phpcs.xml.dist
Owners: @timothybjacobs

Gallery Block: Don't show gradient overlay unless image is selected or a caption is set. (#17561)
  packages/block-library/src/gallery/gallery-image.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Core Data: Support server side save filters. (#17532)
  packages/core-data/src/actions.js
  packages/core-data/src/selectors.js
  packages/core-data/src/test/actions.js
Owners: @youknowriad, @nerrad

Block Editor: Simplify Selection Reducer (#17467)
  docs/designers-developers/developers/data/data-core-block-editor.md
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/effects.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-editor/src/store/test/selectors.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @talldan, @ellatrix

Convert examples to use import syntax (#17502)
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/richtext.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/format-api/3-apply-format.md
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Local autosave: Expand E2E tests (#17503)
  packages/e2e-tests/specs/autosave.test.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Remove text domain (#17546)
  packages/block-directory/src/components/block-ratings/stars.js
Owners: none

Gallery Block: Stop reflows from breaking custom alignment layouts. (#17586)
  packages/block-library/src/gallery/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix invalid block warning (#17572)
  packages/block-editor/src/components/block-list/block-invalid-warning.js
  packages/block-editor/src/components/warning/style.scss
Owners: @youknowriad, @talldan, @ellatrix

Docs: Fix typos - PHP code (#17595)
  lib/class-experimental-wp-widget-blocks-manager.php
  lib/class-wp-rest-widget-areas-controller.php
Owners: @timothybjacobs

Remove text domain (#17591)
  packages/block-directory/src/components/downloadable-block-author-info/index.js
Owners: none

Only animate the blocks that changed index (#17573)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/index.js
  packages/block-editor/src/components/block-list/moving-animation.js
  packages/block-editor/src/components/preserve-scroll-in-reorder/index.js
  packages/edit-post/src/components/layout/index.js
Owners: @youknowriad, @talldan, @ellatrix
