Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @mkaz, @nerrad, @mmtr, @coderkevin, @mkevins, @ajlende, @atimmer, @ellatrix, @dmsnell, @draganescu, @talldan, @noisysocks, @tellthemachines, @adamziel, @kevin940726, @getdave, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @cameronvoell, @guarani, @noahtallen, @timothybjacobs, @spacedmonkey, @timothybjabocs, @ghost

Columns block: Add stack on mobile setting to allow for columns without mobile breakpoints (#31816)
  packages/block-library/src/columns/block.json
  packages/block-library/src/columns/deprecated.js
  packages/block-library/src/columns/edit.js
  packages/block-library/src/columns/save.js
  packages/block-library/src/columns/style.scss
  packages/e2e-tests/fixtures/blocks/core__columns__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__columns__is-not-stacked-on-mobile.html
  packages/e2e-tests/fixtures/blocks/core__columns__is-not-stacked-on-mobile.json
  packages/e2e-tests/fixtures/blocks/core__columns__is-not-stacked-on-mobile.parsed.json
  packages/e2e-tests/fixtures/blocks/core__columns__is-not-stacked-on-mobile.serialized.html
Owners: @ajitbohra, @ntwb, @nerrad

Revert "Bump plugin version to 11.0.0"
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Bail out if get_current_screen() returns null. (#33261)
  lib/widgets-customize.php
Owners: @timothybjacobs, @spacedmonkey

Documentation: Remove withState HOC references part 2 (#33222)
  packages/components/src/disabled/README.md
  packages/components/src/font-size-picker/README.md
  packages/components/src/form-toggle/README.md
  packages/components/src/form-token-field/README.md
  packages/components/src/menu-item/README.md
  packages/components/src/popover/README.md
  packages/components/src/text-control/README.md
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Bump plugin version to 11.0.0
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

[RNMobile] Embed block: Enable replace option (#33253)
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-bottom-sheet.native.js
  packages/block-library/src/embed/embed-placeholder.native.js
Owners: @ajitbohra, @ghost

Update Changelog for 11.0.0
  changelog.txt
Owners: none

Workflows: Re-enable manually triggered workflows on forks (#32821)
  .github/workflows/build-plugin-zip.yml
Owners: none

Refactor of navigation block rendering using location attribute (#33244)
  packages/block-library/src/navigation-link/index.php
  packages/block-library/src/navigation/index.php
Owners: @ajitbohra

Duotone: Avoid rendering duplicate stylesheet and SVG (#33233)
  lib/block-supports/duotone.php
Owners: @timothybjacobs, @spacedmonkey

components: Add normalizeArrowKey (#33208)
  packages/components/src/utils/keyboard.js
  packages/components/src/utils/test/keyboard.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Update: stabilises GradientPicker and CustomGradientPicker components (#31440)
  packages/block-editor/src/components/colors-gradients/control.js
  packages/block-editor/src/components/gradient-picker/control.js
  packages/block-editor/src/components/gradient-picker/index.js
  packages/block-editor/src/components/gradient-picker/panel.js
  packages/block-editor/src/components/index.js
  packages/components/src/index.js
Owners: @ellatrix, @ajitbohra, @jaymanpandya, @chrisvanpatten

Fix moving inner blocks in the Widgets Customizer (#33243)
  packages/customize-widgets/src/components/sidebar-block-editor/use-sidebar-block-editor.js
  packages/customize-widgets/src/filters/move-to-sidebar.js
  packages/customize-widgets/src/utils.js
  packages/e2e-tests/specs/widgets/customizing-widgets.test.js
Owners: @ntwb, @nerrad, @ajitbohra

Block API: Apply enhancements included in WordPress 5.8 (#33252)
  docs/getting-started/tutorials/create-block/block-code.md
  docs/getting-started/tutorials/create-block/wp-plugin.md
  docs/reference-guides/block-api/block-metadata.md
  docs/reference-guides/block-api/block-registration.md
  docs/reference-guides/filters/block-filters.md
  docs/reference-guides/filters/editor-filters.md
  packages/create-block-tutorial-template/CHANGELOG.md
  packages/create-block-tutorial-template/templates/$slug.php.mustache
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates/esnext/$slug.php.mustache
Owners: @chrisvanpatten, @ajitbohra, @gziolo, @mkaz

Restructure the BlockNavigation component, rename to ListView (#31892)
  docs/getting-started/faq.md
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-navigation/README.md
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/list-view/README.md
  packages/block-editor/src/components/list-view/appender.js
  packages/block-editor/src/components/list-view/block-contents.js
  packages/block-editor/src/components/list-view/block-select-button.js
  packages/block-editor/src/components/list-view/block-slot.js
  packages/block-editor/src/components/list-view/block.js
  packages/block-editor/src/components/list-view/branch.js
  packages/block-editor/src/components/list-view/context.js
  packages/block-editor/src/components/list-view/editor.js
  packages/block-editor/src/components/list-view/expander.js
  packages/block-editor/src/components/list-view/index.js
  packages/block-editor/src/components/list-view/leaf.js
  packages/block-editor/src/components/list-view/list-item.js
  packages/block-editor/src/components/list-view/style.scss
  packages/block-editor/src/components/list-view/use-list-view-client-ids.js
  packages/block-editor/src/components/list-view/use-list-view-drop-zone.js
  packages/block-editor/src/components/list-view/utils.js
  packages/block-editor/src/style.scss
  packages/block-library/src/navigation/block-navigation-list.js
  packages/e2e-tests/specs/editor/blocks/columns.test.js
  packages/e2e-tests/specs/editor/blocks/cover.test.js
  packages/e2e-tests/specs/editor/plugins/block-icons.test.js
  packages/e2e-tests/specs/editor/plugins/block-variations.test.js
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/experiments/document-settings.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/edit-post/src/components/header/header-toolbar/index.js
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/keyboard-shortcuts/index.js
  packages/edit-post/src/components/secondary-sidebar/list-view-sidebar.js
  packages/edit-site/src/components/secondary-sidebar/list-view-sidebar.js
Owners: @chrisvanpatten, @ajitbohra, @ellatrix, @ntwb, @nerrad

[RNMobile][Embed block] Fetching embed preview and loading UI (#33260)
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-loading.native.js
  packages/block-library/src/embed/embed-placeholder.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/block-library/src/embed/styles.native.scss
  packages/react-native-editor/src/api-fetch-setup.js
Owners: @ajitbohra, @ghost

Documentation: Remove withState HOC references part 3 (#33259)
  packages/components/src/color-picker/README.md
  packages/components/src/keyboard-shortcuts/README.md
  packages/components/src/query-controls/README.md
  packages/components/src/range-control/README.md
  packages/components/src/scroll-lock/README.md
  packages/components/src/select-control/README.md
  packages/components/src/toggle-control/README.md
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

PostPublishButton: Disable if saving non-post entities (#33140)
  packages/core-data/src/selectors.js
  packages/core-data/src/test/selectors.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/components/post-publish-panel/index.js
  packages/editor/src/store/selectors.js
  packages/editor/src/store/test/selectors.js
Owners: @nerrad

Include missing attributes when upgrading embed block (#33235)
  packages/block-library/CHANGELOG.md
  packages/block-library/src/embed/util.js
Owners: @ajitbohra

Allow themes to provide empty values for `color.duotone` and `spacing.units` and remove `layout.units` (#33280)
  lib/class-wp-theme-json-gutenberg.php
  packages/block-editor/src/components/letter-spacing-control/index.js
  packages/block-editor/src/hooks/border-width.js
  packages/block-editor/src/hooks/layout.js
  packages/block-library/src/column/edit.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/columns/edit.native.js
  phpunit/class-wp-theme-json-test.php
Owners: @timothybjabocs, @spacedmonkey, @nosolosw, @ellatrix, @ajitbohra, @ghost

Plugin: Introduce `tools` folder with configuration files (#33281)
  .eslintrc.js
  docs/contributors/folder-structure.md
  packages/react-native-editor/.eslintrc.js
  tools/eslint/import-resolver.js
  tools/webpack/packages.js
  webpack.config.js
Owners: @chrisvanpatten, @ajitbohra

components: Add mergeEventHandlers (#33205)
  packages/components/src/utils/events.ts
  packages/components/src/utils/test/events.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

components: Add useCx (#33172)
  package-lock.json
  packages/components/package.json
  packages/components/src/utils/hooks/index.js
  packages/components/src/utils/hooks/stories/use-cx.js
  packages/components/src/utils/hooks/test/use-cx.js
  packages/components/src/utils/hooks/use-cx.ts
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Admin PWA: Encode manifest data (#33310)
  packages/admin-manifest/src/index.js
Owners: @ellatrix

Try: Menu item placeholder inheritance. (#32512)
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation-link/editor.scss
Owners: @ajitbohra

Block Editor: Warn when `useBlockProps` hook used with a wrong Block API version (#33274)
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-list/use-block-props/index.js
  packages/warning/CHANGELOG.md
  packages/warning/src/index.js
  packages/warning/src/test/index.js
  packages/warning/src/utils.js
Owners: @ellatrix

Merge conflicting `wp.editor` objects into a single, non-conflicting module (#33228)
  lib/client-assets.php
  packages/e2e-tests/specs/editor/plugins/wp-editor-meta-box.test.js
Owners: @timothybjacobs, @spacedmonkey, @ntwb, @nerrad, @ajitbohra

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad @coderkevin
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @mkevins
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Duotone
/lib/block-supports/duotone.php                       @ajlende
/packages/block-editor/src/components/duotone-control @ajlende
/packages/block-editor/src/hooks/duotone.js           @ajlende
/packages/components/src/duotone-picker               @ajlende

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render

# Widgets
/packages/edit-widgets                          @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726

# Navigation
/packages/edit-navigation                       @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726 @getdave

# Full Site Editing
/packages/edit-site

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @mkaz
/packages/create-block-tutorial-template        @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra
/packages/stylelint-config                      @ntwb

# UI Components
/packages/components                            @ajitbohra @jaymanpandya @chrisvanpatten
/packages/compose                               @ajitbohra @jaymanpandya
/packages/element                               @ajitbohra @jaymanpandya
/packages/notices                               @ajitbohra @jaymanpandya
/packages/nux                                   @ajitbohra @jaymanpandya
/packages/viewport                              @ajitbohra @jaymanpandya
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keycodes
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning
/packages/keyboard-shortcuts

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @cameronvoell @guarani
/packages/rich-text                             @ellatrix @cameronvoell @guarani
/packages/block-editor/src/components/rich-text @ellatrix @cameronvoell @guarani

# Project Management
/.github
/packages/project-management-automation

# wp-env
/packages/env                                   @noahtallen

# PHP
/lib                                            @timothybjacobs @spacedmonkey
/lib/global-styles.php                          @timothybjabocs @spacedmonkey @nosolosw
/lib/experimental-default-theme.json            @timothybjabocs @spacedmonkey @nosolosw
/lib/class-wp-theme-json-gutenberg.php          @timothybjabocs @spacedmonkey @nosolosw
/lib/class-wp-theme-json-resolver-gutenberg.php @timothybjabocs @spacedmonkey @nosolosw
/phpunit/class-wp-theme-json-test.php           @nosolosw

# Web App
/packages/admin-manifest                        @ellatrix
/lib/pwa.php                                    @ellatrix
/lib/service-worker.js                          @ellatrix

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost
