Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Reinitialize the iframe after the parent block is moved around (#21916)
  packages/components/src/sandbox/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

[RNMobile] Enable Pullquote block (#21930)
  packages/block-library/src/index.native.js
  packages/block-library/src/pullquote/edit.js
Owners: @ghost, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Block Library: enhance the author block (#19894)
  packages/block-editor/README.md
  packages/block-editor/src/components/color-style-selector/index.js
  packages/block-editor/src/components/index.js
  packages/block-library/src/editor.scss
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-author/edit.js
  packages/block-library/src/post-author/editor.scss
  packages/block-library/src/post-author/icon.js
  packages/block-library/src/post-author/index.js
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-author/style.scss
  packages/block-library/src/style.scss
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

adds code to html and reverse transforms (#21779)
  packages/block-library/src/code/transforms.js
  packages/block-library/src/html/index.js
  packages/block-library/src/html/transforms.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

add align class to pull quote in editor (#21756)
  packages/block-library/src/pullquote/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Optimize BlockStyles by using hooks and React.memo (instead of HOCs) (#21973)
  packages/block-editor/src/components/block-styles/index.js
Owners: @youknowriad, @ellatrix

CustomSelectControl: set aria-hidden to empty option list (#21298)
  packages/components/src/custom-select-control/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Avoid rerenders of the entire BlockInspector when block attributes change (#21990)
  packages/block-editor/src/components/block-inspector/index.js
Owners: @youknowriad, @ellatrix

Increase the severity of `jsdoc/no-undefined-types`. (#21942)
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/jsdoc.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

Revert "add align class to pull quote in editor (#21756)" (#21998)
  packages/block-library/src/pullquote/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add some more g2 icons (#21825)
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/icons/CHANGELOG.md
  packages/icons/src/index.js
  packages/icons/src/library/box.js
  packages/icons/src/library/chart-bar.js
  packages/icons/src/library/cog.js
  packages/icons/src/library/currency-pound.js
  packages/icons/src/library/help.js
  packages/icons/src/library/home.js
  packages/icons/src/library/inbox.js
  packages/icons/src/library/institution.js
  packages/icons/src/library/lifesaver.js
  packages/icons/src/library/megaphone.js
  packages/icons/src/library/payment.js
  packages/icons/src/library/people.js
  packages/icons/src/library/percent.js
  packages/icons/src/library/plugins.js
  packages/icons/src/library/receipt.js
  packages/icons/src/library/star-empty.js
  packages/icons/src/library/star-filled.js
  packages/icons/src/library/star-half.js
  packages/icons/src/library/star.js
  packages/icons/src/library/tool.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Framework: Update package-lock.json
  package-lock.json
Owners: none

Move Entities Saved States from Modal to Sidebar (#21522)
  packages/base-styles/_z-index.scss
  packages/e2e-tests/specs/editor/various/post-visibility.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
  packages/edit-post/src/components/layout/actions-panel.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/save-button/index.js
  packages/edit-site/src/style.scss
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
  packages/editor/src/components/post-publish-button/index.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Remove pass by reference of the `$scripts` and `$styles` attributes (#21987)
  lib/client-assets.php
Owners: @timothybjacobs

Remove unused animation lingering in paragraph file. (#22020)
  packages/block-library/src/paragraph/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Remove duplicate CopyHanddler (#21817)
  packages/edit-post/src/components/visual-editor/index.js
Owners: none

Use optional chaining, optional catch binding. (#21967)
  packages/block-editor/src/components/link-control/index.js
  packages/url/src/is-url.js
Owners: @youknowriad, @ellatrix, @talldan, @aduth

Update: Use EntityProvider on the widget area. (#22008)
  package-lock.json
  packages/edit-widgets/package.json
  packages/edit-widgets/src/components/widget-area/index.js
Owners: @youknowriad

Navigation block: use new icon in placeholder. (#21713)
  packages/block-library/src/navigation/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Blocks: Register FSE blocks if experiment enabled (#21536)
  lib/blocks.php
Owners: @timothybjacobs

Fix entity selection through save panel (#22011)
  packages/editor/src/components/entities-saved-states/index.js
Owners: none

Project Management Automation: Derive due date from previous milestone (#20851)
  packages/project-management-automation/lib/add-milestone.js
  packages/project-management-automation/lib/test/add-milestone.js
Owners: none

Build Tools: Changelog: Normalize entry to end with period (#22010)
  bin/changelog.js
  bin/test/changelog.js
Owners: @ntwb, @nerrad, @ajitbohra

Build Tools: Disable ESLint `no-console` for bin directory (#22033)
  .eslintrc.js
  bin/api-docs/update-api-docs.js
  bin/changelog.js
  bin/check-latest-npm.js
  bin/commander.js
  bin/packages/build.js
  bin/packages/lint-staged-typecheck.js
  bin/packages/validate-typescript-version.js
  bin/packages/watch.js
Owners: @ntwb, @nerrad, @ajitbohra, @nosolosw

Framework: Update package-lock.json
  package-lock.json
Owners: none

Site editor: Updated template content (#22044)
  lib/demo-block-template-parts/header.html
  lib/demo-block-templates/front-page.html
  packages/e2e-tests/specs/experiments/template-part.test.js
Owners: @timothybjacobs, @ntwb, @nerrad, @ajitbohra, @talldan

ESLint Plugin: Add missing rules to root README (#22042)
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/i18n-no-collapsible-whitespace.md
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

Temporary push before git merge of 8.0
  docs/designers-developers/developers/internationalization.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Columns. Remove top and bottom margin from individual column blocks. (#22018)
  packages/block-library/src/columns/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Navigation: horizontal movers by default (#22057)
  packages/block-library/src/navigation/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Try: Reduced specificity base block margins. (#22051)
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/editor.scss
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update the audio and video blocks to use a light wrapper in the editor (#22028)
  packages/block-library/src/audio/edit.js
  packages/block-library/src/audio/index.js
  packages/block-library/src/video/edit.js
  packages/block-library/src/video/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Try better inserter toggle styling. (#22016)
  packages/edit-post/src/components/header/header-toolbar/style.scss
Owners: none

Support searching for patterns (#21944)
  package-lock.json
  packages/block-editor/src/components/inserter/block-list.js
  packages/block-editor/src/components/inserter/block-patterns.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/no-results.js
  packages/block-editor/src/components/inserter/search-items.js
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/inserter/test/block-list.js
  packages/block-editor/src/components/inserter/test/search-items.js
  packages/block-editor/src/components/inserter/use-async-list.js
  packages/e2e-tests/specs/editor/various/adding-blocks.test.js
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Light blocks: site title (#22069)
  packages/block-library/src/site-title/edit.js
  packages/block-library/src/site-title/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Light blocks: social links (#22078)
  packages/block-library/src/social-link/edit.js
  packages/block-library/src/social-link/editor.scss
  packages/block-library/src/social-link/index.js
  packages/block-library/src/social-links/edit.js
  packages/block-library/src/social-links/editor.scss
  packages/block-library/src/social-links/index.js
Owners: @mkaz

Update diff to 4.0.2 and work around tree-shaking issues (#21994)
  package-lock.json
  packages/block-editor/package.json
  packages/block-editor/src/components/block-compare/index.js
Owners: @youknowriad, @ellatrix

Translated dev docs internationalization and i18n package
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/packages.md
  packages/i18n/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @swissspidy

Add undo-redo UI to edit-site and edit-widgets (#21955)
  package-lock.json
  packages/edit-site/package.json
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/undo-redo/redo.js
  packages/edit-site/src/components/header/undo-redo/undo.js
  packages/edit-site/src/components/keyboard-shortcuts/index.js
  packages/edit-widgets/package.json
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/header/undo-redo/redo.js
  packages/edit-widgets/src/components/header/undo-redo/undo.js
  packages/edit-widgets/src/components/inserter/index.js
  packages/edit-widgets/src/components/keyboard-shortcuts/index.js
  packages/edit-widgets/src/components/layout/index.js
Owners: @youknowriad

Add missing dependency (#22086)
  package-lock.json
  packages/block-editor/package.json
Owners: @youknowriad, @ellatrix
