Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Rnmobile/fix whitespace removal (#21469)
  packages/rich-text/src/component/index.native.js
Owners: @ghost

Update wp-env docs to reflect current functionality of package (#21809)
  packages/env/README.md
Owners: @epiqueras, @noahtallen, @noisysocks

Template Part block: only declare attributes in block.json. (#21796)
  packages/block-library/src/template-part/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Legacy Widget block: use block.json. (#21792)
  packages/block-library/src/legacy-widget/block.json
  packages/block-library/src/legacy-widget/index.js
  packages/block-library/src/legacy-widget/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Latest Comments block: use block.json. (#21787)
  packages/block-library/src/latest-comments/block.json
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-comments/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Avoid using inline RichText element for navigation link (#21856)
  package-lock.json
  packages/block-library/src/navigation-link/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Create Block: Split JS source file into parts for esnext template (#21750)
  packages/create-block/CHANGELOG.md
  packages/create-block/lib/templates.js
  packages/create-block/lib/templates/esnext/src/edit.js.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
  packages/create-block/lib/templates/esnext/src/save.js.mustache
Owners: @gziolo

Cover block - enable upload options in production (#21776)
  packages/block-library/src/cover/edit.native.js
Owners: @ghost

wp-scripts test-unit-js node debugging (#21631)
  docs/contributors/testing-overview.md
  package.json
  packages/scripts/README.md
  packages/scripts/bin/wp-scripts.js
  packages/scripts/utils/cli.js
  packages/scripts/utils/file.js
  packages/scripts/utils/index.js
  packages/scripts/utils/test/index.js
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @gziolo, @ntwb, @nerrad

Adds a min size for custom text size (#21815)
  packages/components/src/font-size-picker/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Unify how editor alignments are applied across blocks (#21822)
  packages/base-styles/_z-index.scss
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-preview/style.scss
  packages/block-library/src/button/editor.scss
  packages/block-library/src/button/style.scss
  packages/block-library/src/buttons/edit.js
  packages/block-library/src/buttons/editor.scss
  packages/block-library/src/buttons/index.js
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/embed/style.scss
  packages/block-library/src/group/editor.scss
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/index.js
  packages/block-library/src/image/style.scss
  packages/block-library/src/pullquote/editor.scss
  packages/block-library/src/social-links/editor.scss
  packages/block-library/src/table/editor.scss
  packages/block-library/src/video/editor.scss
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/block-editor/style.scss
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @mkaz

Block Editor: Add useEditorFeature hook to simplify access to editor features (#21646)
  lib/compat.php
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/line-height-control/index.js
  packages/block-editor/src/components/line-height-control/utils.js
  packages/block-editor/src/components/unit-control/index.js
  packages/block-editor/src/components/use-editor-feature/index.js
  packages/block-library/src/paragraph/edit.js
  packages/editor/src/components/provider/index.js
Owners: @timothybjacobs, @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Site Editor: add preview options component (#21309)
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/preview-options/index.js
  packages/block-editor/src/components/preview-options/style.scss
  packages/block-editor/src/components/resize-canvas/index.js
  packages/block-editor/src/style.scss
  packages/e2e-tests/specs/editor/plugins/block-context.test.js
  packages/e2e-tests/specs/editor/various/preview.test.js
  packages/edit-post/src/components/device-preview/index.js
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/preview-options/index.js
  packages/edit-post/src/components/visual-editor/index.js
  packages/edit-post/src/store/actions.js
  packages/edit-post/src/store/selectors.js
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/store/actions.js
  packages/edit-site/src/store/reducer.js
  packages/edit-site/src/store/selectors.js
  packages/edit-site/src/style.scss
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Upgrade showdown and do some lockfile gardening (#21862)
  package-lock.json
  packages/blocks/package.json
Owners: @youknowriad, @ellatrix, @aduth

Fix the button outline style for the old button markup (#21816)
  packages/block-library/src/button/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix the balance of the WordPress logo and inserter. (#21811)
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/interface/src/components/admin-menu-toggle/style.scss
Owners: none

Template Part Block: Test that customizations are loaded just from slug and theme attributes. (#21852)
  packages/e2e-tests/specs/experiments/template-part.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

rnmobile/enabling alignment from aztec android (#21803)
  packages/block-library/src/heading/edit.js
  packages/block-library/src/quote/edit.js
  packages/block-library/src/verse/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Translated Sidebar Tutorial Step 6
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-6-finishing-touches.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Docs: Add changelog entry for debugging support for `test-unit-js` (#21861)
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Translated Tutorial Format API
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/format-api/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Translated Tutorial Format API 1 & 2
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
  docs/designers-developers/developers/tutorials/metabox/readme.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Translated Tutorial Format API Step 2
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/format-api/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Translated Tutorial Format API Step 3
  docs/designers-developers/developers/tutorials/format-api/3-apply-format.md
  docs/designers-developers/developers/tutorials/format-api/README.md
  docs/designers-developers/developers/tutorials/readme.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Framework: Update package-lock.json
  package-lock.json
Owners: none

Block API: Block Context: Assign block global for render_callback (#21868)
  docs/designers-developers/developers/block-api/block-context.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  lib/class-wp-block.php
  packages/block-library/src/post-title/index.php
  packages/e2e-tests/plugins/block-context.php
  phpunit/class-block-context-test.php
  phpunit/class-wp-block-test.php
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs, @Soean, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Create Block: Make it easier to provide most popular CLI options (#21751)
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/index.js
Owners: @gziolo

Remove obsolete editor alignment classes (#21906)
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Fixed center aligned image behavior (#21911)
  packages/block-library/src/image/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Import from individual react-dates component (#21914)
  packages/components/src/date-time/date.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Format Library: add subscript and superscript (#21819)
  packages/format-library/src/default-formats.js
  packages/format-library/src/subscript/index.js
  packages/format-library/src/superscript/index.js
  packages/icons/src/index.js
  packages/icons/src/library/subscript.js
  packages/icons/src/library/superscript.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

fix: [#21810] Allow default pasting behaviour in FontSizePicker (#21812)
  packages/block-editor/src/components/copy-handler/index.js
Owners: @youknowriad, @ellatrix

Fix: Legacy widgets visual issues (#21585)
  packages/block-library/src/legacy-widget/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add e2e test for template part block creation and insertion (#21849)
  packages/e2e-tests/specs/experiments/template-part.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Block API: Block Context: Remove block filter (#21921)
  lib/compat.php
  packages/block-library/src/post-title/index.php
  packages/e2e-tests/plugins/block-context.php
  packages/e2e-tests/specs/editor/plugins/block-context.test.js
  phpunit/class-block-context-test.php
Owners: @timothybjacobs, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Enhanced #1 commit of @ryo-utsunomiya
  docs/designers-developers/developers/filters/block-filters.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

i18n: Relax sprintf arguments type (#21919)
  packages/i18n/CHANGELOG.md
  packages/i18n/README.md
  packages/i18n/src/sprintf.js
  packages/i18n/src/test/sprintf.js
Owners: @swissspidy

URL: addQueryArgs optional arguments (#21926)
  packages/url/CHANGELOG.md
  packages/url/README.md
  packages/url/src/add-query-args.js
  packages/url/tsconfig.json
Owners: @talldan, @aduth

Template Parts: Support REST API meta queries. (#21851)
  lib/template-parts.php
  packages/block-library/src/template-part/edit/use-template-part-post.js
Owners: @timothybjacobs, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Revert "Fullscreen Mode: Change the "Back" button to toggle the sidebar (#21121)" (#21929)
  package-lock.json
  packages/e2e-tests/specs/editor/various/fullscreen-mode.test.js
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/header/fullscreen-mode-close/index.js
  packages/edit-site/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/style.scss
  packages/interface/package.json
  packages/interface/src/components/admin-menu-toggle/index.js
  packages/interface/src/components/admin-menu-toggle/style.scss
  packages/interface/src/components/fullscreen-mode/style.scss
  packages/interface/src/components/index.js
  packages/interface/src/style.scss
Owners: @ntwb, @nerrad, @ajitbohra, @talldan
