Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @gziolo, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @talldan
/packages/editor                                @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date                                  @aduth
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html                           @aduth
/packages/html-entities                         @aduth
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Adds icon property to PluginPostPublishPanel that can be inherited from registerPlugin (#16383)
  packages/edit-post/README.md
  packages/edit-post/src/components/sidebar/plugin-post-publish-panel/index.js
Owners: @talldan

Remove repeating enabled action for checkboxes (#17375)
  packages/e2e-test-utils/src/disable-pre-publish-checks.js
  packages/e2e-test-utils/src/enable-pre-publish-checks.js
  packages/e2e-tests/specs/nux.test.js
  packages/edit-post/src/components/options-modal/index.js
  packages/edit-post/src/components/options-modal/test/__snapshots__/index.js.snap
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Fix Slack Channel URL (#17377)
  docs/designers-developers/designers/design-resources.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Accessibility: Move focus back to the modal dialog to More Menu when it was used to get there (#16964)
  packages/components/src/dropdown/index.js
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-test-utils/src/toggle-more-menu.js
  packages/e2e-test-utils/src/toggle-screen-option.js
  packages/e2e-tests/specs/adding-blocks.test.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/fullscreen-mode.test.js
  packages/e2e-tests/specs/plugins/allowed-blocks.test.js
  packages/e2e-tests/specs/plugins/container-blocks.test.js
  packages/e2e-tests/specs/preview.test.js
  packages/edit-post/src/components/header/more-menu/index.js
  packages/edit-post/src/components/header/options-menu-item/index.js
  packages/edit-post/src/plugins/keyboard-shortcuts-help-menu-item/index.js
  packages/edit-post/src/plugins/manage-blocks-menu-item/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten, @ntwb, @nerrad

Disable selection when resizing (#17359)
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/reducer.js
  packages/block-library/src/cover/edit.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/media-text/media-container.js
  packages/block-library/src/spacer/edit.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta

Fix: Permalink editor rtl languages (#13919)
  packages/edit-post/src/components/sidebar/post-link/index.js
  packages/edit-post/src/components/sidebar/post-link/style.scss
  packages/editor/src/components/post-permalink/style.scss
Owners: @talldan

Polish Social Links block (#17380)
  packages/block-library/src/social-link/editor.scss
  packages/block-library/src/social-links/editor.scss
  packages/block-library/src/social-links/style.scss
Owners: @mkaz

Try refactoring the reusable blocks to use a separate block editor (#14367)
  packages/block-editor/src/index.js
  packages/block-editor/src/store/selectors.js
  packages/block-editor/src/store/test/selectors.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/block/editor.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/index.js
  packages/block-library/src/index.native.js
  packages/block-library/src/template/block.json
  packages/block-library/src/template/edit.js
  packages/block-library/src/template/icon.js
  packages/block-library/src/template/index.js
  packages/block-library/src/template/save.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/effects.js
  packages/editor/src/store/effects/reusable-blocks.js
  packages/editor/src/store/effects/test/reusable-blocks.js
  packages/editor/src/store/reducer.js
  packages/editor/src/store/test/reducer.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @ghost, @gziolo, @ntwb, @nerrad

Add disable support to PostStatus settings panel (#17117)
  packages/e2e-tests/specs/sidebar.test.js
  packages/edit-post/src/components/sidebar/post-status/index.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Switch to WP for default link (#17402)
  packages/block-library/src/social-links/edit.js
Owners: @mkaz

Compat: Remove filter that unsets auto-draft titles. (#17317)
  lib/compat.php
  packages/core-data/src/actions.js
  packages/core-data/src/test/actions.js
Owners: @timothybjacobs, @youknowriad, @nerrad

add eslint 6.x as peer dependency to eslint-plugin (#17417)
  packages/eslint-plugin/package.json
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

Use sentence case for tooltips (#17336)
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/block-navigation/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/components/url-input/button.js
  packages/block-editor/src/components/url-popover/index.js
  packages/block-editor/src/components/url-popover/test/__snapshots__/index.js.snap
  packages/block-library/src/button/edit.js
  packages/block-library/src/file/inspector.js
  packages/block-library/src/gallery/gallery-image.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/rss/edit.js
  packages/e2e-tests/specs/adding-inline-tokens.test.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/blocks/columns.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/plugins/format-api.test.js
  packages/format-library/src/image/index.js
  packages/format-library/src/link/modal.native.js
Owners: @youknowriad, @talldan, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @Soean, @ajitbohra, @gziolo, @ntwb, @nerrad, @ghost

Conditionally include the block styles functionality (#17429)
  lib/blocks.php
  lib/load.php
Owners: @timothybjacobs

update react & react-dom & react-test-renderer to 16.9.0 (#16982)
  lib/client-assets.php
  package-lock.json
  package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  phpunit/class-vendor-script-filename-test.php
Owners: @timothybjacobs, @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan

Remove space. (#17433)
  packages/block-editor/src/components/inserter/menu.js
Owners: @youknowriad, @talldan, @ellatrix

Editor: Save post after deletion so that its status is refreshed and redirection happens. (#17427)
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Owners: @talldan

Docs: Add the docs for the `onClose` property. (#17403)
  packages/block-editor/src/components/media-upload/README.md
Owners: @youknowriad, @talldan, @ellatrix

Editor: Don't edit the post when autosaving. (#17420)
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Owners: @talldan

Add i18n for `Content Blocks`. (#17435)
  packages/block-editor/src/components/inserter/menu.js
Owners: @youknowriad, @talldan, @ellatrix

Add className for Column in editor (#17422)
  packages/block-library/src/column/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Rich Text: Add missing deprecated set focused element prop. (#17421)
  package-lock.json
  packages/rich-text/package.json
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Remove the forced gray scale from the category icons (#17415)
  packages/components/src/panel/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Heading block: move alignment controls to toolbar (#2) (#17419)
  packages/block-library/src/heading/edit.js
  packages/block-library/src/heading/heading-level-icon.js
  packages/block-library/src/heading/heading-toolbar.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix Typos (#17436)
  packages/block-directory/src/store/controls.js
  packages/block-directory/src/store/selectors.js
Owners: none

Fix featured image modal (#17410)
  packages/editor/src/components/post-featured-image/index.js
  packages/media-utils/src/components/media-upload/index.js
Owners: @talldan

Rich Text: Add missing keep placeholder on focus prop. (#17439)
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/style.scss
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Rich Text: Add missing keep placeholder on focus prop documentation. (#17445)
  packages/block-editor/src/components/rich-text/README.md
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

fix renamed import of LINE_SEPARATOR (#17447)
  packages/block-editor/src/components/rich-text/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Make BlockNavigationList component experimental (#17446)
  packages/block-editor/README.md
  packages/block-editor/src/components/index.js
  packages/block-library/src/navigation-menu/use-block-navigator.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta

Try showing move controls only for the selected block. (#17315)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/hover-area.js
Owners: @youknowriad, @talldan, @ellatrix

Block Editor: Fix undo level inconsistencies. (#17259)
  package-lock.json
  packages/core-data/package.json
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/__snapshots__/undo.test.js.snap
  packages/e2e-tests/specs/undo.test.js
  packages/editor/src/store/actions.js
Owners: @youknowriad, @nerrad, @gziolo, @ntwb, @ajitbohra, @talldan

RichText: fix isSelected (#17451)
  packages/block-editor/src/components/rich-text/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

RichText: fix invisible caret for placeholder on focus (#17450)
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Build Tooling: Generate asset file in PHP format with the list dependencies (#17298)
  lib/client-assets.php
  package-lock.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/index.js
  packages/dependency-extraction-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/dependency-extraction-webpack-plugin/test/build.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/output-format-json/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/output-format-json/webpack.config.js
  packages/scripts/CHANGELOG.md
Owners: @timothybjacobs, @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Fix build-plugin-zip.sh script to use new asset files
  bin/build-plugin-zip.sh
Owners: @ntwb, @nerrad, @ajitbohra

Editor: Ignore save edit in undo history. (#17452)
  docs/designers-developers/developers/data/data-core-editor.md
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/undo.test.js
  packages/editor/src/components/post-publish-button/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @nerrad, @gziolo, @ntwb, @talldan

ignore gradient rtl flipping in color picker (#17381)
  packages/components/src/color-picker/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Core Data: Merge merged edits with the edited record value instead of the persisted one. (#17455)
  packages/core-data/src/actions.js
Owners: @youknowriad, @nerrad

RichText: mark component in rich-text package experimental (#17453)
  packages/block-editor/src/components/rich-text/index.js
  packages/rich-text/README.md
  packages/rich-text/src/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom
