Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @mkaz, @nerrad, @mmtr, @coderkevin, @talldan, @mkevins, @ajlende, @atimmer, @ellatrix, @dmsnell, @draganescu, @noisysocks, @tellthemachines, @adamziel, @kevin940726, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @cameronvoell, @guarani, @mapk, @karmatosed, @noahtallen, @timothybjacobs, @spacedmonkey, @timothybjabocs, @ghost

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad @coderkevin
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra @talldan
/packages/block-library/src/gallery             @mkevins
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz
/packages/block-library/src/image               @ajlende

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @ellatrix
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render

# Widgets
/packages/edit-widgets                          @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726

# Navigation
/packages/edit-navigation                       @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726

# Full Site Editing
/packages/edit-site

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @mkaz
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/prettier-config                       @ntwb @gziolo

# UI Components
/packages/components                            @ajitbohra @jaymanpandya @chrisvanpatten
/packages/compose                               @ajitbohra @jaymanpandya
/packages/element                               @ajitbohra @jaymanpandya
/packages/notices                               @ajitbohra @jaymanpandya
/packages/nux                                   @ajitbohra @jaymanpandya
/packages/viewport                              @ajitbohra @jaymanpandya
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue
/packages/token-list
/packages/url                                   @talldan
/packages/wordcount
/packages/warning
/packages/keyboard-shortcuts

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @cameronvoell @guarani
/packages/rich-text                             @ellatrix @cameronvoell @guarani
/packages/block-editor/src/components/rich-text @ellatrix @cameronvoell @guarani

# Project Management
/.github                                        @mapk @karmatosed
/packages/project-management-automation

# wp-env
/packages/env                                   @noahtallen

# PHP
/lib                                            @timothybjacobs @spacedmonkey
/lib/global-styles.php                          @timothybjabocs @spacedmonkey @nosolosw
/lib/experimental-default-theme.json            @timothybjabocs @spacedmonkey @nosolosw

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

Revert date changes from branch 'replace-moment' (#27550)
  package-lock.json
  packages/date/README.md
  packages/date/package.json
  packages/date/src/index.js
  packages/date/src/test/index.js
  packages/editor/src/components/post-schedule/index.js
  packages/editor/src/components/post-schedule/label.js
Owners: none

Add a useConstrainedTabbing hook (#27544)
  package-lock.json
  packages/components/src/higher-order/with-constrained-tabbing/index.js
  packages/compose/README.md
  packages/compose/package.json
  packages/compose/src/hooks/use-constrained-tabbing/README.md
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-constrained-tabbing/index.native.js
  packages/compose/src/index.js
  packages/compose/src/index.native.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten, @ghost

Fix Media & Text “crop image to fill” to work with linked media (#27211)
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/style.scss
Owners: @ajitbohra, @talldan

Revert "Verse Block: Adds support for custom padding (#27341)" (#27561)
  docs/designers-developers/developers/themes/theme-json.md
  packages/block-library/src/verse/block.json
  packages/block-library/src/verse/editor.scss
  packages/e2e-tests/fixtures/blocks/core__verse.html
  packages/e2e-tests/fixtures/blocks/core__verse.json
  packages/e2e-tests/fixtures/blocks/core__verse.parsed.json
  packages/e2e-tests/fixtures/blocks/core__verse.serialized.html
Owners: @chrisvanpatten, @mkaz, @ajitbohra, @talldan, @ntwb, @nerrad

Update the backup icon to better align with WordPress icon package dna (#27465)
  packages/icons/src/library/backup.js
Owners: none

useMediaQuery: make it safe for SSR environments without window (#27542)
  packages/compose/src/hooks/use-media-query/index.js
Owners: @ajitbohra, @jaymanpandya

Query block: Allow inheriting the global query arguments (#27128)
  packages/block-library/src/query-loop/edit.js
  packages/block-library/src/query-loop/index.php
  packages/block-library/src/query/block.json
  packages/block-library/src/query/edit/query-inspector-controls.js
  packages/e2e-tests/fixtures/blocks/core__query.json
Owners: @ajitbohra, @talldan, @ntwb, @nerrad

Add webpack 5 support to dependency-extraction-webpack-plugin (#27533)
  package-lock.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/lib/index.js
  packages/dependency-extraction-webpack-plugin/lib/types.d.ts
  packages/dependency-extraction-webpack-plugin/lib/util.js
  packages/dependency-extraction-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/dependency-extraction-webpack-plugin/test/build.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/with-externs/index.js
  packages/dependency-extraction-webpack-plugin/test/fixtures/with-externs/webpack.config.js
  packages/dependency-extraction-webpack-plugin/tsconfig.json
  tsconfig.json
Owners: @gziolo

Extract the focusOnMount hook from the Popover component (#27574)
  packages/components/src/popover/index.js
  packages/compose/README.md
  packages/compose/src/hooks/use-focus-on-mount/README.md
  packages/compose/src/hooks/use-focus-on-mount/index.js
  packages/compose/src/index.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Fixes the width on the circle color picker popover (#27523)
  packages/components/src/circular-option-picker/style.scss
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Bump plugin version to 9.5.1
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

e2e tests: Run datepicker and scheduling tests in different timezones
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/change-site-timezone.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  packages/e2e-tests/specs/editor/various/scheduling.test.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

CI: Run package/date unit tests in different timezones (#27552)
  .github/workflows/unit-test.yml
Owners: @mapk, @karmatosed

[Mobile] Treat a string that only contains the formatting marker as empty for block formatting (#27583)
  packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java
  packages/react-native-editor/CHANGELOG.md
Owners: none

Add missing @wordpress/components/CHANGELOG.md entry (#27576)
  packages/components/CHANGELOG.md
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Minor changes to release docs for clarity. (#27571)
  docs/contributors/release.md
Owners: @chrisvanpatten, @ajitbohra

wp-env: Xdebug support (#27346)
  .vscode/launch.json
  packages/env/CHANGELOG.md
  packages/env/README.md
  packages/env/lib/build-docker-compose-config.js
  packages/env/lib/cli.js
  packages/env/lib/commands/start.js
  packages/env/lib/init-config.js
  packages/env/lib/parse-xdebug-mode.js
  packages/env/test/parse-xdebug-mode.js
Owners: @noahtallen

Remove default icon from PluginBlockSettingsMenuItem (#21392)
  packages/edit-post/src/components/block-settings-menu/plugin-block-settings-menu-item.js
Owners: none

Packages: Make it possible to select minimum version bump for publishing (#27459)
  bin/plugin/commands/packages.js
Owners: @ntwb, @nerrad, @ajitbohra

Update the registration examples to use apiVersion 2 (#26100)
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/richtext.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
  docs/designers-developers/developers/tutorials/create-block/block-anatomy.md
  docs/designers-developers/developers/tutorials/create-block/block-code.md
  docs/designers-developers/developers/tutorials/create-block/wp-plugin.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  packages/block-editor/src/components/block-vertical-alignment-toolbar/README.md
  packages/block-editor/src/components/inner-blocks/README.md
  packages/block-editor/src/components/inspector-controls/README.md
  packages/blocks/README.md
  packages/server-side-render/README.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra, @ellatrix

Document the useBlockWrapper hook in the block registration docs (#26592)
  docs/designers-developers/developers/block-api/block-edit-save.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Remove autoFocus prop from URLInput and from the inserter search form (#27578)
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-form.js
  packages/block-editor/src/components/link-control/index.js
  packages/block-editor/src/components/link-control/test/index.js
  packages/block-editor/src/components/url-input/README.md
  packages/block-editor/src/components/url-input/index.js
  packages/block-library/src/navigation-link/edit.js
  packages/e2e-tests/specs/editor/blocks/buttons.test.js
  packages/edit-post/src/components/layout/popover-wrapper.js
  packages/edit-site/src/components/editor/popover-wrapper.js
  packages/edit-widgets/src/components/layout/popover-wrapper.js
  packages/format-library/src/link/inline.js
Owners: @ellatrix, @ajitbohra, @talldan, @ntwb, @nerrad, @draganescu, @noisysocks, @tellthemachines, @adamziel, @kevin940726, @cameronvoell, @guarani

Increase radio dimensions to match checkboxes (#27377)
  packages/base-styles/_mixins.scss
  packages/base-styles/_variables.scss
  packages/editor/src/components/post-visibility/style.scss
Owners: none

Create block: Use Block API version 2 (#26098)
  packages/create-block/CHANGELOG.md
  packages/create-block/README.md
  packages/create-block/lib/init-block-json.js
  packages/create-block/lib/scaffold.js
  packages/create-block/lib/templates.js
  packages/create-block/lib/templates/es5/index.js.mustache
  packages/create-block/lib/templates/es5/readme.txt.mustache
  packages/create-block/lib/templates/esnext/readme.txt.mustache
  packages/create-block/lib/templates/esnext/src/edit.js.mustache
  packages/create-block/lib/templates/esnext/src/index.js.mustache
Owners: @gziolo, @mkaz

Code Quality: Use store definition instead of string for notices packages (#27548)
  packages/block-directory/src/index.js
  packages/block-directory/src/store/actions.js
  packages/block-directory/src/store/test/actions.js
  packages/block-editor/src/components/copy-handler/index.js
  packages/block-editor/src/components/inserter/hooks/use-patterns-state.js
  packages/block-editor/src/components/media-replace-flow/index.js
  packages/block-editor/src/index.js
  packages/block-library/src/block/edit.js
  packages/block-library/src/image/image-editing/use-save-image.js
  packages/block-library/src/image/image.js
  packages/block-library/src/index.js
  packages/block-library/src/template-part/edit/selection/template-part-previews.js
  packages/edit-navigation/src/components/header/add-menu-form.js
  packages/edit-navigation/src/components/layout/use-menu-notifications.js
  packages/edit-navigation/src/components/notices/index.js
  packages/edit-navigation/src/index.js
  packages/edit-navigation/src/store/actions.js
  packages/edit-navigation/src/store/test/actions.js
  packages/edit-post/src/components/admin-notices/index.js
  packages/edit-post/src/index.js
  packages/edit-post/src/index.native.js
  packages/edit-post/src/plugins/copy-content-menu-item/index.js
  packages/edit-site/src/components/notices/index.js
  packages/edit-site/src/index.js
  packages/edit-widgets/src/components/notices/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/editor/src/components/editor-notices/index.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/components/provider/index.js
  packages/editor/src/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
  packages/notices/src/store/index.js
  packages/reusable-blocks/src/components/reusable-blocks-menu-items/reusable-block-convert-button.js
  packages/reusable-blocks/src/index.js
Owners: @ellatrix, @ajitbohra, @talldan, @ajlende, @draganescu, @noisysocks, @tellthemachines, @adamziel, @kevin940726, @ghost, @jaymanpandya

Fix custom generic store without a unsubscribe function (#27634)
  packages/data/src/components/use-select/index.js
  packages/data/src/components/use-select/test/index.js
Owners: @nerrad, @coderkevin

Refactor withFocusOutside to hook (#27369)
  packages/components/src/higher-order/with-focus-outside/index.js
  packages/components/src/higher-order/with-focus-outside/index.native.js
  packages/compose/src/hooks/use-focus-outside/index.js
  packages/compose/src/hooks/use-focus-outside/index.native.js
  packages/compose/src/hooks/use-focus-outside/test/index.js
  packages/compose/src/index.js
  packages/compose/src/index.native.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten, @ghost

Bump plugin version to 9.5.2
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Refactor the EditorProvider component and extract hooks (#27605)
  packages/editor/src/components/provider/index.js
  packages/editor/src/components/provider/use-block-editor-settings.js
  packages/editor/src/components/provider/use-post-content-editor.js
Owners: none

Fix changelog for 9.5.2 (#27638)
  changelog.txt
Owners: none

Add a useFocusReturn hook (#27572)
  packages/components/src/higher-order/with-focus-return/README.md
  packages/components/src/higher-order/with-focus-return/context.js
  packages/components/src/higher-order/with-focus-return/index.js
  packages/components/src/higher-order/with-focus-return/test/index.js
  packages/components/src/modal/frame.js
  packages/compose/README.md
  packages/compose/src/hooks/use-constrained-tabbing/README.md
  packages/compose/src/hooks/use-focus-return/README.md
  packages/compose/src/hooks/use-focus-return/index.js
  packages/compose/src/index.js
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-site/src/components/editor/index.js
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten, @draganescu, @talldan, @noisysocks, @tellthemachines, @adamziel, @kevin940726

Adjust mobile margins for the Query block's grid view (#27619)
  packages/block-library/src/query-loop/style.scss
Owners: @ajitbohra, @talldan

Allow Query Loop only inside Query block (#27637)
  packages/block-library/src/query-loop/index.js
Owners: @ajitbohra, @talldan

Precise that element ref returned by the hooks that return a ref can change between function or object (#27610)
  packages/compose/README.md
  packages/compose/src/hooks/use-constrained-tabbing/README.md
  packages/compose/src/hooks/use-constrained-tabbing/index.js
  packages/compose/src/hooks/use-focus-on-mount/README.md
  packages/compose/src/hooks/use-focus-on-mount/index.js
Owners: @ajitbohra, @jaymanpandya

Add a document explaining the different block API versions (#26277)
  docs/designers-developers/developers/block-api/versions.md
  docs/manifest.json
  docs/toc.json
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Remove line height from site logo (#27623)
  packages/block-library/src/site-logo/style.scss
Owners: @ajitbohra, @talldan

Add a rounded style to the site logo block (#27621)
  packages/block-library/src/site-logo/index.js
  packages/block-library/src/site-logo/style.scss
Owners: @ajitbohra, @talldan

CI: Run date test timezone and locale variations using bash script (#27600)
  .github/workflows/unit-test.yml
  bin/unit-test-date.sh
  package.json
Owners: @mapk, @karmatosed, @ntwb, @nerrad, @ajitbohra

Add explicit dismiss button and on dismiss callback to snackbar (#26952)
  docs/designers-developers/developers/data/data-core-notices.md
  packages/components/src/snackbar/index.js
  packages/components/src/snackbar/stories/index.js
  packages/components/src/snackbar/style.scss
  packages/notices/src/store/actions.js
  packages/notices/src/store/test/actions.js
  packages/notices/src/store/test/reducer.js
Owners: @chrisvanpatten, @mkaz, @ajitbohra, @jaymanpandya

Add escaping functions to code examples (#27603)
  docs/designers-developers/developers/themes/theme-support.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra
