Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Try a fixed toolbar in the navigation page (#21340)
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/menu-editor/block-editor-panel.js
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
  packages/edit-navigation/src/components/menu-editor/style.scss
Owners: none

Fix panel collapsing in navigation page (#21633)
  packages/edit-navigation/src/components/menu-editor/block-editor-panel.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
  packages/edit-navigation/src/components/menu-editor/style.scss
Owners: none

Fix: Remove unrequired margins from the columns block (#21615)
  packages/block-library/src/columns/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix buttons styling for old markup (#21642)
  packages/block-library/src/button/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update e2e test for multi-entity saving in site editor (#21363)
  packages/e2e-test-utils/src/open-global-block-inserter.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Fix: Make sidebars pinned by default. (#21645)
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/interface/src/components/complementary-area/index.js
  packages/interface/src/store/defaults.js
  packages/interface/src/store/reducer.js
  packages/interface/src/store/selectors.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Bump plugin version to 7.9.1
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Remove storyshot integration for storybook
  docs/contributors/testing-overview.md
  package-lock.json
  package.json
  packages/components/src/slot-fill/stories/index.js
  storybook/README.md
  storybook/test/__snapshots__/index.js.snap
  storybook/test/index.js
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @jaymanpandya, @jorgefilipecosta

Simplify Reusable Block description. (#21470)
  packages/block-library/src/block/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add storybook story for Notice component
  packages/components/src/notice/stories/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Docs: Add location for components style.css (#21654)
  docs/designers-developers/developers/platform/README.md
  packages/components/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @jaymanpandya, @jorgefilipecosta

Add storybook story for toolbar button component
  packages/components/src/toolbar-button/stories/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Add storybook story for DropdownMenu component
  packages/components/src/dropdown-menu/stories/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Add the storybook story for the GradientPicker component
  packages/components/src/gradient-picker/stories/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Add the storybook story for the CustomGradientPicker component
  packages/components/src/custom-gradient-picker/stories/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Only use second column on desktop (#21638)
  packages/edit-navigation/src/components/menu-editor/style.scss
Owners: none

Allow wrapping for Navigation block links (#21632)
  packages/block-library/src/navigation/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Storybook: Adds FormToggle component (#18085)
  packages/components/src/form-toggle/stories/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Template Switcher: Add current theme (#21578)
  docs/designers-developers/developers/data/data-core.md
  lib/rest-api.php
  packages/core-data/README.md
  packages/core-data/src/actions.js
  packages/core-data/src/reducer.js
  packages/core-data/src/resolvers.js
  packages/core-data/src/selectors.js
  packages/edit-site/src/components/template-switcher/index.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs, @nerrad

Fix the JSDoc return type for getEntityRecords (#21630)
  docs/designers-developers/developers/data/data-core.md
  packages/core-data/README.md
  packages/core-data/src/selectors.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @nerrad

Add end to end test for pinned items (#21652)
  packages/e2e-tests/plugins/plugins-api/sidebar.js
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/e2e-tests/specs/editor/plugins/plugins-api.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Make useMediaQuery return the correct value on the first render (#21682)
  packages/compose/src/hooks/use-media-query/index.js
  packages/compose/src/hooks/use-media-query/test/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta

Block API: Add Block Context support (#21467)
  docs/designers-developers/developers/block-api/block-context.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  docs/manifest.json
  docs/toc.json
  lib/class-wp-block.php
  lib/compat.php
  lib/load.php
  package-lock.json
  packages/block-editor/README.md
  packages/block-editor/src/components/block-context/README.md
  packages/block-editor/src/components/block-context/index.js
  packages/block-editor/src/components/block-edit/edit.js
  packages/block-editor/src/components/block-edit/test/edit.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inner-blocks/index.js
  packages/block-library/src/post-title/block.json
  packages/block-library/src/post-title/edit.js
  packages/block-library/src/post-title/index.php
  packages/core-data/package.json
  packages/core-data/src/resolvers.js
  packages/core-data/src/utils/if-not-resolved.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/test/if-not-resolved.js
  packages/e2e-tests/plugins/block-context.php
  packages/e2e-tests/plugins/block-context/index.js
  packages/e2e-tests/specs/editor/plugins/block-context.test.js
  packages/editor/src/components/provider/index.js
  packages/eslint-plugin/configs/jsdoc.js
  phpunit/class-block-context-test.php
  phpunit/class-wp-block-test.php
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs, @ellatrix, @ghost, @Soean, @jorgefilipecosta, @talldan, @nerrad, @ntwb, @gziolo

Build Tools: Install Composer dependencies as prelint step (#21537)
  .travis.yml
  package.json
Owners: none

Build Tooling: Configure Webpack to watch only build files (#21489)
  webpack.config.js
Owners: none

Keycodes: Test modifiers for keyboard event as exclusive set (#20733)
  packages/keycodes/CHANGELOG.md
  packages/keycodes/src/index.js
  packages/keycodes/src/test/index.js
Owners: @talldan, @ellatrix

Components: Fix focus loss for Guide Finish button in IE (#20599)
  packages/components/src/guide/finish-button.js
  packages/editor/src/components/post-title/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

ESLint Plugin: Fix no-unused-vars-before-return JSX identifier reference (#21358)
  packages/block-library/src/social-link/edit.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
Owners: @mkaz, @gziolo, @ntwb, @nerrad, @ajitbohra

Fix: Legacy widgets z-index issue (#21586)
  packages/block-library/src/legacy-widget/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Remove nested breakpoint in fullscreen-mode CSS (#21496)
  packages/interface/src/components/fullscreen-mode/style.scss
Owners: none

Translated Tutorial of sidebar Step 4
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-4-initialize-input.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Scripts: Install Chromium on demand together with `test-e2e` (#20215)
  .travis.yml
  bin/build-plugin-zip.sh
  package-lock.json
  package.json
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/media-utils/src/utils/upload-media.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  packages/scripts/scripts/test-e2e.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan, @youknowriad, @gziolo

Add @mikehaydon to contributors (#21706)
  CONTRIBUTORS.md
Owners: none

Translated Tutorial Sidebar Step 5
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-3-register-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-4-initialize-input.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-5-update-meta.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Change wp_make_content_images_responsive to wp_filter_content_tags (#21514)
  lib/template-loader.php
  packages/block-library/src/template-part/index.php
Owners: @timothybjacobs, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add test. (#20605)
  packages/e2e-tests/specs/editor/various/reusable-blocks.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

[Mobile] Cover block uploads failure UI (#21198)
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/cover/style.native.scss
Owners: @ghost

[RNMobile] Buttons block (#20191)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/button-block-appender/index.native.js
  packages/block-editor/src/components/button-block-appender/styles.native.scss
  packages/block-editor/src/components/inner-blocks/button-block-appender.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-editor/src/hooks/index.native.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/button/editor.native.scss
  packages/block-library/src/button/index.native.js
  packages/block-library/src/buttons/edit.native.js
  packages/block-library/src/buttons/editor.native.scss
  packages/block-library/src/index.native.js
  packages/rich-text/src/component/index.native.js
Owners: @ghost, @youknowriad, @ellatrix

Use media caption attribute. (#21611)
  packages/block-library/src/image/edit.native.js
Owners: @ghost

Update the index of Block API to reflect current contents (#21726)
  docs/designers-developers/developers/block-api/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra
