Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Align plus icon for the iOS Stepper control to the middle of it's container (#21434)
  packages/components/src/mobile/bottom-sheet/stepper-cell/stepper.ios.js
  packages/components/src/mobile/bottom-sheet/stepper-cell/style.native.scss
Owners: @ghost

Add the possibility to support gradients using the experimental color support flag (#21481)
  packages/block-editor/README.md
  packages/block-editor/src/components/gradients/index.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/style.js
Owners: @youknowriad, @ellatrix

Update and massage social links colors. (#21474)
  packages/block-library/src/social-links/style.scss
Owners: @mkaz

[RNMobile] - Layout Picker - Keyboard visibility improvements (#21463)
  packages/block-editor/src/components/page-template-picker/picker.native.js
Owners: @ghost

Add gradients support to Group, columns and media & text blocks (#21375)
  packages/block-library/src/columns/index.js
  packages/block-library/src/group/index.js
  packages/block-library/src/media-text/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

fix/[#21440] Copy/cut input values copying entire block (#21457)
  packages/dom/README.md
  packages/dom/src/dom.js
  packages/dom/src/test/dom.js
Owners: @ellatrix

[RNMobile] Column block (#19013)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/button-block-appender/index.native.js
  packages/block-editor/src/components/inner-blocks/button-block-appender.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/block-library/src/column/index.native.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/columns/editor.native.scss
  packages/block-library/src/group/edit.native.js
  packages/block-library/src/index.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
  packages/components/src/mobile/readable-content-view/index.native.js
Owners: @ghost, @youknowriad, @ellatrix

Add radio option to ButtonGroup (#20805)
  docs/manifest.json
  packages/components/src/button-group/index.js
  packages/components/src/date-time/test/__snapshots__/time.js.snap
  packages/components/src/index.js
  packages/components/src/radio-context/index.js
  packages/components/src/radio-control/README.md
  packages/components/src/radio-group/README.md
  packages/components/src/radio-group/index.js
  packages/components/src/radio-group/stories/index.js
  packages/components/src/radio/index.js
  packages/components/src/radio/stories/index.js
  storybook/test/__snapshots__/index.js.snap
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @jaymanpandya, @jorgefilipecosta

Fix reusable block horizontal padding regression. (#21312)
  packages/block-library/src/block/edit-panel/editor.scss
  packages/block-library/src/block/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Framework: Add package-lock precommit check for latest NPM (#21306)
  bin/check-latest-npm.js
  bin/tsconfig.json
  package-lock.json
  package.json
  packages/create-block/package.json
  packages/e2e-tests/package.json
  packages/env/package.json
  packages/eslint-plugin/configs/jsdoc.js
  packages/scripts/package.json
Owners: @ntwb, @nerrad, @ajitbohra, @gziolo, @talldan, @epiqueras, @noahtallen, @noisysocks, @youknowriad

[RNMobile] - Blog layout template (#21426)
  packages/block-editor/src/components/page-template-picker/default-templates.native.js
  packages/block-editor/src/components/page-template-picker/templates/blog.native.js
  packages/block-editor/src/components/page-template-picker/templates/index.native.js
Owners: @ghost

Fix Snackbar notice bottom margin. (#18858)
  packages/edit-post/src/components/layout/style.scss
Owners: none

Block API: Add new utility to register block types from metadata in PHP (#20794)
  lib/compat.php
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-comments-count/index.php
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-content/index.php
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-excerpt/index.php
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-tags/index.php
  packages/block-library/src/post-title/index.php
  packages/block-library/src/shortcode/index.php
  packages/block-library/src/site-title/index.php
  packages/block-library/src/social-link/index.php
  phpunit/class-register-block-type-from-metadata-test.php
  phpunit/fixtures/block.json
Owners: @timothybjacobs, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @mkaz

ESLint Plugin: Update ESLint and related deps to 6.8.x (#21424)
  .eslintrc.js
  package-lock.json
  package.json
  packages/README.md
  packages/block-editor/src/components/page-template-picker/use-page-template-picker.native.js
  packages/block-editor/src/components/page-template-picker/with-page-template-picker.native.js
  packages/block-serialization-spec-parser/.eslintrc.json
  packages/data/src/namespace-store/test/index.js
  packages/data/src/test/registry.js
  packages/env/test/config.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/jest-console/src/test/index.test.js
  packages/redux-routine/src/test/index.js
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Owners: @ghost, @dmsnell, @youknowriad, @nerrad, @coderkevin, @epiqueras, @noahtallen, @noisysocks, @gziolo, @ntwb, @ajitbohra

Jest Preset: Major version upgrade for Jest in all packages (#20766)
  package-lock.json
  package.json
  packages/README.md
  packages/components/src/higher-order/with-focus-return/test/index.js
  packages/components/src/navigable-container/test/menu.js
  packages/components/src/navigable-container/test/tabbable.js
  packages/components/src/popover/test/index.js
  packages/components/src/sandbox/test/index.js
  packages/components/src/toolbar-group/test/index.js
  packages/components/src/toolbar/test/index.js
  packages/create-block/package.json
  packages/e2e-tests/package.json
  packages/env/package.json
  packages/jest-console/package.json
  packages/jest-preset-default/CHANGELOG.md
  packages/jest-preset-default/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
  storybook/test/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten, @gziolo, @ntwb, @nerrad, @talldan, @epiqueras, @noahtallen, @noisysocks

[RNMobile] Pullquote block (#20952)
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-library/src/index.native.js
  packages/block-library/src/pullquote/blockquote.js
  packages/block-library/src/pullquote/blockquote.native.js
  packages/block-library/src/pullquote/blockquote.native.scss
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/figure.js
  packages/block-library/src/pullquote/figure.native.js
  packages/block-library/src/pullquote/figure.native.scss
Owners: @ghost, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Document getAnchorRect prop for Popover component. (#17709)
  packages/components/src/popover/README.md
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Fix: `$black` background-color remains visible when there is n… (#20904)
  packages/block-library/src/cover/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

[Mobile] Enable cover block uploads - dev only (#21196)
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/cover/edit.native.js
  packages/components/src/mobile/image-with-focalpoint/index.native.js
Owners: @ghost

Translated sidebar step3
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-3-register-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-4-initialize-input.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Update the buttons block to use the new color support flag. (#21266)
  packages/block-library/src/button/block.json
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/editor.scss
  packages/block-library/src/button/index.js
  packages/block-library/src/button/save.js
  packages/block-library/src/button/style.scss
  packages/block-library/src/buttons/style.scss
  packages/e2e-tests/fixtures/blocks/core__button__center.serialized.html
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.html
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__button__center__deprecated.serialized.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.html
  packages/e2e-tests/fixtures/blocks/core__button__squared.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.parsed.json
  packages/e2e-tests/fixtures/blocks/core__button__squared.serialized.html
  packages/e2e-tests/fixtures/blocks/core__buttons.html
  packages/e2e-tests/fixtures/blocks/core__buttons.json
  packages/e2e-tests/fixtures/blocks/core__buttons.parsed.json
  packages/e2e-tests/fixtures/blocks/core__buttons.serialized.html
  packages/e2e-tests/specs/editor/blocks/__snapshots__/buttons.test.js.snap
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Make dateI18n returns be affected by `gmt` parameter (#18982)
  packages/date/README.md
  packages/date/src/index.js
  packages/date/src/test/index.js
Owners: none

Make submenus usable on mobile. (#21471)
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/block-library/src/navigation/theme.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Adding a new keyboard shortcut to toggle Fullscreen Mode. (#21436)
  packages/edit-post/src/components/keyboard-shortcuts/index.js
Owners: none

Build Tooling: Check Latest NPM: Advise additional npm install (#21521)
  bin/check-latest-npm.js
Owners: @ntwb, @nerrad, @ajitbohra

Skip RTL for Separator spacing (#21525)
  packages/block-library/src/separator/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Docs: Add section in block RFC about register_block_type_from_metadata (#21501)
  docs/rfc/block-registration.md
  lib/compat.php
Owners: @chrisvanpatten, @ajitbohra, @timothybjacobs

Typescript: Exclude mobile files (#21491)
  tsconfig.base.json
Owners: none

Enable prettier for JSX files (#21151)
  packages/scripts/scripts/format-js.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Allow reusable block top and bottom paddings to collapse. (#21472)
  packages/block-library/src/block/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Try: Inset borders. (#21498)
  packages/block-editor/src/components/block-list/style.scss
  packages/components/src/placeholder/style.scss
Owners: @youknowriad, @ellatrix, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Update the post comments block
  packages/block-library/src/post-comments/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Rnmobile/fix font size breakage (#21527)
  packages/block-editor/src/hooks/index.native.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-editor/src/hooks/style.js
Owners: @ghost, @youknowriad, @ellatrix

Primitives: Add types (#21482)
  package-lock.json
  package.json
  packages/block-editor/src/components/color-palette/test/__snapshots__/control.js.snap
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/header/plugin-more-menu-item/test/__snapshots__/index.js.snap
  packages/edit-post/src/components/options-modal/options/test/__snapshots__/enable-custom-fields.js.snap
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/svg/index.js
  packages/primitives/tsconfig.json
  storybook/test/__snapshots__/index.js.snap
  tsconfig.json
Owners: @youknowriad, @ellatrix, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Refactor env commands into separate files (#21353)
  packages/env/lib/commands/clean.js
  packages/env/lib/commands/index.js
  packages/env/lib/commands/run.js
  packages/env/lib/commands/start.js
  packages/env/lib/commands/stop.js
  packages/env/lib/env.js
  packages/env/lib/init-config.js
  packages/env/lib/retry.js
  packages/env/lib/wordpress.js
Owners: @epiqueras, @noahtallen, @noisysocks

ESLint Plugin: Continue considering unused variables after encountering exception (#21354)
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/line-height-control/index.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/social-link/edit.js
  packages/edit-post/src/components/header/mode-switcher/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @mkaz, @gziolo, @ntwb, @nerrad

Icons: Add types (#21487)
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/icons/src/icon/index.js
  packages/icons/src/icon/stories/index.js
  packages/icons/tsconfig.json
  packages/primitives/src/svg/index.js
  tsconfig.json
Owners: none

G2 visual followup (#21476)
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/button-block-appender/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-library/src/paragraph/editor.scss
  packages/components/src/button/style.scss
  packages/components/src/dropdown-menu/style.scss
  packages/components/src/dropdown/index.js
  packages/components/src/notice/style.scss
  packages/components/src/popover/index.js
  packages/components/src/popover/style.scss
  packages/components/src/toolbar/style.scss
  packages/icons/src/library/post-list.js
  storybook/test/__snapshots__/index.js.snap
Owners: @youknowriad, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @Soean, @ajitbohra, @talldan, @jaymanpandya, @chrisvanpatten

Fix inserter popover direction. (#21556)
  packages/block-editor/src/components/block-list/insertion-point.js
  packages/block-editor/src/components/button-block-appender/index.js
Owners: @youknowriad, @ellatrix

Correct slider step accordingly to the platform (#21451)
  packages/block-library/src/spacer/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan
