Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Deleted workflows
  .github/workflows/bundle-size.yml
  .github/workflows/pull-request-automation.yml
Owners: @youknowriad, @mapk, @karmatosed

Moved from private repository
  docs/contributors/design.md
  docs/contributors/principles.md
  docs/contributors/readme.md
  docs/designers-developers/designers/README.md
  docs/designers-developers/developers/README.md
  docs/designers-developers/developers/data/README.md
  docs/designers-developers/developers/packages.md
  docs/designers-developers/developers/themes/README.md
  docs/designers-developers/developers/themes/block-based-themes.md
  docs/designers-developers/developers/tutorials/block-tutorial/applying-styles-with-stylesheets.md
  docs/designers-developers/developers/tutorials/block-tutorial/block-controls-toolbar-and-sidebar.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/generate-blocks-with-wp-cli.md
  docs/designers-developers/developers/tutorials/block-tutorial/introducing-attributes-and-editable-fields.md
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/readme.md
  docs/designers-developers/developers/tutorials/block-tutorial/writing-your-first-block-type.md
  docs/designers-developers/developers/tutorials/javascript/extending-the-block-editor.md
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  docs/designers-developers/developers/tutorials/javascript/loading-javascript.md
  docs/designers-developers/developers/tutorials/javascript/plugins-background.md
  docs/designers-developers/developers/tutorials/javascript/readme.md
  docs/designers-developers/developers/tutorials/javascript/scope-your-code.md
  docs/designers-developers/developers/tutorials/javascript/troubleshooting.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-1-intro.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-2-register-meta.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
  docs/designers-developers/developers/tutorials/metabox/readme.md
  docs/designers-developers/developers/tutorials/readme.md
  docs/designers-developers/faq.md
  docs/readme.md
  packages/components/README.md
  packages/env/README.md
Owners: @chrisvanpatten, @ajitbohra, @mkaz, @youknowriad, @jaymanpandya, @jorgefilipecosta, @epiqueras, @noahtallen, @noisysocks

Replaced top page
  README.md
Owners: none

Translated tutorial Add Meta Block
  docs/designers-developers/developers/tutorials/metabox/meta-block-1-intro.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Translated tutorial 3 done
  docs/designers-developers/developers/tutorials/metabox/meta-block-1-intro.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-4-use-data.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-5-finishing.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Docs: Fix redux.js.org links (#21228)
  packages/data/README.md
Owners: @youknowriad, @nerrad, @coderkevin

Translated @wordpress/create-block
  docs/designers-developers/developers/packages.md
  docs/designers-developers/developers/tutorials/readme.md
  packages/create-block/README.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @gziolo

Translated notices
  docs/contributors/principles.md
  docs/designers-developers/developers/tutorials/notices/README.md
  docs/designers-developers/developers/tutorials/readme.md
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz

Translated tuturial 5 sidebar 0
  docs/designers-developers/developers/tutorials/readme.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Change hasItems to look at filteredItems in block editor inserter (#21138)
  packages/block-editor/src/components/inserter/block-list.js
Owners: @youknowriad, @ellatrix

docs(env): escape pipes in table cells (#20660)
  packages/env/README.md
Owners: @epiqueras, @noahtallen, @noisysocks

Env: Bind "core" files to tests environment (#21195)
  packages/env/lib/build-docker-compose-config.js
Owners: @epiqueras, @noahtallen, @noisysocks

Components: Add test on SlotFill (#21226)
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
  packages/components/src/slot-fill/test/__snapshots__/slot.js.snap
  packages/components/src/slot-fill/test/slot.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Fix cell align when isSelected is used. (#21227)
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
Owners: @ghost

[RNMobile] Enable edit button over Image blocks for Android (#21165)
  packages/block-library/src/image/edit.native.js
Owners: @ghost

Disable Category selection in release (#21203)
  packages/block-library/src/latest-posts/edit.native.js
Owners: @ghost

[ Latest Posts ] Fixes the read more link added by themes in Latest Posts (#20541)
  packages/block-library/src/latest-posts/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update Template Selector: (#21202)
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/components/template-switcher/style.scss
Owners: none

Fix fullwide regression. (#21201)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Fix sibling inserter being unclickable. (#21232)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Move the typography panel under the text settings one
  packages/block-editor/src/hooks/line-height.js
Owners: @youknowriad, @ellatrix

Refactor the Media&text block to use the new color support flag (#21169)
  packages/block-library/src/media-text/block.json
  packages/block-library/src/media-text/deprecated.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/index.js
  packages/block-library/src/media-text/save.js
  packages/block-library/src/media-text/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add block selection performance test (#21230)
  package-lock.json
  package.json
  packages/e2e-tests/config/performance-reporter.js
  packages/e2e-tests/package.json
  packages/e2e-tests/specs/performance/performance.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Prevent the cover block from overriding the children blocks colors (#21254)
  packages/block-library/src/cover/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Heading: Add line height support (#21215)
  packages/block-library/src/heading/index.js
  packages/block-library/src/heading/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Small tweak to the interim patterns library. (#21263)
  packages/block-editor/src/components/block-patterns/style.scss
Owners: @youknowriad, @ellatrix

[ Latest Posts ] Fixes the read more link generation to use JSX (#21170)
  packages/block-library/src/latest-posts/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix YouTube Embed block from flickering and crashing in Safari (#21225)
  packages/components/src/sandbox/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Add new icons: tablet, mobile, desktop, font. (#21261)
  packages/icons/src/index.js
  packages/icons/src/library/desktop.js
  packages/icons/src/library/mobile.js
  packages/icons/src/library/tablet.js
  packages/icons/src/library/typography.js
  storybook/test/__snapshots__/index.js.snap
Owners: none

Cover: Add custom unit support for height controls (#20888)
  docs/manifest.json
  lib/client-assets.php
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/unit-control/index.js
  packages/block-library/src/cover/block.json
  packages/block-library/src/cover/edit.js
  packages/block-library/src/cover/save.js
  packages/block-library/src/cover/shared.js
  packages/components/src/index.js
  packages/components/src/number-control/README.md
  packages/components/src/number-control/index.js
  packages/components/src/number-control/stories/index.js
  packages/components/src/number-control/test/index.js
  packages/components/src/unit-control/README.md
  packages/components/src/unit-control/index.js
  packages/components/src/unit-control/stories/index.js
  packages/components/src/unit-control/styles/unit-control-styles.js
  packages/components/src/unit-control/test/index.js
  packages/components/src/unit-control/unit-select-control.js
  packages/components/src/unit-control/utils.js
  packages/components/src/utils/colors-values.js
  packages/editor/src/components/provider/index.js
  storybook/test/__snapshots__/index.js.snap
Owners: @chrisvanpatten, @ajitbohra, @timothybjacobs, @youknowriad, @ellatrix, @Soean, @jorgefilipecosta, @talldan, @jaymanpandya

Templates: Remove duplicate queries fetching template parts (#18878)
  lib/template-loader.php
Owners: @timothybjacobs

Chore: Fix: Hide pin-unpin button from edit-site sidebar (#21260)
  packages/e2e-tests/specs/editor/plugins/__snapshots__/plugins-api.test.js.snap
  packages/edit-site/src/style.scss
  packages/interface/src/components/complementary-area/index.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Add 'It's Time' pattern (#21132)
  lib/client-assets.php
  lib/patterns/its-time.json
Owners: @timothybjacobs

Add 'Numbered Features' pattern (#21131)
  lib/client-assets.php
  lib/patterns/numbered-features.json
Owners: @timothybjacobs

Add 'Hero Two Columns' pattern (#21128)
  lib/client-assets.php
  lib/patterns/hero-two-columns.json
Owners: @timothybjacobs

Preload the edited template to avoid the white page effect before the screen loads (#21214)
  lib/edit-site-page.php
  packages/block-editor/src/hooks/color.js
Owners: @timothybjacobs, @youknowriad, @ellatrix

First pass at Navigation screen (#21036)
  docs/manifest.json
  gutenberg.php
  lib/client-assets.php
  lib/experiments-page.php
  lib/load.php
  lib/navigation-page.php
  package-lock.json
  package.json
  packages/block-library/src/navigation/edit.js
  packages/core-data/src/entities.js
  packages/edit-navigation/.npmrc
  packages/edit-navigation/README.md
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/style.scss
  packages/edit-navigation/src/components/menu-editor/use-navigation-blocks.js
  packages/edit-navigation/src/components/menu-locations-editor/index.js
  packages/edit-navigation/src/components/menus-editor/index.js
  packages/edit-navigation/src/index.js
  packages/edit-navigation/src/style.scss
Owners: @chrisvanpatten, @ajitbohra, @timothybjacobs, @Soean, @jorgefilipecosta, @talldan, @youknowriad, @nerrad

Block library: allow changing the tagName for the Group block (#20218)
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-library/src/group/block.json
  packages/block-library/src/group/deprecated.js
  packages/block-library/src/group/edit.js
  packages/block-library/src/group/save.js
  packages/e2e-tests/fixtures/blocks/core__group.json
  packages/e2e-tests/fixtures/blocks/core__group.parsed.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated-2.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.json
  packages/e2e-tests/fixtures/blocks/core__group__deprecated.parsed.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.json
  test/integration/full-content/server-registered.json
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Site Editor: bring back more meenu (#21288)
  packages/edit-site/src/components/header/index.js
Owners: none

Increase the viewport width (non-scaled) for template previews (#21287)
  packages/block-editor/src/components/block-patterns/index.js
  packages/block-library/src/template-part/edit/placeholder.js
  packages/edit-site/src/components/template-switcher/preview.js
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan
