Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @gziolo, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @talldan
/packages/editor                                @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date                                  @aduth
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html                           @aduth
/packages/html-entities                         @aduth
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Fix inserter / block directory issues (#17517)
  packages/block-editor/src/components/inserter/menu.js
  packages/editor/src/components/inserter-menu-downloadable-blocks-panel/index.js
Owners: @youknowriad, @talldan, @ellatrix

Fix docs after #17482 (#17599)
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
Owners: @youknowriad, @talldan, @ellatrix

Show Height control in Cover if we only selected an image (#17371)
  packages/block-library/src/cover/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

RichText: remove Autocomplete wrappers (#17580)
  packages/block-editor/src/components/autocomplete/index.js
  packages/block-editor/src/components/autocomplete/test/index.js
  packages/block-editor/src/components/rich-text/index.js
  packages/components/src/autocomplete/index.js
  packages/editor/src/hooks/default-autocompleters.js
  packages/editor/src/hooks/test/default-autocompleters.js
  packages/rich-text/src/component/index.js
Owners: @youknowriad, @talldan, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @gziolo, @ajitbohra, @jaymanpandya, @chrisvanpatten

RichText: run input rule on composition end (#17610)
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Remove margin-top from block placeholder input field (#17616)
  packages/components/src/placeholder/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Fixes the checkbox appearance (#17571)
  packages/e2e-tests/specs/taxonomies.test.js
  packages/editor/src/components/post-taxonomies/hierarchical-term-selector.js
  packages/editor/src/components/post-taxonomies/style.scss
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Introduce `wp_template` post type and use it for full-site templates (#17513)
  lib/experiments-page.php
  lib/load.php
  lib/templates.php
Owners: @timothybjacobs

Update: Use minimum height instead of height for cover minimum height input label (#17634)
  packages/block-library/src/cover/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Classnames should return undefined instead of empty strings (#17529)
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/save.js
  packages/block-library/src/pullquote/deprecated.js
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/save.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update class specificity of publish radio buttons (#17613)
  packages/editor/src/components/post-visibility/style.scss
Owners: @talldan

Tidy up button vertical align styles (#17601)
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/warning/style.scss
  packages/components/src/button/style.scss
Owners: @youknowriad, @talldan, @ellatrix, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Update browserslist dependency (#17643)
  package-lock.json
  package.json
  packages/babel-preset-default/test/index.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Remove any existing subscriptions before adding a new save metaboxes sub to prevent multiple saves (#17522)
  packages/edit-post/src/store/effects.js
Owners: @talldan

Core Data: Clear auto-draft titles on save if not changed explicitly. (#17633)
  packages/core-data/src/actions.js
  packages/e2e-tests/specs/change-detection.test.js
Owners: @youknowriad, @nerrad, @gziolo, @ntwb, @ajitbohra, @talldan

Fix block crash boundary (#17602)
  packages/block-editor/src/components/block-list/block-crash-warning.js
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/warning/style.scss
Owners: @youknowriad, @talldan, @ellatrix

Fix select element sizing in publish date picker (#17646)
  assets/stylesheets/_mixins.scss
  packages/components/src/date-time/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

RichText: allow emoji panel at list item start (#17611)
  packages/block-editor/src/components/rich-text/index.js
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Update button styling to match WP 5.3 (#17645)
  bin/packages/post-css-config.js
  packages/components/src/button/style.scss
  packages/edit-post/src/components/fullscreen-mode/style.scss
  packages/editor/src/components/post-trash/style.scss
Owners: @ntwb, @nerrad, @ajitbohra, @youknowriad, @gziolo, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

merge InspectorControls feature (#17279)
  packages/block-editor/src/components/block-list/block-mobile-toolbar.native.js
  packages/block-editor/src/components/block-settings/button.native.js
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-editor/src/components/block-settings/index.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inspector-controls/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/video/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/panel/body.native.js
  packages/edit-post/src/components/layout/index.native.js
Owners: @ghost

Ensure button border transitions respect reduce motion settings. (#17651)
  packages/components/src/button/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Add block examples for all core blocks (#17493)
  packages/block-editor/src/components/block-styles/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-library/src/button/index.js
  packages/block-library/src/calendar/index.js
  packages/block-library/src/code/index.js
  packages/block-library/src/columns/index.js
  packages/block-library/src/cover/index.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/group/index.js
  packages/block-library/src/heading/index.js
  packages/block-library/src/html/index.js
  packages/block-library/src/image/index.js
  packages/block-library/src/list/index.js
  packages/block-library/src/media-text/index.js
  packages/block-library/src/more/index.js
  packages/block-library/src/nextpage/index.js
  packages/block-library/src/paragraph/index.js
  packages/block-library/src/preformatted/index.js
  packages/block-library/src/pullquote/index.js
  packages/block-library/src/quote/index.js
  packages/block-library/src/rss/index.js
  packages/block-library/src/search/index.js
  packages/block-library/src/separator/index.js
  packages/block-library/src/social-links/index.js
  packages/block-library/src/table/index.js
  packages/block-library/src/verse/index.js
  packages/blocks/README.md
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/index.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @mkaz, @gziolo

WIP: use entities on the widget screen. (#17319)
  packages/core-data/src/entities.js
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/sync-customizer.js
  packages/edit-widgets/src/components/edit-widgets-initializer/index.js
  packages/edit-widgets/src/components/save-button/index.js
  packages/edit-widgets/src/components/widget-area/index.js
  packages/edit-widgets/src/components/widget-areas/index.js
  packages/edit-widgets/src/index.js
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/constants.js
  packages/edit-widgets/src/store/index.js
  packages/edit-widgets/src/store/reducer.js
  packages/edit-widgets/src/store/selectors.js
  packages/edit-widgets/src/store/test/actions.js
  packages/edit-widgets/src/store/test/reducer.js
  packages/edit-widgets/src/store/test/selectors.js
Owners: @youknowriad, @nerrad

Override the new core line-height value for input fields. (#17659)
  assets/stylesheets/_mixins.scss
Owners: none

Update .travis.yml (#17661)
  .travis.yml
Owners: none

Autosave: fix conflict between remote and local autosaves (#17501)
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/offline-mode.js
  packages/e2e-tests/config/setup-test-framework.js
  packages/e2e-tests/specs/autosave.test.js
  packages/editor/src/components/local-autosave-monitor/index.js
  packages/editor/src/store/actions.js
  packages/editor/src/store/controls.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Bump plugin version to 6.6.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Fix: Include plural version in remove block(s) label (#17665)
  packages/block-editor/src/components/block-settings-menu/index.js
Owners: @youknowriad, @talldan, @ellatrix

Fix navigation block menu alignment (#17630)
  packages/block-library/src/navigation-menu-item/edit.js
  packages/block-library/src/navigation-menu-item/editor.scss
  packages/block-library/src/navigation-menu/edit.js
  packages/block-library/src/navigation-menu/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Mobile master to master (#17652)
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/format-library/src/link/index.native.js
Owners: @ghost

Update dropdown menu items to match hover style in other places (#17621)
  packages/components/src/dropdown-menu/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

@wordpress/env: A zero-config, self contained local WordPress environment for development and testing. (#17668)
  docs/manifest-devhub.json
  package-lock.json
  package.json
  packages/env/.gitignore
  packages/env/README.md
  packages/env/bin/wp-env
  packages/env/lib/cli.js
  packages/env/lib/create-docker-compose-config.js
  packages/env/lib/env.js
  packages/env/package.json
  packages/env/tests/cli.test.js
Owners: @chrisvanpatten, @ajitbohra

Polish font size picker. (#17647)
  packages/components/src/font-size-picker/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

[RNMobile] BottomSheet controls (#17569)
  packages/block-library/src/image/edit.native.js
  packages/components/src/index.native.js
  packages/components/src/select-control/index.native.js
  packages/components/src/text-control/index.native.js
  packages/components/src/toggle-control/index.native.js
Owners: @ghost

Popover: smooth repositioning on scroll (#17699)
  packages/components/src/popover/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

[RNMobile] Fix bug - multiple media selection adds only one image or video block (#17579)
  packages/block-editor/src/components/inserter/menu.native.js
  packages/editor/src/components/provider/index.native.js
Owners: @ghost

Chore: Improve the way the lock file handles local dependencies (#17705)
  package-lock.json
  package.json
  packages/babel-preset-default/package.json
  packages/babel-preset-default/test/index.js
  packages/env/package.json
  packages/scripts/package.json
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

RichText: remove wrapper (and use Popover for inline toolbar) (#17607)
  packages/block-editor/src/components/rich-text/format-toolbar/style.scss
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-library/src/cover/editor.scss
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/image/editor.scss
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
  packages/rich-text/src/component/editable.js
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @Soean, @ajitbohra, @talldan, @gziolo, @ntwb, @nerrad

Typewriter: use DOMRect.top to fix for Edge (#17707)
  packages/block-editor/src/components/typewriter/index.js
Owners: @youknowriad, @talldan, @ellatrix

[rnmobile] Media upload multiple prop (#17397)
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-editor/src/components/media-upload/test/index.native.js
Owners: @ghost
