Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

[ experimental/nav-menus ] Delete menus in nav menus screen (#21486)
  packages/edit-navigation/src/components/delete-menu-button/index.js
  packages/edit-navigation/src/components/delete-menu-button/style.scss
  packages/edit-navigation/src/components/menu-editor/block-editor-panel.js
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/style.scss
  packages/edit-navigation/src/components/menus-editor/index.js
  packages/edit-navigation/src/style.scss
Owners: none

Embed: use same SmugMug URL regex as core. (#21744)
  packages/block-library/src/embed/core-embeds.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Convert core toolbar buttons into ToolbarButton (#20008)
  package-lock.json
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-alignment-toolbar/index.js
  packages/block-editor/src/components/block-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-controls/index.js
  packages/block-editor/src/components/block-format-controls/index.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/button.js
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-settings-menu/index.js
  packages/block-editor/src/components/block-switcher/index.js
  packages/block-editor/src/components/block-switcher/style.scss
  packages/block-editor/src/components/block-switcher/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-switcher/test/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/block-toolbar/utils.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/navigable-toolbar/index.js
  packages/block-editor/src/components/rich-text/format-toolbar/index.js
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-editor/src/components/url-input/style.scss
  packages/components/package.json
  packages/components/src/index.js
  packages/components/src/index.native.js
  packages/components/src/slot-fill/bubbles-virtually/slot-fill-provider.js
  packages/components/src/toolbar-button/index.js
  packages/components/src/toolbar-group/style.scss
  packages/components/src/toolbar-group/toolbar-group-collapsed.js
  packages/components/src/toolbar-item/index.js
  packages/components/src/toolbar-item/index.native.js
  packages/components/src/toolbar/index.js
  packages/components/src/toolbar/style.scss
  packages/e2e-tests/specs/editor/various/keyboard-navigable-blocks.test.js
  packages/edit-navigation/src/components/menu-editor/style.scss
  packages/edit-post/src/components/header/header-toolbar/style.scss
  packages/interface/src/components/complementary-area/style.scss
Owners: @youknowriad, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @ajitbohra, @jaymanpandya, @chrisvanpatten, @ghost, @ntwb, @nerrad, @talldan

Template Loader: Get rid of _wp_current_template_part_ids globals (#22143)
  lib/edit-site-page.php
  lib/template-loader.php
Owners: @timothybjacobs

Fix extra tab stop on Modal component (#22063)
  packages/components/src/modal/frame.js
  packages/components/src/modal/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Fix flaky. (#22200)
  packages/e2e-tests/specs/editor/various/links.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Fix flaky. (#22202)
  packages/e2e-tests/specs/editor/various/rich-text.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

ClipboardButton: remove wrapper span (#22218)
  packages/components/src/clipboard-button/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Document the old patterns API deprecation (#22177)
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  lib/class-wp-block-patterns-registry.php
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs

Site Editor: refactor close button slot (#22179)
  docs/designers-developers/developers/slotfills/README.md
  docs/designers-developers/developers/slotfills/main-dashboard-button.md
  packages/edit-site/src/components/header/fullscreen-mode-close/index.js
  packages/edit-site/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/main-dashboard-button/index.js
  packages/edit-site/src/index.js
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Site Editor: fix default editor background (#22182)
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/style.scss
Owners: none

Block: move new props to hook (#22212)
  packages/block-editor/src/components/block-list/block.js
Owners: @youknowriad, @ellatrix

ClipboardButton: use hooks (#22220)
  packages/components/src/clipboard-button/index.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Visual and experience improvements to existing sub navigation flow (#22107)
  packages/block-library/src/navigation-link/editor.scss
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Block: add copy action (#22214)
  packages/block-editor/src/components/block-actions/index.js
  packages/block-editor/src/components/block-settings-menu/index.js
Owners: @youknowriad, @ellatrix

Make parts of the BlockNavigationList overridable using slots (#21948)
  packages/block-editor/src/components/block-navigation/branch.js
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/block-navigation/index.js
  packages/block-editor/src/components/block-navigation/list-item.js
  packages/block-editor/src/components/block-navigation/list.js
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/index.js
  packages/block-library/src/navigation/block-navigation-list.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/use-block-navigator.js
  packages/e2e-tests/specs/editor/blocks/columns.test.js
  packages/e2e-tests/specs/editor/plugins/block-icons.test.js
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad
