Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youknowriad, @chrisvanpatten, @ajitbohra, @gziolo, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @youknowriad @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @gziolo @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @youknowriad @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @youknowriad @Soean @ajitbohra @jorgefilipecosta @talldan

# Editor
/packages/annotations                           @youknowriad @atimmer @ellatrix
/packages/autop                                 @youknowriad @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @youknowriad @dmsnell
/packages/block-serialization-default-parser    @youknowriad @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @youknowriad @talldan
/packages/editor                                @youknowriad @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @youknowriad @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @youknowriad @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @youknowriad @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @youknowriad @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @youknowriad @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @youknowriad @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra @nosolosw

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @youknowriad @aduth
/packages/date                                  @youknowriad @aduth
/packages/deprecated                            @youknowriad @aduth
/packages/dom                                   @youknowriad @ellatrix
/packages/dom-ready                             @youknowriad @aduth
/packages/escape-html                           @youknowriad @aduth
/packages/html-entities                         @youknowriad @aduth
/packages/i18n                                  @youknowriad @swissspidy
/packages/is-shallow-equal                      @youknowriad @aduth
/packages/keycodes                              @youknowriad @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @youknowriad @aduth
/packages/url                                   @youknowriad @talldan
/packages/wordcount                             @youknowriad @aduth

# Extensibility
/packages/hooks                                 @youknowriad @gziolo @adamsilverstein
/packages/plugins                               @youknowriad @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @youknowriad @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @youknowriad @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @youknowriad @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @youknowriad @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

ESLint Plugin: Exempt React hooks from no-unused-vars-before-return (#16737)
  packages/components/src/font-size-picker/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/react.js
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/docs/rules/no-unused-vars-before-return.md
  packages/eslint-plugin/rules/__tests__/no-unused-vars-before-return.js
  packages/eslint-plugin/rules/no-unused-vars-before-return.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten, @ntwb, @nerrad

Use Portal-based slots for the block toolbar (#16421)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-toolbar/index.js
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/navigable-toolbar/index.js
  packages/components/src/navigable-container/container.js
  packages/components/src/navigable-container/test/menu.js
  packages/components/src/navigable-container/test/tabbable.js
  packages/components/src/slot-fill/README.md
  packages/components/src/slot-fill/context.js
  packages/components/src/slot-fill/fill.js
  packages/components/src/slot-fill/slot.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
Owners: @youknowriad, @talldan, @ellatrix, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten, @ntwb, @nerrad

Framework: Restrict combineReducers usage to data module (#16752)
  .eslintrc.js
  packages/core-data/src/queried-data/reducer.js
Owners: @youknowriad, @nerrad

Move the post title selection state to the store and update PostTitle (#16704)
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/editor/src/components/post-title/index.native.js
  packages/editor/src/store/actions.native.js
  packages/editor/src/store/reducer.native.js
  packages/editor/src/store/selectors.native.js
  packages/editor/src/store/test/actions.native.js
  packages/editor/src/store/test/reducer.native.js
  packages/editor/src/store/test/selectors.native.js
Owners: @ghost

fix(editor): remove nonexistent `getBlockDependantsCacheBust` selector reference (#16756)
  docs/designers-developers/developers/data/data-core-editor.md
  packages/editor/src/store/selectors.js
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra, @talldan

Fix pasting content into inner blocks (#16717)
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/test/reducer.js
Owners: @youknowriad, @talldan, @ellatrix

Support `hideLabelFromVision` prop for components using `BaseControl` (#16701)
  packages/components/CHANGELOG.md
  packages/components/src/base-control/README.md
  packages/components/src/select-control/README.md
  packages/components/src/text-control/README.md
  packages/components/src/text-control/index.js
  packages/components/src/textarea-control/README.md
  packages/components/src/textarea-control/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Fix/plugin document setting panel docs (#16620)
  docs/designers-developers/developers/slotfills/README.md
  docs/designers-developers/developers/slotfills/plugin-document-setting-panel.md
  docs/manifest-devhub.json
  docs/toc.json
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra

Fix aspect ratio typo and recalculate padding in embed block CSS (#16573)
  packages/block-library/src/embed/style.scss
Owners: @youknowriad, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Date/Time picker: ensure hour/minute fields are always shown left to right (#16375)
  packages/components/src/date-time/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Add: Simple way to register block styles (#16356)
  lib/blocks.php
  lib/class-wp-block-styles-registry.php
  lib/load.php
Owners: @youknowriad, @timothybjacobs

Fix race condition in block moving animation. (#16750)
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/moving-animation.js
Owners: @youknowriad, @talldan, @ellatrix

RichText/Input Interaction: use ZWNBSP as padding (#14846)
  packages/dom/src/dom.js
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
  packages/e2e-tests/specs/plugins/__snapshots__/hooks-api.test.js.snap
  packages/e2e-tests/specs/plugins/hooks-api.test.js
  packages/e2e-tests/specs/writing-flow.test.js
  packages/rich-text/src/create.js
  packages/rich-text/src/special-characters.js
  packages/rich-text/src/test/__snapshots__/to-dom.js.snap
  packages/rich-text/src/test/helpers/index.js
  packages/rich-text/src/to-tree.js
Owners: @youknowriad, @ellatrix, @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Relax Cover and Media+Text inner blocks restrictions (#16751)
  packages/block-library/src/cover/edit.js
  packages/block-library/src/media-text/edit.js
  packages/e2e-tests/specs/blocks/__snapshots__/media-text.test.js.snap
  packages/e2e-tests/specs/blocks/media-text.test.js
Owners: @youknowriad, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @gziolo, @ntwb, @nerrad

Try: Always collapse block alignments. (#16557)
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-alignment-toolbar/index.js
  packages/block-editor/src/components/block-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-editor/src/components/block-vertical-alignment-toolbar/README.md
  packages/block-editor/src/components/block-vertical-alignment-toolbar/index.js
  packages/block-editor/src/components/block-vertical-alignment-toolbar/test/__snapshots__/index.js.snap
  packages/block-library/src/heading/edit.js
  packages/block-library/src/table/edit.js
  packages/components/src/dropdown-menu/README.md
  packages/components/src/dropdown-menu/index.js
  packages/components/src/toolbar/index.js
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/block-grouping.test.js
  packages/e2e-tests/specs/blocks/__snapshots__/table.test.js.snap
  packages/e2e-tests/specs/blocks/table.test.js
  packages/e2e-tests/specs/keyboard-navigable-blocks.test.js
  packages/e2e-tests/specs/plugins/align-hook.test.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @gziolo, @jaymanpandya, @chrisvanpatten, @ntwb, @nerrad

Framework: Ignore more transient directories for lint (#16753)
  .eslintignore
Owners: none

Data: Document WPDataRegistry properties (#16693)
  packages/data/src/namespace-store/index.js
  packages/data/src/registry.js
  packages/data/src/resolvers-cache-middleware.js
Owners: @youknowriad, @nerrad, @coderkevin

Improved rich text placeholder (#16733)
  docs/designers-developers/developers/richtext.md
  packages/block-editor/src/components/rich-text/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-editor/src/components/rich-text/index.native.js
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/editor.scss
  packages/block-library/src/file/edit.js
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/paragraph/editor.scss
  packages/block-library/src/search/edit.js
  packages/edit-post/src/components/visual-editor/style.scss
  packages/edit-widgets/src/components/customizer-edit-widgets-initializer/style.scss
  packages/rich-text/src/component/editable.js
  packages/rich-text/src/component/index.js
  packages/rich-text/src/create.js
  packages/rich-text/src/to-dom.js
  packages/rich-text/src/to-tree.js
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @ghost, @Soean, @talldan

Compat: Add removal criteria for allowed CSS filter
  lib/compat.php
Owners: @youknowriad, @timothybjacobs

Components: Restore default opacity to buttons (#16769)
  packages/components/src/button/style.scss
  packages/components/src/dropdown-menu/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

[RNMobile] Native mobile release v1.10.0
  packages/block-editor/src/components/block-list/index.native.js
Owners: @ghost

Configure Babel to target your current version of Node with Jest (#16259)
  package-lock.json
  package.json
  packages/babel-preset-default/CHANGELOG.md
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra, @nosolosw

add placeholder attribute and use it in the UI (#16783)
  packages/block-library/src/button/block.json
  packages/block-library/src/button/edit.js
Owners: @youknowriad, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Testing: Whitelist specific files for PHPCS (#16772)
  phpcs.xml.dist
Owners: none

Fix: Image size labels don't appear on the widget screen (#16763)
  lib/widgets-page.php
Owners: @youknowriad, @timothybjacobs

Docs: Update helphub links (#16787)
  docs/contributors/getting-started.md
  packages/edit-post/src/components/header/post-publish-button-or-toggle.js
Owners: @youknowriad, @chrisvanpatten, @ajitbohra, @talldan

Bump plugin version to 6.2.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Project Management: Assign issues 'fixed' by a PR to the author of that PR (#16700)
  .github/actions/assign-fixed-issues/Dockerfile
  .github/actions/assign-fixed-issues/entrypoint.sh
  .github/main.workflow
Owners: @youknowriad, @mapk, @karmatosed

Update: Document and Remove experimental mark from URLPopover.LinkViewer and URLPopover.LinkEditor. (#16566)
  packages/block-editor/src/components/url-popover/README.md
  packages/block-editor/src/components/url-popover/index.js
  packages/block-editor/src/components/url-popover/link-editor.js
  packages/block-editor/src/components/url-popover/link-viewer.js
  packages/block-library/src/image/edit.js
  packages/format-library/src/link/inline.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Editor: Avoid passing event object to save button onSave prop (#16770)
  packages/editor/src/components/post-saved-state/index.js
  packages/editor/src/components/post-saved-state/test/__snapshots__/index.js.snap
  packages/editor/src/components/post-saved-state/test/index.js
Owners: @youknowriad, @talldan

Avoid usage of unguarded getRangeAt and add eslint rule (#16212)
  packages/components/src/autocomplete/index.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/configs/custom.js
  packages/eslint-plugin/docs/rules/no-unguarded-get-range-at.md
  packages/eslint-plugin/rules/__tests__/no-unguarded-get-range-at.js
  packages/eslint-plugin/rules/no-unguarded-get-range-at.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten, @ntwb, @nerrad

Visible focus and active styles for Windows high contrast mode (#16554)
  assets/stylesheets/_mixins.scss
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/date-time/style.scss
  packages/components/src/toolbar-button/style.scss
Owners: @youknowriad, @talldan, @ellatrix, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Fix: Close "Block Styles" section on transformBlockTo e2e test helper. (#16739)
  packages/e2e-test-utils/src/transform-block-to.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Mobile: stop always dismissing keyboard when losing focus on empty caption
  packages/block-library/src/image/edit.native.js
Owners: @ghost

Additional borders and padding for nested blocks (#14961)
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/block-list/block.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-library/src/columns/editor.scss
  packages/block-library/src/group/editor.scss
  packages/e2e-tests/specs/__snapshots__/writing-flow.test.js.snap
  packages/e2e-tests/specs/writing-flow.test.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @gziolo, @ntwb, @nerrad

Clean up Gallery block move/remove UI (#16793)
  packages/block-library/src/gallery/editor.scss
Owners: @youknowriad, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Block Editor: Merge block wrapper props by reassignment (#16819)
  packages/block-editor/src/components/block-list/block.js
Owners: @youknowriad, @talldan, @ellatrix

Components: Avoid displaying tooltip on focus from mousedown (#16800)
  packages/components/src/color-picker/test/__snapshots__/index.js.snap
  packages/components/src/tooltip/index.js
  packages/components/src/tooltip/test/index.js
  packages/edit-post/src/components/header/more-menu/test/__snapshots__/index.js.snap
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Core Data: Add util for minimally modifying items. (#16823)
  packages/core-data/src/utils/conservative-map-item.js
  packages/core-data/src/utils/index.js
  packages/core-data/src/utils/test/conservative-map-item.js
Owners: @youknowriad, @nerrad

First-time contributor github action (#16762)
  .github/actions/first-time-contributor/Dockerfile
  .github/actions/first-time-contributor/entrypoint.sh
  .github/main.workflow
Owners: @youknowriad, @mapk, @karmatosed
