Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

Update attribute type documentation (#21694)
  docs/designers-developers/developers/block-api/block-attributes.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Revert "Remove unnecessary try/catch" (#21690)
  bin/api-docs/update-api-docs.js
Owners: @ntwb, @nerrad, @ajitbohra, @nosolosw

Latest Posts: Fix selected category on existing blocks (#21359)
  packages/block-library/src/latest-posts/block.json
  packages/block-library/src/latest-posts/deprecated.js
  packages/block-library/src/latest-posts/edit.js
  packages/block-library/src/latest-posts/index.js
  packages/block-library/src/latest-posts/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update PHPCS (#21680)
  composer.json
  composer.lock
  lib/class-wp-rest-block-directory-controller.php
  lib/client-assets.php
  lib/template-loader.php
Owners: @timothybjacobs

Chore: Move camelCaseDash to the package where it is consumed (#21736)
  packages/dependency-extraction-webpack-plugin/test/util.js
  packages/dependency-extraction-webpack-plugin/util.js
  packages/scripts/utils/index.js
  packages/scripts/utils/string.js
  packages/scripts/utils/test/string.js
  webpack.config.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Try: output float clearing for all centered blocks. (#21608)
  packages/block-library/src/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Polish code editor. (#21643)
  packages/edit-post/src/components/text-editor/index.js
  packages/edit-post/src/components/text-editor/style.scss
  packages/editor/src/components/post-text-editor/style.scss
  packages/editor/src/components/post-title/index.js
Owners: none

Add prop to force fullscreen preview for videos. (#20436)
  packages/block-editor/src/components/video-player/index.native.js
Owners: @ghost

Fix: Default attribute on audio preload (#21735)
  packages/block-library/src/audio/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix: Visual issue on windows with 782px (#21661)
  packages/base-styles/_mixins.scss
  packages/interface/src/components/interface-skeleton/style.scss
Owners: none

Fix: Gradient picker bug onToggle (#21732)
  packages/components/src/custom-gradient-picker/control-points.js
  packages/components/src/custom-gradient-picker/custom-gradient-bar.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Fix license check script to ignore sub-dependencies of ignored… (#21606)
  packages/scripts/CHANGELOG.md
  packages/scripts/scripts/check-licenses.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Add some new g2-styled icons to the Icons package. #20284 (#21209)
  packages/icons/src/index.js
  packages/icons/src/library/box.js
  packages/icons/src/library/currency-dollar.js
  packages/icons/src/library/currency-euro.js
  packages/icons/src/library/currency-pound.js
  packages/icons/src/library/inbox.js
  packages/icons/src/library/institution.js
  packages/icons/src/library/page.js
  packages/icons/src/library/payment.js
  packages/icons/src/library/percent.js
  packages/icons/src/library/receipt.js
  packages/icons/src/library/shipping.js
  packages/icons/src/library/star.js
  packages/icons/src/library/trending-down.js
  packages/icons/src/library/trending-up.js
Owners: none

Add inserter previews to more blocks. (#21740)
  packages/block-library/src/archives/index.js
  packages/block-library/src/categories/index.js
  packages/block-library/src/latest-comments/index.js
  packages/block-library/src/latest-posts/index.js
  packages/block-library/src/tag-cloud/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Adds deprecation notice to `useApiFetch` hook (#21723)
  package-lock.json
  packages/api-fetch/package.json
  packages/api-fetch/src/index.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/navigation.test.js
Owners: @youknowriad, @nerrad, @mmtr, @ntwb, @ajitbohra, @talldan

Fix broken links in handbook (#21686)
  docs/contributors/managing-packages.md
  docs/contributors/testing-overview.md
  docs/designers-developers/designers/block-design.md
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  docs/designers-developers/developers/block-api/block-deprecation.md
  docs/designers-developers/developers/block-api/block-templates.md
  docs/designers-developers/developers/platform/README.md
  docs/designers-developers/developers/tutorials/block-tutorial/creating-dynamic-blocks.md
  docs/designers-developers/developers/tutorials/block-tutorial/nested-blocks-inner-blocks.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/metabox/meta-block-3-add.md
Owners: @chrisvanpatten, @ajitbohra, @mkaz, @youknowriad

Revert changes to Nav Block data fetching mechanics (#21721)
  packages/block-library/src/navigation/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

[RNMobile] Fixed position of `FloatingToolbar` on the bottom of the screen (#21446)
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.js
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.scss
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-list/breadcrumb.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/block-list/style.native.scss
  packages/block-editor/src/components/block-list/subdirectory-icon.js
  packages/block-editor/src/components/floating-toolbar/floatingToolbar.android.scss
  packages/block-editor/src/components/floating-toolbar/floatingToolbar.ios.scss
  packages/block-editor/src/components/floating-toolbar/index.native.js
  packages/block-editor/src/components/floating-toolbar/nav-up-icon.js
  packages/block-editor/src/components/floating-toolbar/styles.native.scss
  packages/block-editor/src/components/index.native.js
  packages/edit-post/src/components/layout/index.native.js
Owners: @ghost, @youknowriad, @ellatrix

Fix e2e tests by removing unecessary assertions & properly installing deps in api-fetch package (#21780)
  package-lock.json
  packages/api-fetch/CHANGELOG.md
  packages/api-fetch/package.json
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/navigation.test.js
Owners: @youknowriad, @nerrad, @mmtr, @ntwb, @ajitbohra, @talldan

Restore floated image margins. (#21500)
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Set font styles from block appender placeholder to inherit (#21725)
  packages/block-editor/src/components/default-block-appender/style.scss
Owners: @youknowriad, @ellatrix

Allow title and button-based appender to inherit styles. (#21749)
  packages/block-editor/src/components/default-block-appender/style.scss
  packages/editor/src/components/post-title/style.scss
Owners: @youknowriad, @ellatrix

RNMobile - Block List - Pass down scroll ref through Context for InnerBlocks autoscrolling (#21753)
  packages/block-editor/src/components/block-list/index.native.js
Owners: @ghost

Polish RSS block. (#21773)
  packages/block-library/src/rss/block.json
  packages/block-library/src/rss/edit.js
  packages/block-library/src/rss/editor.scss
  packages/block-library/src/rss/index.js
  packages/block-library/src/rss/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Reusable block: use block.json. (#21774)
  packages/block-library/src/block/block.json
  packages/block-library/src/block/index.js
  packages/block-library/src/block/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Archives block: use block.json. (#21775)
  packages/block-library/src/archives/block.json
  packages/block-library/src/archives/index.js
  packages/block-library/src/archives/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Rename icons, primitives tsconfig to _tsconfig (#21784)
  packages/icons/_tsconfig.json
  packages/primitives/_tsconfig.json
Owners: none

Revert "Add prop to force fullscreen preview for videos. (#20436)" (#21770)
  packages/block-editor/src/components/video-player/index.native.js
Owners: @ghost

Template Switcher: Add theme preview (#21768)
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/components/template-switcher/style.scss
  packages/edit-site/src/components/template-switcher/template-preview.js
  packages/edit-site/src/components/template-switcher/theme-preview.js
Owners: none

Fullscreen Mode: Change the "Back" button to toggle the sidebar (#21121)
  package-lock.json
  packages/e2e-tests/specs/editor/various/fullscreen-mode.test.js
  packages/edit-post/src/components/header/fullscreen-mode-close/index.js
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-post/src/components/header/index.js
  packages/edit-post/src/style.scss
  packages/edit-site/src/components/header/fullscreen-mode-close/index.js
  packages/edit-site/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/style.scss
  packages/interface/package.json
  packages/interface/src/components/admin-menu-toggle/index.js
  packages/interface/src/components/admin-menu-toggle/style.scss
  packages/interface/src/components/fullscreen-mode/style.scss
  packages/interface/src/components/index.js
  packages/interface/src/style.scss
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Latest Posts block: use register_block_type_from_metadata. (#21788)
  packages/block-library/src/latest-posts/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Tag Cloud block: use block.json. (#21794)
  packages/block-library/src/tag-cloud/block.json
  packages/block-library/src/tag-cloud/index.js
  packages/block-library/src/tag-cloud/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Template Parts: Improve resolution and saving behavior. (#21766)
  lib/template-loader.php
  lib/template-parts.php
  packages/block-library/src/template-part/edit/use-template-part-post.js
  packages/block-library/src/template-part/index.php
Owners: @timothybjacobs, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add InserterPanel around block directory results. (#21748)
  packages/block-directory/src/components/downloadable-blocks-panel/style.scss
  packages/block-editor/src/components/inserter/block-list.js
Owners: @youknowriad, @ellatrix

Categories block: use block.json. (#21783)
  packages/block-library/src/categories/block.json
  packages/block-library/src/categories/index.js
  packages/block-library/src/categories/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Delete old icon (#21821)
  packages/block-library/src/buttons/icon.js
  packages/block-library/src/calendar/icon.js
  packages/block-library/src/group/icon.js
  packages/block-library/src/latest-posts/icon.js
  packages/block-library/src/more/icon.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update triage.md (#21802)
  docs/contributors/triage.md
Owners: @chrisvanpatten, @ajitbohra

Calendar block: use block.json. (#21782)
  packages/block-library/src/calendar/block.json
  packages/block-library/src/calendar/index.js
  packages/block-library/src/calendar/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Extract Block Transforms into its own handbook page (#21734)
  docs/designers-developers/developers/block-api/README.md
  docs/designers-developers/developers/block-api/block-registration.md
  docs/designers-developers/developers/block-api/block-transforms.md
  docs/manifest.json
  docs/toc.json
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Editor: Make sure `resetEditorBlocks` is synchronous. (#21839)
  packages/data-controls/src/index.js
  packages/editor/src/store/actions.js
Owners: none

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
