Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @gziolo, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @talldan
/packages/editor                                @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date                                  @aduth
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html                           @aduth
/packages/html-entities                         @aduth
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Full-height columns fix in IE11. (#17901)
  packages/block-library/src/columns/editor.scss
  packages/components/src/placeholder/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @youknowriad, @gziolo, @jaymanpandya, @chrisvanpatten

Add margin to ButtonGroup example (#17910)
  packages/components/src/button-group/stories/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Storybook: Add stories for Animate component (#17890)
  packages/components/src/animate/stories/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Components: Add stories for Icon and IconButton (#17868)
  packages/components/src/icon-button/stories/index.js
  packages/components/src/icon/stories/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Storybook: Add story for ClipboardButton component (#17913)
  packages/components/src/clipboard-button/stories/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Storybook: Add storybook source display and ColorIndicator component (#17924)
  package-lock.json
  package.json
  packages/components/src/color-indicator/README.md
  packages/components/src/color-indicator/stories/index.js
  packages/components/storybook/addons.js
  packages/components/storybook/webpack.config.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Update readme.md (#17909)
  docs/readme.md
Owners: @chrisvanpatten, @ajitbohra

[Tiny PR] RichText: correctly update value after undo (#17840)
  packages/e2e-tests/specs/undo.test.js
  packages/rich-text/src/component/index.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Fix Button active status (#17905)
  packages/components/src/button/index.native.js
Owners: @ghost

Enable media-text in all builds (#17903)
  packages/block-library/src/index.native.js
Owners: @ghost

The snackbar link components hide on focus (#17887)
  packages/components/src/snackbar/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Fix toolbars positionning in IE11 (#17894)
  packages/components/src/toolbar/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Update image URLs for preview content. (#17935)
  packages/block-library/src/columns/index.js
  packages/block-library/src/cover/index.js
  packages/block-library/src/gallery/index.js
  packages/block-library/src/image/index.js
  packages/block-library/src/media-text/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix icons for Media & Text in dark mode (#17936)
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/media-text/style.native.scss
Owners: @ghost

Adds correct escaping for urls (#17932)
  packages/block-library/src/social-link/index.php
Owners: @mkaz

Add an apiFetch middleware to automatically handle media upload failures (#17858)
  lib/client-assets.php
  packages/api-fetch/src/index.js
  packages/api-fetch/src/middlewares/media-upload.js
  packages/api-fetch/src/utils/response.js
Owners: @timothybjacobs, @youknowriad, @nerrad, @mmtr

Fix: Gradient presets to verify some MU kses rules (#17940)
  packages/block-editor/src/store/defaults.js
Owners: @youknowriad, @talldan, @ellatrix

Bump plugin version to 6.7.0-rc.1
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Code Style: Change name of accumulated variables when using reduce function (#17893)
  packages/block-editor/src/store/selectors.js
  packages/block-library/src/columns/deprecated.js
  packages/block-library/src/columns/utils.js
  packages/block-library/src/group/index.js
  packages/block-library/src/index.native.js
  packages/blocks/src/api/factory.js
  packages/blocks/src/api/parser.js
  packages/blocks/src/api/serializer.js
  packages/core-data/src/queried-data/reducer.js
  packages/core-data/src/selectors.js
  packages/data/src/plugins/persistence/index.js
  packages/editor/src/components/post-taxonomies/flat-term-selector.js
  packages/element/src/react.js
  packages/rich-text/src/test/helpers/index.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @ghost, @gziolo, @nerrad, @coderkevin, @jaymanpandya, @daniloercoli, @sergioestevao, @etoledom

Fix:Image Block: Hide 'noreferrer' and 'noopener' in Link Rel (#17398)
  packages/block-library/src/image/constants.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/save.js
  packages/block-library/src/image/utils.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Change Cover block min height input step size to 1 (#17927)
  packages/block-library/src/cover/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update changelogs after the npm release
  packages/edit-post/CHANGELOG.md
  packages/scripts/CHANGELOG.md
Owners: @talldan, @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Prevent prependHttp from failing if url is not defined (#17928)
  packages/url/src/index.js
Owners: @talldan

List block: move default style (#17958)
  packages/block-library/src/editor.scss
  packages/block-library/src/list/editor.scss
  packages/editor/src/editor-styles.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Storybook: Add stories for Checkbox control component (#17891)
  .eslintrc.js
  package-lock.json
  package.json
  packages/components/src/checkbox-control/README.md
  packages/components/src/checkbox-control/stories/index.js
  packages/components/storybook/addons.js
  packages/components/storybook/config.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

RNMobile Add size options to mobile image block (#17245)
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-library/src/image/edit.native.js
  packages/components/src/mobile/bottom-sheet/cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/picker-cell.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
  packages/components/src/mobile/picker/index.android.js
  packages/components/src/mobile/picker/index.ios.js
Owners: @ghost

Improve columns flex rule, round 2. (#17968)
  packages/block-library/src/columns/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Bump plugin version to 6.7.0
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Small changes to Git Workflow docs (#17662)
  docs/contributors/git-workflow.md
Owners: @chrisvanpatten, @ajitbohra
