Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @mkaz, @youknowriad, @nerrad, @mmtr, @coderkevin, @Soean, @talldan, @mkevins, @ajlende, @atimmer, @ellatrix, @dmsnell, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @etoledom, @cameronvoell, @guarani, @mapk, @karmatosed, @epiqueras, @noahtallen, @timothybjacobs, @spacedmonkey, @ghost

Site Editor: Update Navigation Panel Toggle UI (#25622)
  packages/components/src/navigation/back-button/index.js
  packages/edit-site/src/components/header/navigation-toggle/index.js
  packages/edit-site/src/components/header/navigation-toggle/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/style.scss
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @chrisvanpatten

Site Editor: Add template switcher to navigation panel (#25615)
  packages/e2e-tests/experimental-features.js
  packages/e2e-tests/specs/experiments/multi-entity-editing.test.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/e2e-tests/specs/experiments/template-part.test.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/index.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/template-preview.js
  packages/edit-site/src/components/left-sidebar/navigation-panel/template-switcher/theme-preview.js
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/components/template-switcher/style.scss
  packages/edit-site/src/components/template-switcher/template-preview.js
  packages/edit-site/src/style.scss
Owners: @ntwb, @nerrad, @ajitbohra, @talldan, @youknowriad

RichText: remove native props for web (#25700)
  packages/block-editor/src/components/rich-text/index.js
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @etoledom, @cameronvoell, @guarani

Block Editor: use optional chaining and nullish coalescing instead of _.get. (#23632)
  packages/block-editor/src/components/block-icon/index.js
  packages/block-editor/src/components/block-icon/index.native.js
  packages/block-editor/src/components/colors/with-colors.js
  packages/block-editor/src/components/default-style-picker/index.js
  packages/block-editor/src/components/use-simulated-media-query/index.js
  packages/block-editor/src/hooks/align.js
  packages/block-editor/src/store/actions.js
  packages/block-editor/src/store/reducer.js
  packages/block-editor/src/store/selectors.js
Owners: @youknowriad, @ellatrix, @ghost

Remove the right margin for the right-most list items in the lastest posts block. (#25688)
  packages/block-library/src/latest-posts/style.scss
Owners: @Soean, @ajitbohra, @talldan

Use `UnitControl` instead of `RangeControl` for column width (#24711)
  packages/block-editor/src/components/responsive-block-control/test/__snapshots__/index.js.snap
  packages/block-library/src/column/block.json
  packages/block-library/src/column/deprecated.js
  packages/block-library/src/column/edit.js
  packages/block-library/src/column/index.js
  packages/block-library/src/column/save.js
  packages/block-library/src/columns/variations.js
  packages/components/src/input-control/input-base.js
  packages/components/src/input-control/styles/input-control-styles.js
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @talldan, @jaymanpandya, @chrisvanpatten

Remove duplicate key from tsconfig.base.json (#25664)
  tsconfig.base.json
Owners: none

[Widget Editor] Fixed sidebar inserter (#25681)
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/header/style.scss
  packages/edit-widgets/src/components/layout/index.js
  packages/edit-widgets/src/components/layout/popover-wrapper.js
  packages/edit-widgets/src/components/layout/style.scss
  packages/edit-widgets/src/store/actions.js
  packages/edit-widgets/src/store/reducer.js
  packages/edit-widgets/src/store/selectors.js
  packages/edit-widgets/src/style.scss
Owners: @youknowriad

Add border to block "Edit as HTML" style. (#25539)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Document Actions: Fix document title misalignment with an open nav sidebar (#25630)
  packages/base-styles/_variables.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/style.scss
  packages/edit-site/src/components/left-sidebar/navigation-panel/style.scss
Owners: @youknowriad

Navigation block: Use unbounded query when requesting top level pages (#25689)
  packages/block-library/src/navigation/placeholder.js
Owners: @Soean, @ajitbohra, @talldan

Mark the color support flag as stable (#25694)
  lib/block-supports/colors.php
  lib/global-styles.php
  packages/block-editor/src/hooks/color.js
  packages/block-library/src/button/deprecated.js
  packages/block-library/src/columns/block.json
  packages/block-library/src/group/block.json
  packages/block-library/src/heading/block.json
  packages/block-library/src/list/block.json
  packages/block-library/src/media-text/block.json
  packages/block-library/src/navigation/block.json
  packages/block-library/src/paragraph/block.json
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-hierarchical-terms/block.json
  packages/block-library/src/post-tags/block.json
  packages/block-library/src/post-title/block.json
  packages/block-library/src/site-tagline/block.json
  packages/block-library/src/site-title/block.json
  packages/block-library/src/template-part/block.json
  packages/edit-navigation/src/index.js
  phpunit/class-block-supported-styles-test.php
Owners: @timothybjacobs, @spacedmonkey, @youknowriad, @ellatrix, @Soean, @ajitbohra, @talldan

Block: set new block node if it changes (#25698)
  packages/block-editor/src/components/block-list/block-wrapper.js
Owners: @youknowriad, @ellatrix

Adds editorMode initial property with values 'editor'(default) and 'preview' (#25661)
  packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/GutenbergProps.kt
Owners: none

Define text color for warning message component (#25713)
  packages/block-editor/src/components/warning/style.scss
Owners: @youknowriad, @ellatrix

Remove animation from mover buttons. (#25728)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Add option to make Post Featured Image a link (#25714)
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-featured-image/edit.js
  packages/block-library/src/post-featured-image/editor.scss
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-featured-image/style.scss
  packages/block-library/src/post-title/block.json
  packages/block-library/src/style.scss
  packages/components/src/responsive-wrapper/style.scss
  packages/e2e-tests/fixtures/blocks/core__post-featured-image.json
  packages/e2e-tests/fixtures/blocks/core__post-title.json
Owners: @Soean, @ajitbohra, @talldan, @youknowriad, @jaymanpandya, @chrisvanpatten, @ntwb, @nerrad

[Widgets Editor] Fix widget-area accessibility (#25732)
  package-lock.json
  packages/components/src/panel/README.md
  packages/components/src/panel/body.js
  packages/components/src/panel/test/body.js
  packages/edit-widgets/package.json
  packages/edit-widgets/src/blocks/widget-area/edit/index.js
  packages/edit-widgets/src/blocks/widget-area/editor.scss
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @chrisvanpatten

Add EditorStyles CSS to the widgets editor (#25699)
  lib/widgets-page.php
  packages/edit-widgets/src/blocks/legacy-widget/editor.scss
  packages/edit-widgets/src/components/widget-areas-block-editor-provider/index.js
Owners: @timothybjacobs, @spacedmonkey, @youknowriad

Widgets editor: Preload request to /sidebars (#25726)
  lib/widgets-page.php
  packages/edit-widgets/src/store/resolvers.js
Owners: @timothybjacobs, @spacedmonkey, @youknowriad

Update block-based-themes.md (#25710)
  docs/designers-developers/developers/themes/block-based-themes.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Classic block: use hooks (#25737)
  packages/block-library/src/classic/edit.js
Owners: @Soean, @ajitbohra, @talldan

Block API: light block edit/save symmetry (#25644)
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block-wrapper.native.js
  packages/block-library/src/audio/save.js
  packages/block-library/src/button/save.js
  packages/block-library/src/buttons/save.js
  packages/block-library/src/code/save.js
  packages/block-library/src/column/save.js
  packages/block-library/src/columns/save.js
  packages/block-library/src/cover/save.js
  packages/block-library/src/group/save.js
  packages/block-library/src/heading/save.js
  packages/block-library/src/image/save.js
  packages/block-library/src/list/save.js
  packages/block-library/src/media-text/save.js
  packages/block-library/src/paragraph/save.js
  packages/block-library/src/preformatted/save.js
  packages/block-library/src/quote/save.js
  packages/block-library/src/social-links/save.js
  packages/block-library/src/verse/save.js
  packages/block-library/src/video/save.js
  packages/blocks/src/api/index.js
  packages/blocks/src/api/serializer.js
Owners: @youknowriad, @ellatrix, @ghost, @Soean, @ajitbohra, @talldan, @ajlende, @mkaz

BlockList: fix for unavailable ref on unmount (#25733)
  packages/block-editor/src/components/block-list/use-multi-selection.js
Owners: @youknowriad, @ellatrix

Temporary commit
  docs/designers-developers/developers/block-api/block-context.md
  docs/designers-developers/developers/block-api/block-transforms.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Bump plugin version to 9.1.0
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Correct BottomSheet in ModalLinkUI (#25740)
  packages/format-library/src/link/modal.native.js
Owners: @ghost

Pass shouldEnableBottomSheetScroll into ColorPalette (#25734)
  packages/block-library/src/cover/edit.native.js
Owners: @ghost

Adds missing Curly brace (#25748)
  docs/designers-developers/developers/tutorials/block-based-themes/README.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Gallery: Add labels to img, figure and figcaption elements for accessibility (#25560)
  packages/block-library/src/gallery/deprecated.js
  packages/block-library/src/gallery/save.js
Owners: @mkevins

Shows "Choose images" on Gallery block. (#25634)
  packages/block-editor/src/components/media-upload/index.native.js
Owners: @ghost

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @talldan
/packages/block-library/src/gallery             @mkevins
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz
/packages/block-library/src/image               @ajlende

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render

# Widgets
/packages/edit-widgets                          @youknowriad

# Navigation
/packages/edit-navigation

# Full Site Editing
/packages/edit-site                             @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @mkaz
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/prettier-config                       @ntwb @gziolo

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya
/packages/element                               @youknowriad @ajitbohra @jaymanpandya
/packages/notices                               @ajitbohra @jaymanpandya
/packages/nux                                   @ajitbohra @jaymanpandya
/packages/viewport                              @ajitbohra @jaymanpandya
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y                                  @youknowriad
/packages/blob
/packages/date
/packages/deprecated                            @youknowriad
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad
/packages/token-list
/packages/url                                   @talldan
/packages/wordcount
/packages/warning
/packages/keyboard-shortcuts

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @etoledom @cameronvoell @guarani
/packages/rich-text                             @ellatrix @etoledom @cameronvoell @guarani
/packages/block-editor/src/components/rich-text @ellatrix @etoledom @cameronvoell @guarani

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
/packages/project-management-automation

# wp-env
/packages/env                                   @epiqueras @noahtallen

# PHP
/lib                                            @timothybjacobs @spacedmonkey

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost
