Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youknowriad, @aduth, @nerrad, @mmtr, @gziolo, @noisysocks, @coderkevin, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @notnownikki, @atimmer, @nosolosw, @ntwb, @chrisvanpatten, @jaymanpandya, @swissspidy, @adamsilverstein, @iseulde, @mkaz, @ghost

.github/CODEOWNERS:

# Data
/packages/api-fetch                             @youknowriad @aduth @nerrad @mmtr
/packages/core-data                             @youknowriad @gziolo @aduth @nerrad @noisysocks
/packages/data                                  @youknowriad @aduth @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @aduth @nerrad

# Blocks
/packages/block-library                         @youknowriad @gziolo @Soean @ajitbohra @jorgefilipecosta @talldan @noisysocks @notnownikki

# Editor
/packages/annotations                           @youknowriad @gziolo @aduth @atimmer
/packages/autop                                 @youknowriad @aduth
/packages/block-serialization-spec-parser       @youknowriad @gziolo @aduth
/packages/block-serialization-default-parser    @youknowriad @gziolo @aduth
/packages/blocks                                @youknowriad @gziolo @aduth @noisysocks
/packages/edit-post                             @youknowriad @gziolo @talldan @noisysocks
/packages/editor                                @youknowriad @gziolo @nosolosw @talldan @noisysocks
/packages/list-reusable-blocks                  @youknowriad @aduth @noisysocks
/packages/shortcode                             @youknowriad @aduth

# Tooling
/bin                                            @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/babel-plugin-import-jsx-pragma        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/e2e-test-utils                        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-console                          @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @aduth @chrisvanpatten @ajitbohra @jaymanpandya @nosolosw @jorgefilipecosta @talldan @noisysocks
/packages/compose                               @youknowriad @gziolo @aduth @chrisvanpatten @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/element                               @youknowriad @gziolo @aduth @chrisvanpatten @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/notices                               @youknowriad @gziolo @aduth @chrisvanpatten @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/nux                                   @youknowriad @gziolo @aduth @chrisvanpatten @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @gziolo @aduth @chrisvanpatten @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks

# Utilities
/packages/a11y                                  @youknowriad @gziolo @aduth
/packages/blob                                  @youknowriad @gziolo @aduth
/packages/date                                  @youknowriad @gziolo @aduth
/packages/deprecated                            @youknowriad @gziolo @aduth
/packages/dom                                   @youknowriad @gziolo @aduth
/packages/dom-ready                             @youknowriad @gziolo @aduth
/packages/escape-html                           @youknowriad @gziolo @aduth
/packages/html-entities                         @youknowriad @gziolo @aduth
/packages/i18n                                  @youknowriad @aduth @swissspidy
/packages/is-shallow-equal                      @youknowriad @gziolo @aduth
/packages/keycodes                              @youknowriad @gziolo @aduth @talldan
/packages/priority-queue                        @youknowriad @gziolo @aduth
/packages/token-list                            @youknowriad @gziolo @aduth
/packages/url                                   @youknowriad @gziolo @aduth @talldan
/packages/wordcount                             @youknowriad @gziolo @aduth

# Extensibility
/packages/hooks                                 @youknowriad @gziolo @aduth @adamsilverstein
/packages/plugins                               @youknowriad @gziolo @aduth @adamsilverstein

# Rich Text
/packages/format-library                        @youknowriad @gziolo @aduth @iseulde @jorgefilipecosta
/packages/rich-text                             @youknowriad @gziolo @aduth @iseulde @jorgefilipecosta
/packages/editor/src/components/rich-text       @youknowriad @gziolo @aduth @iseulde @jorgefilipecosta

# PHP
/lib                                            @youknowriad @gziolo @aduth

# Documentation
/docs                                           @youknowriad @gziolo @chrisvanpatten @mkaz @ajitbohra @nosolosw @notnownikki

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

Adds placeholder coloring support for mobile's rich text component. (#13738)
  packages/editor/src/components/rich-text/index.native.js
Owners: @ghost

Switch a bunch of documentation titles to title case (#13714)
  docs/designers-developers/developers/internationalization.md
  docs/designers-developers/developers/packages.md
  docs/designers-developers/developers/tutorials/format-api/1-register-format.md
  docs/designers-developers/developers/tutorials/format-api/2-toolbar-button.md
  docs/designers-developers/developers/tutorials/format-api/3-apply-format.md
  docs/designers-developers/developers/tutorials/format-api/README.md
  docs/designers-developers/developers/tutorials/javascript/scope-your-code.md
  docs/designers-developers/developers/tutorials/javascript/troubleshooting.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-0.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-1-up-and-running.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-3-register-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-4-initialize-input.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-5-update-meta.md
  docs/designers-developers/developers/tutorials/sidebar-tutorial/plugin-sidebar-6-finishing-touches.md
  docs/manifest.json
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra, @nosolosw, @notnownikki

Add an Animate component and menu appear animation for popovers & start work on handbook (#13617)
  docs/designers-developers/designers/animation.md
  docs/manifest.json
  docs/toc.json
  packages/components/CHANGELOG.md
  packages/components/src/animate/README.md
  packages/components/src/animate/index.js
  packages/components/src/animate/style.scss
  packages/components/src/index.js
  packages/components/src/popover/index.js
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/style.scss
  packages/components/src/tooltip/index.js
  packages/e2e-test-utils/src/click-on-more-menu-item.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/search-for-block.js
  packages/e2e-test-utils/src/switch-editor-mode-to.js
  packages/e2e-test-utils/src/transform-block-to.js
  packages/e2e-test-utils/src/wait-for-animation.js
  packages/e2e-tests/specs/block-deletion.test.js
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/e2e-tests/specs/editor-modes.test.js
  packages/e2e-tests/specs/font-size-picker.test.js
  packages/e2e-tests/specs/invalid-block.test.js
  packages/e2e-tests/specs/links.test.js
  packages/e2e-tests/specs/nux.test.js
  packages/e2e-tests/specs/plugins/annotations.test.js
  packages/e2e-tests/specs/plugins/container-blocks.test.js
  packages/e2e-tests/specs/reusable-blocks.test.js
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra, @nosolosw, @notnownikki, @aduth, @jaymanpandya, @jorgefilipecosta, @talldan, @noisysocks, @ntwb, @nerrad

Babel Makepot: Translator comments have been extracted from the file (#9440)
  packages/babel-plugin-makepot/CHANGELOG.md
  packages/babel-plugin-makepot/src/index.js
  packages/babel-plugin-makepot/test/index.js
  packages/i18n/tools/pot-to-php.js
Owners: @youknowriad, @gziolo, @aduth, @ntwb, @nerrad, @ajitbohra, @swissspidy

Add JavaScript Documentation around setting up Webpack, Babel, and Building (#13629)
  docs/designers-developers/developers/tutorials/javascript/js-build-setup.md
  docs/designers-developers/developers/tutorials/javascript/versions-and-building.md
  docs/manifest.json
  docs/toc.json
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra, @nosolosw, @notnownikki

[Mobile] UI for size image settings (#13728)
  packages/block-library/src/image/edit.native.js
  packages/editor/src/components/mobile/bottom-sheet/cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/index.native.js
  packages/editor/src/components/mobile/bottom-sheet/picker-cell.native.js
  packages/editor/src/components/mobile/bottom-sheet/styles.native.scss
  packages/editor/src/components/mobile/picker/index.android.js
  packages/editor/src/components/mobile/picker/index.ios.js
  packages/editor/src/components/mobile/picker/styles.android.scss
Owners: @ghost

Fix typo : query aeg => query arg (#13746)
  packages/url/src/index.js
Owners: @youknowriad, @gziolo, @aduth, @talldan

Update JSDoc (#13742)
  packages/rich-text/src/concat.js
Owners: @youknowriad, @gziolo, @aduth, @iseulde, @jorgefilipecosta

Update docs (#13733)
  docs/designers-developers/developers/backward-compatibility/meta-box.md
Owners: @youknowriad, @gziolo, @chrisvanpatten, @mkaz, @ajitbohra, @nosolosw, @notnownikki

Add registry-aware controls (#13722)
  packages/core-data/src/controls.js
  packages/data/src/factory.js
  packages/data/src/index.js
  packages/data/src/namespace-store.js
  packages/data/src/plugins/controls/index.js
  packages/data/src/plugins/controls/test/index.js
Owners: @youknowriad, @gziolo, @aduth, @nerrad, @noisysocks, @coderkevin

Escape HTML characters (#13744)
  packages/autop/src/index.js
Owners: @youknowriad, @aduth
