Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

Site Editor: move menu item to top level (#21273)
  gutenberg.php
  lib/edit-site-page.php
  packages/edit-site/src/style.scss
Owners: @timothybjacobs

Disable align button on the heading block for Android (#21268)
  packages/block-library/src/heading/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Restore package-lock.json resolved URL
  package-lock.json
Owners: none

Add color hooks for the mobile implementation. (#21257)
  packages/block-editor/src/components/colors/color-panel.js
  packages/block-editor/src/components/colors/color-panel.native.js
  packages/block-editor/src/components/colors/use-colors.js
  packages/block-editor/src/components/colors/use-colors.native.js
  packages/block-editor/src/hooks/color-panel.js
  packages/block-editor/src/hooks/color-panel.native.js
  packages/block-editor/src/hooks/color.js
  packages/block-editor/src/hooks/index.native.js
  packages/block-editor/src/hooks/line-height.js
  packages/block-library/src/cover/edit.native.js
  packages/block-library/src/heading/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
Owners: @youknowriad, @ellatrix, @ghost, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix BottomSheet breakage related to introduction of the @wordpress/interface package (#21291)
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/edit-post/src/components/header/index.native.js
  packages/edit-post/src/store/defaults.native.js
  packages/edit-post/src/store/index.native.js
  packages/interface/src/store/defaults.native.js
Owners: @ghost

i18n: Enable noImplicitAny type checking (#21224)
  package-lock.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/components/package.json
  packages/data/package.json
  packages/edit-post/package.json
  packages/editor/package.json
  packages/i18n/package.json
  packages/i18n/tsconfig.json
  packages/rich-text/package.json
  packages/shortcode/package.json
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @jaymanpandya, @chrisvanpatten, @nerrad, @coderkevin, @swissspidy, @daniloercoli, @sergioestevao, @etoledom

Docs: Describe tools used in E2E testing (#21295)
  docs/contributors/testing-overview.md
Owners: @chrisvanpatten, @ajitbohra

E2E Tests: Remove unused JSDoc docblock (#21297)
  packages/e2e-tests/specs/editor/various/links.test.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan

Packages: Type autop, escape-html, html-entities (#20669)
  packages/autop/CHANGELOG.md
  packages/autop/package.json
  packages/autop/src/index.js
  packages/autop/tsconfig.json
  packages/escape-html/CHANGELOG.md
  packages/escape-html/package.json
  packages/escape-html/tsconfig.json
  packages/html-entities/CHANGELOG.md
  packages/html-entities/package.json
  packages/html-entities/src/index.js
  packages/html-entities/tsconfig.json
  tsconfig.json
Owners: @aduth

Docs: Prescribe latest NPM for development environment (#21017)
  docs/contributors/getting-started.md
Owners: @chrisvanpatten, @ajitbohra

Upgrade Reakit to version 1.0.0-rc.0 (#21300)
  package-lock.json
  packages/components/package.json
  packages/components/src/toolbar/toolbar-container.js
  storybook/test/__snapshots__/index.js.snap
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Polish a11y package. (#21148)
  packages/a11y/README.md
  packages/a11y/src/add-container.js
  packages/a11y/src/clear.js
  packages/a11y/src/filter-message.js
  packages/a11y/src/index.js
  packages/a11y/src/index.native.js
  packages/a11y/src/test/add-container.test.js
  packages/a11y/src/test/clear.test.js
  packages/a11y/src/test/filter-message.test.js
  packages/a11y/src/test/index.test.js
Owners: @youknowriad, @aduth, @ghost

Add pre to list of block wrappers (#21255)
  packages/block-editor/src/components/block-list/block-elements.js
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/block-wrapper.native.js
Owners: @youknowriad, @ellatrix, @ghost

Fix Nav Block bug as Contributor user via fix to `*loadPostTypeEntities` (#18669)
  package-lock.json
  packages/api-fetch/package.json
  packages/api-fetch/src/index.js
  packages/block-library/src/navigation/edit.js
Owners: @youknowriad, @nerrad, @mmtr, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Unify focus styles, and pave the way for them to be customizable (#21141)
  packages/base-styles/_mixins.scss
  packages/base-styles/_variables.scss
  packages/block-editor/src/components/block-breadcrumb/style.scss
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-patterns/style.scss
  packages/block-editor/src/components/block-styles/style.scss
  packages/block-editor/src/components/inserter-list-item/style.scss
  packages/block-editor/src/components/url-input/style.scss
  packages/components/src/button/style.scss
  packages/components/src/custom-select-control/style.scss
  packages/components/src/form-toggle/style.scss
  packages/components/src/panel/style.scss
  packages/components/src/placeholder/style.scss
  packages/components/src/tab-panel/style.scss
  packages/edit-post/src/components/header/fullscreen-mode-close/style.scss
  packages/edit-post/src/components/header/style.scss
  packages/edit-post/src/components/preview-options/style.scss
  packages/edit-post/src/components/sidebar/settings-header/style.scss
  packages/edit-post/src/components/sidebar/style.scss
  packages/edit-site/src/components/header/fullscreen-mode-close/style.scss
  packages/editor/src/components/document-outline/style.scss
  packages/editor/src/components/post-last-revision/style.scss
  packages/editor/src/components/table-of-contents/style.scss
Owners: @youknowriad, @ellatrix, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Add a few icons, update "Share" icon (#21278)
  packages/block-library/src/social-link/block.json
  packages/block-library/src/social-link/index.js
  packages/block-library/src/social-link/index.php
  packages/block-library/src/social-links/block.json
  packages/block-library/src/social-links/index.js
  packages/icons/src/index.js
  packages/icons/src/library/button.js
  packages/icons/src/library/create.js
  packages/icons/src/library/html.js
  packages/icons/src/library/info.js
  packages/icons/src/library/search.js
  packages/icons/src/library/share.js
  storybook/test/__snapshots__/index.js.snap
Owners: @mkaz

Prevent template switcher jumpiness (#21280)
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/components/template-switcher/style.scss
Owners: none

Prettier Config: Add type-checking (#21053)
  package-lock.json
  package.json
  packages/prettier-config/lib/index.js
  packages/prettier-config/package.json
  packages/prettier-config/tsconfig.json
Owners: none

Avoid creating an empty paragraph when selecting the parent's group block (#21318)
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/e2e-tests/specs/editor/various/__snapshots__/block-hierarchy-navigation.test.js.snap
  packages/e2e-tests/specs/editor/various/block-hierarchy-navigation.test.js
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Project Management: Prompt user to link GitHub account to WordPress.org profile (#21221)
  package-lock.json
  package.json
  packages/project-management-automation/CHANGELOG.md
  packages/project-management-automation/README.md
  packages/project-management-automation/lib/add-first-time-contributor-label.js
  packages/project-management-automation/lib/add-milestone.js
  packages/project-management-automation/lib/first-time-contributor.js
  packages/project-management-automation/lib/get-associated-pull-request.js
  packages/project-management-automation/lib/has-wordpress-profile.js
  packages/project-management-automation/lib/index.js
  packages/project-management-automation/lib/test/add-first-time-contributor-label.js
  packages/project-management-automation/lib/test/add-milestone.js
  packages/project-management-automation/lib/test/first-time-contributor.js
  packages/project-management-automation/lib/test/get-associated-pull-request.js
  packages/project-management-automation/lib/test/has-wordpress-profile.js
Owners: none

Update tumblr icon (#21329)
  packages/block-library/src/embed/icons.js
  packages/block-library/src/social-link/icons/tumblr.js
  packages/block-library/src/social-link/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @mkaz

Add inserter to the edit site screen (#21328)
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/style.scss
Owners: none

Insert post title instead of URL, when adding a link to an existing post (#21240)
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/format-library/src/link/inline.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Fix the latest-posts block when `imageDimensions` is empty (#21070)
  packages/block-library/src/latest-posts/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Implement initial styling of navigation menu screen (#21314)
  packages/edit-navigation/src/components/layout/index.js
  packages/edit-navigation/src/components/layout/style.scss
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/style.scss
  packages/edit-navigation/src/components/menus-editor/index.js
  packages/edit-navigation/src/components/menus-editor/style.scss
  packages/edit-navigation/src/style.scss
Owners: none

Render BlockEditorKeyboardShortcuts component to ensure shortcuts work (#21338)
  packages/edit-navigation/src/components/menu-editor/index.js
Owners: none

fix: remove additional padding from first paragraph block (#21323)
  packages/block-editor/src/components/default-block-appender/index.native.js
  packages/edit-post/src/components/visual-editor/style.native.scss
Owners: @ghost

Try smaller space between toolbar and block. (#21166)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @ellatrix

Navigation block: show color controls in toolbar only. (#20884)
  packages/block-library/src/navigation/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update entity saved states to be selected by default and partitioned by type. (#21159)
  packages/block-library/src/template-part/edit/placeholder.js
  packages/core-data/src/entities.js
  packages/e2e-tests/specs/experiments/multi-entity-saving.test.js
  packages/edit-site/src/components/save-button/index.js
  packages/editor/src/components/entities-saved-states/index.js
  packages/editor/src/components/entities-saved-states/style.scss
  packages/editor/src/components/post-publish-button/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @youknowriad, @nerrad, @ntwb

Restore default width for patterns preview viewport. (#21345)
  packages/block-editor/src/components/block-patterns/index.js
Owners: @youknowriad, @ellatrix

Fix keyboard block duplication (#21317)
  packages/block-editor/src/components/block-list/use-multi-selection.js
  packages/e2e-tests/specs/editor/various/__snapshots__/duplicating-blocks.test.js.snap
  packages/e2e-tests/specs/editor/various/duplicating-blocks.test.js
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Add a generic style to the toolbar buttons (#21252)
  packages/block-editor/src/components/block-list/breadcrumb.js
  packages/block-editor/src/components/block-list/style.scss
  packages/block-editor/src/components/block-mover/style.scss
  packages/block-editor/src/components/block-toolbar/style.scss
  packages/components/src/toolbar-button/index.js
  packages/components/src/toolbar-group/style.scss
  packages/components/src/toolbar/stories/index.js
  packages/components/src/toolbar/style.scss
  packages/interface/src/components/complementary-area/style.scss
  storybook/test/__snapshots__/index.js.snap
Owners: @youknowriad, @ellatrix, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Adds vertical variation to navigation menu (#21296)
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/editor.scss
  packages/block-library/src/navigation/index.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/e2e-tests/specs/experiments/__snapshots__/navigation.test.js.snap
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Fix the TS used for the GB-Mobile project. (#21324)
  tsconfig.base.json
Owners: none

WP-env: Add reference to docker log command to show error logs (#21308)
  packages/env/README.md
Owners: @epiqueras, @noahtallen, @noisysocks

Site Editor: add block breadcrumb (#21274)
  packages/edit-site/src/components/editor/index.js
Owners: none

Block Editor: Skip focusTabbable if no active element (#21361)
  packages/block-editor/src/components/block-list/block-wrapper.js
Owners: @youknowriad, @ellatrix

Fix wrong script name in documentation (#21364)
  packages/scripts/README.md
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Add save shortcut for navigation menu screen (#21342)
  package-lock.json
  packages/edit-navigation/package.json
  packages/edit-navigation/src/components/menu-editor/index.js
  packages/edit-navigation/src/components/menu-editor/shortcuts.js
Owners: none

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
