Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youknowriad, @chrisvanpatten, @ajitbohra, @gziolo, @mkaz, @aduth, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @dmsnell, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @youknowriad @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @gziolo @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @youknowriad @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @aduth @nerrad @mmtr
/packages/core-data                             @youknowriad @aduth @nerrad
/packages/data                                  @youknowriad @aduth @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @aduth @nerrad

# Blocks
/packages/block-library                         @youknowriad @gziolo @Soean @ajitbohra @jorgefilipecosta @talldan

# Editor
/packages/annotations                           @youknowriad @aduth @atimmer @ellatrix
/packages/autop                                 @youknowriad @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @youknowriad @aduth @dmsnell
/packages/block-serialization-default-parser    @youknowriad @aduth @dmsnell
/packages/blocks                                @youknowriad @gziolo @aduth @ellatrix
/packages/edit-post                             @youknowriad @talldan
/packages/editor                                @youknowriad @talldan
/packages/list-reusable-blocks                  @youknowriad @aduth @noisysocks
/packages/shortcode                             @youknowriad @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @youknowriad @aduth @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @youknowriad @aduth @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @youknowriad @aduth @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @youknowriad @aduth @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-console                          @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @aduth @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @aduth @ntwb @nerrad @ajitbohra @nosolosw

# UI Components
/packages/components                            @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @youknowriad @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @youknowriad @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @aduth @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @youknowriad @aduth
/packages/date                                  @youknowriad @aduth
/packages/deprecated                            @youknowriad @aduth
/packages/dom                                   @youknowriad @aduth @ellatrix
/packages/dom-ready                             @youknowriad @aduth
/packages/escape-html                           @youknowriad @aduth
/packages/html-entities                         @youknowriad @aduth
/packages/i18n                                  @youknowriad @aduth @swissspidy
/packages/is-shallow-equal                      @youknowriad @aduth
/packages/keycodes                              @youknowriad @aduth @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @youknowriad @aduth
/packages/url                                   @youknowriad @aduth @talldan
/packages/wordcount                             @youknowriad @aduth

# Extensibility
/packages/hooks                                 @youknowriad @gziolo @aduth @adamsilverstein
/packages/plugins                               @youknowriad @gziolo @aduth @adamsilverstein

# Rich Text
/packages/format-library                        @youknowriad @aduth @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @youknowriad @aduth @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @youknowriad @aduth @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @youknowriad @aduth @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Fix disabled menu item button styles (#16581)
  packages/components/src/dropdown-menu/style.scss
Owners: @youknowriad, @gziolo, @aduth, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Fix: Converting video shortcode results in empty block (#16588)
  packages/block-library/src/video/tranforms.js
Owners: @youknowriad, @gziolo, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Mobile: Show "add block here" placeholder when adding block from title (#16539)
  packages/block-editor/src/components/block-list/index.native.js
Owners: @ghost

[RNMobile] Blur post title any time another block is selected (#16642)
  packages/edit-post/src/components/visual-editor/index.native.js
  packages/editor/src/components/post-title/index.native.js
Owners: @ghost

When inserting block from title, replace block if appropriate (#16574)
  packages/block-editor/src/components/block-list/index.native.js
Owners: @ghost

Localize "Read More" link in Latest Posts block (#16665)
  packages/block-library/src/latest-posts/edit.js
Owners: @youknowriad, @gziolo, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Project Management: Update Milestone It reference date (#16702)
  .github/actions/milestone-it/entrypoint.sh
  .github/main.workflow
Owners: @youknowriad, @mapk, @karmatosed

Fix `npm run docs:build` on Windows environments (#16029)
  bin/update-readmes.js
  docs/tool/index.js
  docs/tool/update-data.js
  package.json
  packages/docgen/CHANGELOG.md
  packages/docgen/src/get-jsdoc-from-token.js
Owners: @youknowriad, @aduth, @ntwb, @nerrad, @ajitbohra, @nosolosw, @chrisvanpatten

Fix issue with inconsistent nesting appender (#16453)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @talldan, @ellatrix

RichText: add withoutInteractiveFormatting prop (#14542)
  package-lock.json
  packages/block-editor/CHANGELOG.md
  packages/block-editor/package.json
  packages/block-editor/src/components/rich-text/README.md
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/button/edit.js
  packages/block-library/src/file/edit.js
  packages/block-library/src/search/edit.js
  packages/rich-text/src/component/format-edit.js
  packages/rich-text/src/component/index.js
Owners: @youknowriad, @talldan, @ellatrix, @aduth, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @gziolo, @Soean, @ajitbohra

Mobile: ignore default tagName in image blocks
  packages/block-library/src/image/edit.native.js
Owners: @ghost

Apply inline-flex to all buttons within a ButtonGroup (fixes 16664) (#16686)
  packages/components/src/button-group/style.scss
Owners: @youknowriad, @gziolo, @aduth, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten
