Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @mkaz, @nerrad, @mmtr, @coderkevin, @mkevins, @ajlende, @atimmer, @ellatrix, @dmsnell, @draganescu, @talldan, @noisysocks, @tellthemachines, @adamziel, @kevin940726, @getdave, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @cameronvoell, @guarani, @noahtallen, @timothybjacobs, @spacedmonkey, @timothybjabocs, @ghost

Fix legacy widget height overflow (#33191)
  packages/widgets/src/blocks/legacy-widget/edit/preview.js
Owners: none

[Block Library - Query Loop]: Set default block variations not to inherit from global query (#33163)
  packages/block-library/src/query/variations.js
Owners: @ajitbohra

fix the NoPreview component's styling issues (#33200)
  packages/widgets/src/blocks/legacy-widget/editor.scss
Owners: none

Suppress block inserter focus loop (#33049)
  packages/block-editor/src/components/inserter/menu.native.js
Owners: @ghost

Fix "Select all" behavior in the editor (#33167)
  packages/dom/src/dom/is-entirely-selected.js
  packages/e2e-tests/specs/editor/various/__snapshots__/multi-block-selection.test.js.snap
  packages/e2e-tests/specs/editor/various/multi-block-selection.test.js
Owners: @ellatrix, @ntwb, @nerrad, @ajitbohra

Fix: Preset variables not being user on the site editor. (#33149)
  packages/edit-site/src/components/editor/utils.js
Owners: none

Add link color control to list block (#33185)
  packages/block-library/src/list/block.json
Owners: @ajitbohra

Fix move to widget area checkmark (#33213)
  packages/edit-widgets/src/filters/move-to-widget-area.js
  packages/edit-widgets/src/hooks/use-last-selected-widget-area.js
  packages/edit-widgets/src/store/selectors.js
Owners: @draganescu, @talldan, @noisysocks, @tellthemachines, @adamziel, @kevin940726

Tools: Husky upgrade and git ignorance improved (#33183)
  .gitattributes
  .gitignore
  .husky/.gitignore
  package-lock.json
  package.json
Owners: none

Replace legacy widget icon with its new version (#33041)
  packages/icons/src/library/widget.js
Owners: none

Mobile - Disable Slash inserter E2E (#33197)
  packages/react-native-editor/__device-tests__/gutenberg-editor-slash-inserter-@canary.test.js
Owners: none

Documentation: Remove `withState` HOC references (#33173)
  packages/components/src/date-time/README.md
  packages/components/src/drop-zone/README.md
  packages/components/src/higher-order/with-constrained-tabbing/README.md
  packages/components/src/higher-order/with-focus-return/README.md
  packages/components/src/menu-items-choice/README.md
  packages/components/src/radio-control/README.md
  packages/components/src/textarea-control/README.md
  packages/components/src/tree-select/README.md
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Use NPM caching built into `action/setup-node` (#33190)
  .github/workflows/build-plugin-zip.yml
  .github/workflows/bundle-size.yml
  .github/workflows/create-block.yml
  .github/workflows/end2end-test.yml
  .github/workflows/performance.yml
  .github/workflows/pull-request-automation.yml
  .github/workflows/rnmobile-android-runner.yml
  .github/workflows/rnmobile-ios-runner.yml
  .github/workflows/stale-issue-add-needs-testing.yml
  .github/workflows/stale-issue-mark-stale.yml
  .github/workflows/stale-issue-needs-info.yml
  .github/workflows/static-checks.yml
  .github/workflows/storybook-pages.yml
  .github/workflows/unit-test.yml
  .github/workflows/upload-release-to-plugin-repo.yml
Owners: none

Fixed bad image syntax and bold text (#32897)
  docs/how-to-guides/platform/custom-block-editor/tutorial.md
Owners: @chrisvanpatten, @ajitbohra

Documentation: Correct wrong setState call (#32808)
  packages/components/src/color-picker/README.md
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Block editor: Iframe: Remove reset styles (#33204)
  lib/client-assets.php
  packages/block-editor/src/components/iframe/index.js
Owners: @timothybjacobs, @spacedmonkey, @ellatrix

Components: promote g2 `Popover` as `Flyout` (#32197)
  docs/manifest.json
  packages/components/src/flyout/context.js
  packages/components/src/flyout/flyout-content/component.js
  packages/components/src/flyout/flyout-content/index.js
  packages/components/src/flyout/flyout/README.md
  packages/components/src/flyout/flyout/component.js
  packages/components/src/flyout/flyout/hook.js
  packages/components/src/flyout/flyout/index.js
  packages/components/src/flyout/index.js
  packages/components/src/flyout/stories/index.js
  packages/components/src/flyout/styles.ts
  packages/components/src/flyout/test/__snapshots__/index.js.snap
  packages/components/src/flyout/test/index.js
  packages/components/src/flyout/types.ts
  packages/components/src/flyout/utils.js
  packages/components/src/index.js
  packages/components/src/ui/item-group/stories/index.js
  packages/components/src/ui/popover/README.md
  packages/components/src/ui/popover/component.js
  packages/components/src/ui/popover/content.js
  packages/components/src/ui/popover/context.js
  packages/components/src/ui/popover/index.js
  packages/components/src/ui/popover/test/index.js
  packages/components/src/utils/z-index.js
  packages/components/tsconfig.json
Owners: @chrisvanpatten, @ajitbohra, @jaymanpandya

Admin PWA: make readme private (#33216)
  docs/manifest.json
  docs/tool/manifest.js
  packages/admin-manifest/package.json
Owners: @chrisvanpatten, @ajitbohra, @nosolosw, @ellatrix

Tools: Upgrade Storybook to v6.3 (#33219)
  package-lock.json
  package.json
Owners: none

Image Block: Improve "can switch to cover" check (#33095)
  packages/block-library/src/image/image.js
Owners: @ajitbohra

Site Logo Block: update Site Logo block UI and option syncing (#33179)
  packages/block-library/src/site-logo/edit.js
  packages/block-library/src/site-logo/editor.scss
  packages/block-library/src/site-logo/index.php
Owners: @ajitbohra

Add `PanelBody` for `InspectorControls` (#33227)
  packages/block-editor/src/components/inspector-controls/README.md
Owners: @ellatrix

[RNMobile] Embed block: Add undo/redo support (#33218)
  packages/block-library/src/embed/edit.js
  packages/block-library/src/embed/embed-bottom-sheet.native.js
  packages/block-library/src/embed/embed-placeholder.native.js
  packages/block-library/src/embed/embed-preview.native.js
  packages/block-library/src/embed/styles.native.scss
Owners: @ajitbohra, @ghost

Merge pull request from GHSA-43mp-gc69-2cjm
  lib/compat/wordpress-5.8/index.php
  packages/block-library/src/post-terms/edit.js
  packages/block-library/src/post-terms/index.php
  packages/block-library/src/post-terms/use-post-terms.js
Owners: @timothybjacobs, @spacedmonkey, @ajitbohra

Block Support: Update border support UI (#31585)
  packages/block-editor/src/components/border-radius-control/all-input-control.js
  packages/block-editor/src/components/border-radius-control/index.js
  packages/block-editor/src/components/border-radius-control/input-controls.js
  packages/block-editor/src/components/border-radius-control/linked-button.js
  packages/block-editor/src/components/border-radius-control/style.scss
  packages/block-editor/src/components/border-radius-control/utils.js
  packages/block-editor/src/components/border-style-control/index.js
  packages/block-editor/src/components/border-style-control/style.scss
  packages/block-editor/src/components/index.js
  packages/block-editor/src/hooks/border-color.js
  packages/block-editor/src/hooks/border-radius.js
  packages/block-editor/src/hooks/border-width.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/border.scss
  packages/block-editor/src/style.scss
  packages/edit-site/src/components/sidebar/border-panel.js
  packages/edit-site/src/components/sidebar/style.scss
  packages/icons/src/index.js
  packages/icons/src/library/line-dashed.js
  packages/icons/src/library/line-dotted.js
  packages/icons/src/library/line-solid.js
Owners: @ellatrix

Change Navigation block markup on front end only (#30551)
  packages/block-library/src/home-link/edit.js
  packages/block-library/src/navigation-link/edit.js
  packages/block-library/src/navigation/edit.js
  packages/block-library/src/navigation/index.php
  packages/block-library/src/navigation/style.scss
  packages/e2e-tests/specs/experiments/blocks/navigation.test.js
  packages/e2e-tests/specs/experiments/navigation-editor.test.js
Owners: @ajitbohra, @ntwb, @nerrad

Mobile: update image size picker (#31963)
  packages/block-library/src/image/edit.native.js
  packages/components/src/mobile/bottom-sheet-select-control/README.md
  packages/components/src/mobile/bottom-sheet-select-control/index.native.js
Owners: @ghost, @ajitbohra, @jaymanpandya, @chrisvanpatten

Mobile - Global styles: Block-specific styles (#30997)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/column/editor.native.scss
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/group/edit.native.js
  packages/block-library/src/heading/edit.js
  packages/block-library/src/list/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/style.native.scss
  packages/block-library/src/paragraph/edit.native.js
  packages/block-library/src/quote/edit.js
  packages/block-library/src/verse/edit.js
  packages/components/src/color-palette/index.native.js
  packages/components/src/mobile/color-settings/palette.screen.native.js
  packages/components/src/mobile/color-settings/style.native.scss
  packages/components/src/mobile/global-styles-context/index.native.js
  packages/components/src/mobile/global-styles-context/utils.native.js
Owners: @ghost, @ajitbohra

Try: Polish labels and consolidate options in preferences. (#33133)
  packages/edit-post/src/components/preferences-modal/index.js
  packages/edit-post/src/components/preferences-modal/test/__snapshots__/index.js.snap
Owners: none

Latest Posts block: Refactor to drop apiFetch usage in favor of using the data module (#33063)
  packages/block-library/src/latest-posts/edit.js
Owners: @ajitbohra

Fix a typo in the docs for block supports (gradient) (#33247)
  docs/reference-guides/block-api/block-supports.md
Owners: @chrisvanpatten, @ajitbohra

Refactor the user autocompleter to avoid apiFetch and rely on the data module (#33028)
  packages/editor/src/components/autocompleters/test/user.js
  packages/editor/src/components/autocompleters/user.js
Owners: none

Handbook: Clarify the type of `apiVersion` in block metadata (#33249)
  docs/reference-guides/block-api/block-metadata.md
Owners: @chrisvanpatten, @ajitbohra

Tools: Update CopyWebpackPlugin to v6 (#33220)
  package-lock.json
  package.json
  webpack.config.js
Owners: none

[Mobile] - Changelog update for color/background customization (#33250)
  packages/react-native-editor/CHANGELOG.md
Owners: none

Bump plugin version to 11.0.0
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Update the package-lock.json file
  package-lock.json
Owners: none

Add a SearchControl component and reuse accross the UI (#32935)
  docs/manifest.json
  packages/block-editor/src/components/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/menu.native.js
  packages/block-editor/src/components/inserter/quick-inserter.js
  packages/block-editor/src/components/inserter/search-form.js
  packages/block-editor/src/components/inserter/style.native.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/block-library/src/template-part/edit/selection/index.js
  packages/components/src/index.js
  packages/components/src/index.native.js
  packages/components/src/search-control/README.md
  packages/components/src/search-control/index.js
  packages/components/src/search-control/index.native.js
  packages/components/src/search-control/stories/index.js
  packages/components/src/search-control/style.native.scss
  packages/components/src/search-control/style.scss
  packages/components/src/style.scss
  packages/e2e-test-utils/src/inserter.js
  packages/e2e-tests/specs/editor/plugins/cpt-locking.test.js
  packages/e2e-tests/specs/editor/various/inserting-blocks.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
  packages/edit-post/src/components/block-manager/index.js
  packages/edit-post/src/components/block-manager/style.scss
Owners: @chrisvanpatten, @ajitbohra, @ellatrix, @ghost, @jaymanpandya, @ntwb, @nerrad

Changelog generation: remove “experimental” status from WP 5.8 stable items (#33214)
  bin/plugin/commands/changelog.js
Owners: @ntwb, @nerrad, @ajitbohra

Plugin: Remove deprecated APIs that are no longer supported in version 11.0 (#33258)
  packages/blocks/CHANGELOG.md
  packages/blocks/README.md
  packages/blocks/src/api/index.js
  packages/blocks/src/api/registration.js
Owners: none

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad @coderkevin
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra
/packages/block-library/src/gallery             @mkevins
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Duotone
/lib/block-supports/duotone.php                       @ajlende
/packages/block-editor/src/components/duotone-control @ajlende
/packages/block-editor/src/hooks/duotone.js           @ajlende
/packages/components/src/duotone-picker               @ajlende

# Editor
/packages/annotations                           @atimmer
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render

# Widgets
/packages/edit-widgets                          @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726

# Navigation
/packages/edit-navigation                       @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726 @getdave

# Full Site Editing
/packages/edit-site

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @mkaz
/packages/create-block-tutorial-template        @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/prettier-config                       @ntwb @gziolo
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra
/packages/stylelint-config                      @ntwb

# UI Components
/packages/components                            @ajitbohra @jaymanpandya @chrisvanpatten
/packages/compose                               @ajitbohra @jaymanpandya
/packages/element                               @ajitbohra @jaymanpandya
/packages/notices                               @ajitbohra @jaymanpandya
/packages/nux                                   @ajitbohra @jaymanpandya
/packages/viewport                              @ajitbohra @jaymanpandya
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keycodes
/packages/priority-queue
/packages/token-list
/packages/url
/packages/wordcount
/packages/warning
/packages/keyboard-shortcuts

# Extensibility
/packages/hooks                                 @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @cameronvoell @guarani
/packages/rich-text                             @ellatrix @cameronvoell @guarani
/packages/block-editor/src/components/rich-text @ellatrix @cameronvoell @guarani

# Project Management
/.github
/packages/project-management-automation

# wp-env
/packages/env                                   @noahtallen

# PHP
/lib                                            @timothybjacobs @spacedmonkey
/lib/global-styles.php                          @timothybjabocs @spacedmonkey @nosolosw
/lib/experimental-default-theme.json            @timothybjabocs @spacedmonkey @nosolosw
/lib/class-wp-theme-json-gutenberg.php          @timothybjabocs @spacedmonkey @nosolosw
/lib/class-wp-theme-json-resolver-gutenberg.php @timothybjabocs @spacedmonkey @nosolosw
/phpunit/class-wp-theme-json-test.php           @nosolosw

# Web App
/packages/admin-manifest                        @ellatrix
/lib/pwa.php                                    @ellatrix
/lib/service-worker.js                          @ellatrix

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost
