Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

Import the interface stylesheet into the widgets page (#21533)
  packages/edit-widgets/src/style.scss
Owners: @youknowriad

Bump plugin version to 7.9.0-rc.1
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

Update 'Welcome Guide' illustrations (#21515)
  packages/edit-post/src/components/welcome-guide/images.js
Owners: none

Delete empty space (#21453)
  lib/class-wp-rest-menu-items-controller.php
Owners: @timothybjacobs

Update the "patterns" to reflect "user interface" instead (#21562)
  docs/designers-developers/designers/user-interface.md
  docs/manifest.json
  docs/toc.json
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Remove duplicate sentence. (#21565)
  docs/designers-developers/glossary.md
Owners: @chrisvanpatten, @ajitbohra

Restore default button styles (#21572)
  packages/block-library/src/button/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Improve the performance of the BlockPreview component (#21574)
  packages/block-editor/src/components/block-preview/auto.js
  packages/block-editor/src/components/block-preview/index.js
Owners: @youknowriad, @ellatrix

Update bug report template to identify the editor version better(#21564)
  .github/ISSUE_TEMPLATE/Bug_report.md
Owners: @youknowriad, @mapk, @karmatosed

Hide stepper arrows in cover height control (Firefox) (#21571)
  packages/components/src/unit-control/styles/unit-control-styles.js
  storybook/test/__snapshots__/index.js.snap
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

fix: [#20954] Scheduled posts display the correct url (#21410)
  packages/editor/src/components/post-publish-panel/postpublish.js
Owners: none

Link Format: collapse selection to end after insert (#17126)
  packages/e2e-tests/specs/editor/various/links.test.js
  packages/format-library/src/link/inline.js
Owners: @ntwb, @nerrad, @ajitbohra, @talldan, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Chore: Update npm dependencies that warn (#21596)
  package-lock.json
  packages/e2e-tests/config/setup-test-framework.js
  packages/jest-puppeteer-axe/CHANGELOG.md
  packages/jest-puppeteer-axe/package.json
Owners: @ntwb, @nerrad, @ajitbohra, @talldan, @gziolo

Update changelog files
  packages/blocks/CHANGELOG.md
  packages/create-block/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/env/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/i18n/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/scripts/CHANGELOG.md
  packages/url/CHANGELOG.md
Owners: @youknowriad, @ellatrix, @aduth, @gziolo, @epiqueras, @noahtallen, @noisysocks, @ntwb, @nerrad, @ajitbohra, @swissspidy, @talldan

Update changelog files
  packages/a11y/CHANGELOG.md
  packages/autop/CHANGELOG.md
  packages/babel-preset-default/CHANGELOG.md
  packages/blob/CHANGELOG.md
  packages/dom-ready/CHANGELOG.md
  packages/e2e-test-utils/CHANGELOG.md
  packages/escape-html/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/html-entities/CHANGELOG.md
  packages/i18n/CHANGELOG.md
  packages/is-shallow-equal/CHANGELOG.md
  packages/jest-preset-default/CHANGELOG.md
  packages/npm-package-json-lint-config/CHANGELOG.md
  packages/priority-queue/CHANGELOG.md
  packages/project-management-automation/CHANGELOG.md
  packages/scripts/CHANGELOG.md
  packages/token-list/CHANGELOG.md
  packages/url/CHANGELOG.md
  packages/warning/CHANGELOG.md
Owners: @youknowriad, @aduth, @gziolo, @ntwb, @nerrad, @ajitbohra, @swissspidy, @talldan

Bundle the block autocompleter in the block-editor package (#21534)
  packages/block-editor/src/autocompleters/block.js
  packages/block-editor/src/autocompleters/style.scss
  packages/block-editor/src/autocompleters/test/block.js
  packages/block-editor/src/components/autocomplete/index.js
  packages/block-editor/src/style.scss
  packages/editor/src/components/autocompleters/index.js
  packages/editor/src/components/autocompleters/style.scss
  packages/editor/src/hooks/default-autocompleters.js
Owners: @youknowriad, @ellatrix

Update changelog file for is-shalow-equal
  packages/is-shallow-equal/CHANGELOG.md
Owners: @aduth

[RNMobile] Correct colors usage in Button (#21603)
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/button/editor.native.scss
Owners: @ghost

RNMobile - Hide video component while video is loading (#21508)
  packages/block-library/src/cover/edit.native.js
Owners: @ghost

eslint-plugin: fix: Cannot find module '../utils' (#21609)
  packages/eslint-plugin/package.json
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

eslint-plugin: Add CHANGELOG entry for utils file entry
  packages/eslint-plugin/CHANGELOG.md
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra

Fixes overlaping column contents for embeds (#21570)
  packages/block-library/src/embed/editor.scss
  packages/block-library/src/embed/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update npm-package-json-lint from 4.0.3 to 5.0.0 (#21597)
  package-lock.json
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Types: Hide element, primitives, icons declarations (#21613)
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  tsconfig.json
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta

ESLint Plugin: Add the recommended Prettier config to enforce WP coding styles (#21602)
  .prettierrc.js
  package-lock.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/configs/recommended.js
  packages/eslint-plugin/package.json
  packages/scripts/config/.eslintrc.js
  packages/scripts/scripts/format-js.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @youknowriad

Update changelog files
  packages/element/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/primitives/CHANGELOG.md
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @gziolo, @ntwb, @nerrad

chore(release): publish
  packages/annotations/package.json
  packages/api-fetch/package.json
  packages/babel-preset-default/package.json
  packages/block-directory/package.json
  packages/block-editor/package.json
  packages/block-library/package.json
  packages/blocks/package.json
  packages/components/package.json
  packages/compose/package.json
  packages/core-data/package.json
  packages/data-controls/package.json
  packages/data/package.json
  packages/e2e-tests/package.json
  packages/edit-navigation/package.json
  packages/edit-post/package.json
  packages/edit-site/package.json
  packages/edit-widgets/package.json
  packages/editor/package.json
  packages/element/package.json
  packages/eslint-plugin/package.json
  packages/format-library/package.json
  packages/icons/package.json
  packages/interface/package.json
  packages/keyboard-shortcuts/package.json
  packages/list-reusable-blocks/package.json
  packages/media-utils/package.json
  packages/notices/package.json
  packages/nux/package.json
  packages/plugins/package.json
  packages/primitives/package.json
  packages/rich-text/package.json
  packages/scripts/package.json
  packages/server-side-render/package.json
  packages/viewport/package.json
Owners: @atimmer, @ellatrix, @youknowriad, @nerrad, @mmtr, @gziolo, @ntwb, @ajitbohra, @Soean, @jorgefilipecosta, @talldan, @aduth, @jaymanpandya, @chrisvanpatten, @coderkevin, @daniloercoli, @sergioestevao, @etoledom, @noisysocks, @adamsilverstein

Bump plugin version to 7.9.0
  changelog.txt
  gutenberg.php
  package-lock.json
  package.json
  readme.txt
Owners: none

[RNMobile] Adjust Range-Control to add the stepper control and allow type selection (#21465)
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/gallery/columns-control/index.js
  packages/block-library/src/gallery/columns-control/index.native.js
  packages/block-library/src/gallery/edit.js
  packages/components/src/index.native.js
  packages/components/src/mobile/stepper-control/README.md
  packages/components/src/mobile/stepper-control/index.native.js
  packages/components/src/range-control/README.md
  packages/components/src/range-control/index.native.js
Owners: @ghost, @mkevins, @pinarol, @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Create triage.md (#21350)
  docs/contributors/triage.md
Owners: @chrisvanpatten, @ajitbohra

Improve URLPopover code in accordance with a review received (#21621)
  packages/block-editor/src/components/url-popover/link-viewer-url.js
  packages/block-editor/src/components/url-popover/link-viewer.js
Owners: @youknowriad, @ellatrix

FIx: Media Text padding on inner blocks (#21612)
  packages/block-library/src/media-text/editor.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

env: Expose port 3306 of MySQL container. (#21545)
  packages/env/lib/build-docker-compose-config.js
Owners: @epiqueras, @noahtallen, @noisysocks

Fix/calendar focus (#21600)
  packages/components/src/date-time/style.scss
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Clean up instructions for remote server (#21625)
  docs/contributors/getting-started.md
Owners: @chrisvanpatten, @ajitbohra

elevate scrollEnabled prop to BlockList (#21505)
  packages/block-editor/src/components/block-list/index.native.js
  packages/block-editor/src/components/inner-blocks/index.native.js
  packages/block-library/src/column/edit.native.js
  packages/block-library/src/columns/edit.native.js
  packages/block-library/src/group/edit.native.js
Owners: @ghost

Update cleanForSlug() to remove additional non-word characters (#21007)
  packages/editor/src/utils/test/url.js
  packages/editor/src/utils/url.js
  packages/url/README.md
  packages/url/src/clean-for-slug.js
  packages/url/src/test/index.test.js
Owners: @talldan, @aduth

Replace incorrect 'label' attribute with 'aria-label' (#20540)
  packages/components/src/snackbar/index.js
  storybook/test/__snapshots__/index.js.snap
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten

Template Part: Add extra validation when loading template parts (#21636)
  packages/block-library/src/template-part/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Docs: Update triage links to new document (#21629)
  CONTRIBUTING.md
  docs/contributors/readme.md
  docs/contributors/repository-management.md
  docs/manifest.json
  docs/toc.json
Owners: @chrisvanpatten, @ajitbohra

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
