Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @gziolo, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

Bump plugin version to 6.6.0
  gutenberg.php
  package-lock.json
  package.json
Owners: none

Update: Refactor ColorPalette by extracting its design (#17154)
  assets/stylesheets/_z-index.scss
  packages/components/src/circular-option-picker/index.js
  packages/components/src/circular-option-picker/style.scss
  packages/components/src/color-palette/index.js
  packages/components/src/color-palette/style.scss
  packages/components/src/color-palette/test/__snapshots__/index.js.snap
  packages/components/src/color-palette/test/index.js
  packages/components/src/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Fix margin styles for gallery and social. (#17694)
  packages/block-library/src/gallery/editor.scss
  packages/block-library/src/gallery/style.scss
  packages/block-library/src/social-links/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @mkaz

Change z-index override logic for popovers. (#17696)
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/block-navigation/dropdown.js
  packages/block-editor/src/components/block-navigation/style.scss
  packages/block-editor/src/components/font-sizes/style.scss
  packages/block-editor/src/components/inserter/style.scss
  packages/block-editor/src/components/rich-text/style.scss
  packages/block-editor/src/style.scss
  packages/components/src/color-palette/style.scss
  packages/components/src/popover/style.scss
  packages/components/src/style.scss
  packages/edit-post/src/components/header/more-menu/style.scss
  packages/editor/src/components/post-visibility/style.scss
  packages/editor/src/components/table-of-contents/style.scss
Owners: @youknowriad, @talldan, @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @gziolo, @ajitbohra, @jaymanpandya, @chrisvanpatten

[RNMobile] iOS DarkMode toolbar buttons (#17356)
  packages/components/src/button/index.native.js
  packages/components/src/icon-button/index.js
  packages/components/src/primitives/svg/index.native.js
  packages/components/src/primitives/svg/style.native.scss
  packages/components/src/toolbar/style.native.scss
Owners: @ghost, @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

[RNMobile] Link target option on Image Block (#17675)
  packages/block-library/src/image/constants.js
  packages/block-library/src/image/edit.js
  packages/block-library/src/image/edit.native.js
  packages/block-library/src/image/test/edit.native.js
  packages/block-library/src/image/utils.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ghost

Plugins: Ensure sidebar plugins do not get auto-closed when opened on… (#17712)
  packages/e2e-test-utils/src/set-browser-viewport.js
  packages/e2e-tests/specs/plugins/__snapshots__/plugins-api.test.js.snap
  packages/e2e-tests/specs/plugins/plugins-api.test.js
  packages/edit-post/CHANGELOG.md
  packages/edit-post/src/components/editor-initialization/listener-hooks.js
  packages/edit-post/src/components/editor-initialization/test/listener-hooks.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

default state for the menu (#17637)
  packages/block-library/src/navigation-menu/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Autosave: Improve E2E test reliability by consuming synchronous data and bailing on save failure (#17679)
  packages/e2e-tests/specs/autosave.test.js
  packages/editor/src/components/local-autosave-monitor/index.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Hide conflicting checkbox styles in IE (#17714)
  packages/components/src/checkbox-control/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

fix(modal): refactors all occurances of isDismissable to isDismissible (#17689)
  packages/components/src/modal/README.md
  packages/components/src/modal/header.js
  packages/components/src/modal/index.js
  packages/editor/src/components/post-locked-modal/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

feat add ungrouping (#17575)
  packages/block-editor/src/components/block-toolbar/index.native.js
  packages/block-editor/src/components/ungroup-button/icon.js
  packages/block-editor/src/components/ungroup-button/index.native.js
Owners: @ghost, @youknowriad, @talldan, @ellatrix

Scripts: Added temporary workaround for the default config used with `lint-js` command (#17744)
  packages/scripts/CHANGELOG.md
  packages/scripts/config/.eslintrc.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Components: Cleanup Dashicons component (#17741)
  packages/components/src/dashicon/icon-class.js
  packages/components/src/dashicon/icon-class.native.js
  packages/components/src/dashicon/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten, @ghost

Add: Preset gradient functionality button block (#17169)
  assets/stylesheets/_z-index.scss
  packages/block-editor/src/components/gradient-picker/control.js
  packages/block-editor/src/components/gradient-picker/control.scss
  packages/block-editor/src/components/gradient-picker/index.js
  packages/block-editor/src/components/index.js
  packages/block-editor/src/store/defaults.js
  packages/block-editor/src/style.scss
  packages/block-library/src/button/block.json
  packages/block-library/src/button/edit.js
  packages/block-library/src/button/save.js
  packages/components/src/circular-option-picker/style.scss
  packages/components/src/gradient-picker/index.js
  packages/components/src/index.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @gziolo, @jaymanpandya, @chrisvanpatten

[RNMobile] FloatingToolbar (#17399)
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.js
  packages/block-editor/src/components/block-list/block-mobile-floating-toolbar.native.scss
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/index.native.js
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
Owners: @ghost

Add has-text-color class to heading block. (#17742)
  packages/block-library/src/heading/deprecated.js
  packages/block-library/src/heading/save.js
  packages/e2e-tests/fixtures/block-transforms.js
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-2.html
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-2.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-2.parsed.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-2.serialized.html
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.html
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.parsed.json
  packages/e2e-tests/fixtures/blocks/core__heading__deprecated-3.serialized.html
  packages/e2e-tests/fixtures/blocks/core__heading__h2-color.html
  packages/e2e-tests/fixtures/blocks/core__heading__h2-color.json
  packages/e2e-tests/fixtures/blocks/core__heading__h2-color.parsed.json
  packages/e2e-tests/fixtures/blocks/core__heading__h2-color.serialized.html
  packages/e2e-tests/specs/__snapshots__/block-transforms.test.js.snap
  packages/e2e-tests/specs/blocks/__snapshots__/heading.test.js.snap
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @gziolo, @ntwb, @nerrad

Try: Move figure clearing CSS to editor style. (#17737)
  packages/block-library/src/image/editor.scss
  packages/block-library/src/image/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Scripts: Use the latest version of webpack for build and start commands (#17746)
  package-lock.json
  package.json
  packages/dependency-extraction-webpack-plugin/test/__snapshots__/build.js.snap
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Update URL to excerpts documentation (#17753)
  packages/editor/src/components/post-excerpt/index.js
Owners: @talldan

IconButton will use Icon component just if icon prop is string. (#17752)
  packages/components/src/icon-button/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Avoid using a cached version of package.json (#17717)
  bin/commander.js
Owners: @ntwb, @nerrad, @ajitbohra

Fix: Heading and paragraph colors not applied inside the cover block. (#17728)
  packages/block-library/src/cover/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix: Dottips do not disappear when other parts of the editor are engaged. (#17663)
  packages/e2e-test-utils/src/disable-pre-publish-checks.js
  packages/e2e-test-utils/src/enable-pre-publish-checks.js
  packages/e2e-test-utils/src/toggle-screen-option.js
  packages/nux/src/components/dot-tip/index.js
  packages/nux/src/components/dot-tip/test/__snapshots__/index.js.snap
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @noisysocks

Framework: Add Component Storybook. (#17475)
  .eslintrc.js
  .travis.yml
  docs/contributors/getting-started.md
  lerna.json
  package-lock.json
  package.json
  packages/components/docs/introduction.story.mdx
  packages/components/src/button/stories/index.js
  packages/components/storybook/.babelrc
  packages/components/storybook/addons.js
  packages/components/storybook/config.js
  packages/components/storybook/presets.js
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @gziolo, @jaymanpandya, @jorgefilipecosta, @talldan

Data Controls: Docs: Fix syntax errors and inaccurate usage example for dispatch data control (#17773)
  packages/data-controls/CHANGELOG.md
  packages/data-controls/README.md
  packages/data-controls/src/index.js
Owners: none

Rename tranforms to transforms (#17782)
  packages/block-library/src/subhead/index.js
  packages/block-library/src/subhead/transforms.js
  packages/block-library/src/text-columns/index.js
  packages/block-library/src/text-columns/transforms.js
  packages/block-library/src/verse/index.js
  packages/block-library/src/verse/transforms.js
  packages/block-library/src/video/index.js
  packages/block-library/src/video/transforms.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Env: Make tests independent from execution time.
  packages/env/tests/cli.test.js
Owners: none

Fix typo embedTumblrIcon (#17800)
  packages/block-library/src/embed/core-embeds.js
  packages/block-library/src/embed/icons.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix typo: sidabar --> sidebar (#17666)
  lib/class-experimental-wp-widget-blocks-manager.php
  lib/class-wp-rest-widget-areas-controller.php
Owners: @timothybjacobs

Block Library: remove uses of wrapperClassName on RichText (#17713)
  packages/block-editor/src/components/rich-text/index.js
  packages/block-library/src/button/editor.scss
  packages/block-library/src/editor.scss
  packages/block-library/src/file/edit.js
  packages/block-library/src/heading/edit.js
  packages/block-library/src/list/edit.js
  packages/block-library/src/list/editor.scss
  packages/block-library/src/preformatted/edit.js
  packages/block-library/src/preformatted/editor.scss
  packages/block-library/src/preformatted/theme.scss
  packages/block-library/src/pullquote/edit.js
  packages/block-library/src/pullquote/editor.scss
  packages/block-library/src/search/edit.js
  packages/block-library/src/search/editor.scss
  packages/block-library/src/theme.scss
  packages/block-library/src/verse/edit.js
  packages/block-library/src/verse/editor.scss
  packages/e2e-tests/specs/blocks/heading.test.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom, @Soean, @ajitbohra, @talldan, @gziolo, @ntwb, @nerrad

Editor: Fix custom sources backwards compatibility for the pages post type. (#17820)
  packages/e2e-tests/specs/plugins/__snapshots__/meta-attribute-block.test.js.snap
  packages/e2e-tests/specs/plugins/meta-attribute-block.test.js
  packages/editor/src/hooks/custom-sources-backwards-compatibility.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Fix lerna js site link (#17821)
  README.md
  docs/contributors/managing-packages.md
Owners: @chrisvanpatten, @ajitbohra

Fix for bug with toggling opensInNewWindow state (#17794)
  packages/format-library/src/link/inline.js
  packages/format-library/src/link/test/inline.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Travis: Only run deploy stage on master. (#17823)
  .travis.yml
Owners: none

Update mixin that sets hover style on some buttons (#17581)
  assets/stylesheets/_mixins.scss
Owners: none

Core Data: Fix redo behavior and expand test coverage. (#17827)
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/__snapshots__/undo.test.js.snap
  packages/e2e-tests/specs/undo.test.js
Owners: @youknowriad, @nerrad, @gziolo, @ntwb, @ajitbohra, @talldan

[RNMobile] Inner Block Navigate upward through hierarchy (#17496)
  packages/block-editor/src/components/block-list/block.native.js
  packages/block-editor/src/components/block-list/block.native.scss
  packages/block-editor/src/components/block-list/nav-up-icon.js
Owners: @ghost, @youknowriad, @talldan, @ellatrix

add i18n (#17828)
  packages/edit-post/src/plugins/copy-content-menu-item/index.js
Owners: @talldan

Remove declarations not needed for iOS DarkMode (#17802)
  packages/rich-text/src/component/index.native.js
  packages/rich-text/src/component/style.native.scss
Owners: @ghost

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @talldan
/packages/editor                                @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date                                  @aduth
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html                           @aduth
/packages/html-entities                         @aduth
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
