Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @mkaz, @nerrad, @mmtr, @coderkevin, @talldan, @mkevins, @ajlende, @atimmer, @ellatrix, @dmsnell, @draganescu, @noisysocks, @tellthemachines, @adamziel, @kevin940726, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @cameronvoell, @guarani, @mapk, @karmatosed, @noahtallen, @timothybjacobs, @spacedmonkey, @timothybjabocs, @ghost

fix(shortcode): replace function should handle empty string callback return (#16358)
  packages/shortcode/src/index.js
  packages/shortcode/src/test/index.js
Owners: none

Fix: Block crashes if font family is not found (#27654)
  packages/block-editor/src/hooks/font-family.js
Owners: @ellatrix

Fix: Font Weight and Style don't work independently on global styles. (#27659)
  packages/edit-site/src/components/sidebar/typography-panel.js
Owners: none

Add block support for borders (#25791)
  lib/block-supports/border.php
  lib/class-wp-theme-json.php
  lib/experimental-default-theme.json
  lib/load.php
  packages/block-editor/src/hooks/border-radius.js
  packages/block-editor/src/hooks/border.js
  packages/block-editor/src/hooks/style.js
  packages/block-editor/src/hooks/test/style.js
  packages/blocks/src/api/constants.js
Owners: @timothybjacobs, @spacedmonkey, @timothybjabocs, @nosolosw, @ellatrix

Button: is-busy state candybar animation fixed (#27592)
  packages/components/src/button/style.scss
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

Add a useDialog hook and replace the duplicated PopoverWrapper (#27643)
  package-lock.json
  packages/compose/package.json
  packages/compose/src/hooks/use-dialog/README.md
  packages/compose/src/hooks/use-dialog/index.js
  packages/compose/src/hooks/use-focus-on-mount/index.js
  packages/compose/src/index.js
  packages/edit-post/src/components/layout/index.js
  packages/edit-post/src/components/layout/popover-wrapper.js
  packages/edit-post/src/components/layout/style.scss
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/editor/popover-wrapper.js
  packages/edit-site/src/components/editor/style.scss
  packages/edit-widgets/src/components/layout/interface.js
  packages/edit-widgets/src/components/layout/popover-wrapper.js
  packages/edit-widgets/src/components/layout/style.scss
Owners: @ajitbohra, @jaymanpandya, @draganescu, @talldan, @noisysocks, @tellthemachines, @adamziel, @kevin940726

Scope image block style variations to only the image block (#27649)
  packages/block-library/src/image/style.scss
Owners: @ajlende

Code block: remove CSS Custom Property (#27672)
  packages/block-library/src/code/style.scss
Owners: @ajitbohra, @talldan

Try: Update readme screenshot (#27223)
  README.md
Owners: none

Update docs to show how a theme can have FSE automatically enabled. (#27680)
  docs/designers-developers/developers/themes/block-based-themes.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Mobile - Fix some cases where getBlockAttributes can be null when removing a block (#27683)
  packages/block-editor/src/components/gradients/use-gradient.js
  packages/block-editor/src/components/use-editor-feature/index.js
Owners: @ellatrix

fix(social-links): block alignment option for align right (#26861)
  packages/block-library/src/social-links/style.scss
Owners: @mkaz

Translated theme.json
  docs/designers-developers/developers/themes/theme-json.md
Owners: @chrisvanpatten, @mkaz, @ajitbohra

Add GitHub support document (#27524)
  .github/SUPPORT.md
Owners: @mapk, @karmatosed

Popover: use focus outside hook (#27700)
  packages/components/src/popover/detect-outside.js
  packages/components/src/popover/index.js
  packages/components/src/popover/test/__snapshots__/index.js.snap
  packages/components/src/popover/test/index.js
Owners: @ajitbohra, @jaymanpandya, @chrisvanpatten

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @nerrad @mmtr
/packages/core-data                             @nerrad
/packages/data                                  @nerrad @coderkevin
/packages/redux-routine                         @nerrad
/packages/data-controls                         @nerrad

# Blocks
/packages/block-library                         @ajitbohra @talldan
/packages/block-library/src/gallery             @mkevins
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz
/packages/block-library/src/image               @ajlende

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop
/packages/block-editor                          @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @ellatrix
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks
/packages/shortcode
/packages/block-directory
/packages/interface
/packages/media-utils
/packages/server-side-render

# Widgets
/packages/edit-widgets                          @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726

# Navigation
/packages/edit-navigation                       @draganescu @talldan @noisysocks @tellthemachines @adamziel @kevin940726

# Full Site Editing
/packages/edit-site

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo @mkaz
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @ntwb @nerrad @ajitbohra
/packages/scripts                               @gziolo @ntwb @nerrad @ajitbohra
/packages/dependency-extraction-webpack-plugin  @gziolo
/packages/prettier-config                       @ntwb @gziolo

# UI Components
/packages/components                            @ajitbohra @jaymanpandya @chrisvanpatten
/packages/compose                               @ajitbohra @jaymanpandya
/packages/element                               @ajitbohra @jaymanpandya
/packages/notices                               @ajitbohra @jaymanpandya
/packages/nux                                   @ajitbohra @jaymanpandya
/packages/viewport                              @ajitbohra @jaymanpandya
/packages/base-styles
/packages/icons
/packages/primitives

# Utilities
/packages/a11y
/packages/blob
/packages/date
/packages/deprecated
/packages/dom                                   @ellatrix
/packages/dom-ready
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue
/packages/token-list
/packages/url                                   @talldan
/packages/wordcount
/packages/warning
/packages/keyboard-shortcuts

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @cameronvoell @guarani
/packages/rich-text                             @ellatrix @cameronvoell @guarani
/packages/block-editor/src/components/rich-text @ellatrix @cameronvoell @guarani

# Project Management
/.github                                        @mapk @karmatosed
/packages/project-management-automation

# wp-env
/packages/env                                   @noahtallen

# PHP
/lib                                            @timothybjacobs @spacedmonkey
/lib/global-styles.php                          @timothybjabocs @spacedmonkey @nosolosw
/lib/experimental-default-theme.json            @timothybjabocs @spacedmonkey @nosolosw

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost
