Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @mkevins, @pinarol, @atimmer, @ellatrix, @aduth, @dmsnell, @noisysocks, @ntwb, @nosolosw, @gziolo, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @epiqueras, @noahtallen, @timothybjacobs, @ghost, @mapk, @karmatosed

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/gallery             @mkevins @pinarol
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @ellatrix @aduth
/packages/edit-post
/packages/editor
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/api-docs                                   @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/create-block                          @gziolo
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @chrisvanpatten
/packages/compose                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/element                               @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html
/packages/html-entities
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan @aduth
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# wp-env
/packages/env                                   @epiqueras @noahtallen @noisysocks

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed

Site Editor: make close button replaceable (#22001)
  packages/edit-site/src/components/editor/index.js
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/header/main-dashboard-button/index.js
  packages/edit-site/src/index.js
Owners: none

Add "black" and "white" color options to default color palette. (#22082)
  packages/block-editor/src/store/defaults.js
  packages/block-library/src/style.scss
Owners: @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Edit Site: Add home icon to template switcher. (#22004)
  lib/edit-site-page.php
  packages/edit-site/src/components/header/index.js
  packages/edit-site/src/components/template-switcher/index.js
  packages/edit-site/src/components/template-switcher/style.scss
  packages/icons/src/library/home.js
Owners: @timothybjacobs

FIX translators won't be needed or wrong
  packages/i18n/README.md
Owners: @swissspidy

Translated dev docs 6 Accessibility
  docs/designers-developers/developers/accessibility.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Update: Widgets screen show disabled inserter (#21957)
  packages/edit-widgets/src/components/header/index.js
  packages/edit-widgets/src/components/header/style.scss
  packages/edit-widgets/src/components/inserter/index.js
  packages/edit-widgets/src/components/layout/index.js
Owners: @youknowriad

[RNMobile] Color settings (#21326)
  packages/block-editor/src/components/block-mobile-toolbar/index.native.js
  packages/block-editor/src/components/block-settings/container.native.js
  packages/block-editor/src/components/colors-gradients/panel-color-gradient-settings.native.js
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/inspector-controls/index.native.js
  packages/block-editor/src/hooks/color-panel.native.js
  packages/block-editor/src/hooks/color.js
  packages/block-library/src/button/color-background.native.js
  packages/block-library/src/button/color-edit.js
  packages/block-library/src/button/edit.native.js
  packages/block-library/src/button/editor.native.scss
  packages/block-library/src/columns/index.js
  packages/block-library/src/group/index.js
  packages/block-library/src/heading/index.js
  packages/block-library/src/media-text/index.js
  packages/block-library/src/paragraph/index.js
  packages/components/src/color-control/index.native.js
  packages/components/src/color-indicator/index.native.js
  packages/components/src/color-indicator/style.native.scss
  packages/components/src/color-palette/index.native.js
  packages/components/src/color-palette/style.native.scss
  packages/components/src/color-picker/index.native.js
  packages/components/src/color-picker/style.native.scss
  packages/components/src/index.native.js
  packages/components/src/mobile/bottom-sheet/bottom-sheet-context.native.js
  packages/components/src/mobile/bottom-sheet/color-cell.native.js
  packages/components/src/mobile/bottom-sheet/index.native.js
  packages/components/src/mobile/bottom-sheet/navigation-header.native.js
  packages/components/src/mobile/bottom-sheet/styles.native.scss
  packages/components/src/mobile/color-settings/index.native.js
  packages/components/src/mobile/color-settings/style.native.scss
  packages/components/src/mobile/color-settings/utils.native.js
  packages/components/src/mobile/segmented-control/index.native.js
  packages/components/src/mobile/segmented-control/style.native.scss
  packages/components/src/range-control/index.native.js
  test/native/setup.js
Owners: @ghost, @youknowriad, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Update the Patterns API (#21970)
  docs/designers-developers/developers/block-api/block-patterns.md
  lib/class-wp-block-patterns-registry.php
  lib/client-assets.php
  lib/load.php
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs

Template Loader: Introduce get_template_hierarchy(), drop gutenberg_template_include_filter() (#21980)
  lib/edit-site-page.php
  lib/template-loader.php
Owners: @timothybjacobs

Writing flow: fix vertical arrow nav in table (and generally grid) (#22105)
  packages/block-editor/src/components/writing-flow/index.js
  packages/e2e-tests/specs/editor/blocks/__snapshots__/table.test.js.snap
  packages/e2e-tests/specs/editor/blocks/table.test.js
  packages/e2e-tests/specs/editor/various/writing-flow.test.js
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Block API: Block Context: Filter content, prepare attributes at render, pass block to render (#21925)
  docs/designers-developers/developers/block-api/block-context.md
  lib/class-wp-block-list.php
  lib/class-wp-block.php
  lib/compat.php
  lib/load.php
  packages/block-library/src/post-title/index.php
  packages/e2e-tests/plugins/block-context.php
  phpunit/class-block-context-test.php
  phpunit/class-wp-block-list-test.php
  phpunit/class-wp-block-test.php
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs, @Soean, @jorgefilipecosta, @talldan, @ntwb, @nerrad

Build Tooling: Run packages build before lint (#22088)
  .travis.yml
Owners: none

Docs: Coding Guidelines: Add "gotchas" section about ES2020 optional chaining (#22029)
  docs/contributors/coding-guidelines.md
Owners: @chrisvanpatten, @ajitbohra

Block: avoid useLayoutEffect (#22108)
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/e2e-tests/specs/editor/blocks/list.test.js
  packages/e2e-tests/specs/editor/plugins/align-hook.test.js
Owners: @youknowriad, @ellatrix, @ntwb, @nerrad, @ajitbohra, @talldan

Implement selectedBlockClientId and selectBlock props (#22017)
  packages/edit-navigation/src/components/menu-editor/navigation-structure-panel.js
Owners: none

REST API: Typecast author_block_count to integer. (#17594)
  lib/class-wp-rest-block-directory-controller.php
Owners: @timothybjacobs

Add `analyze-bundles` script (#21827)
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/config/webpack.config.js
  webpack.config.js
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Remove subscription button (#22129)
  packages/block-editor/src/components/page-template-picker/templates/blog.native.js
Owners: @ghost

Allow the column block in the inserter (#20502)
  packages/block-library/src/column/index.js
  packages/block-library/src/columns/edit.js
  packages/e2e-tests/specs/editor/blocks/columns.test.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @ntwb, @nerrad

temporary commit
  docs/designers-developers/developers/feature-flags.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

[RNMobile] Add missing RTL support for some mobile components (#21502)
  packages/block-editor/src/components/alignment-toolbar/index.js
  packages/block-editor/src/components/block-list/breadcrumb.native.js
  packages/block-editor/src/components/block-mover/index.native.js
  packages/block-editor/src/components/floating-toolbar/index.native.js
  packages/block-library/src/gallery/gallery-image.native.js
  packages/block-library/src/gallery/gallery.native.js
  packages/block-library/src/list/edit.js
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/paragraph/edit.native.js
  packages/edit-post/src/components/header/header-toolbar/index.native.js
  packages/edit-post/src/editor.native.js
  packages/icons/src/index.js
  packages/icons/src/library/format-indent-rtl.js
  packages/icons/src/library/format-list-bullets-rtl.js
  packages/icons/src/library/format-list-numbered-rtl.js
  packages/icons/src/library/format-outdent-rtl.js
Owners: @youknowriad, @ellatrix, @ghost, @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix bundle analysis change location in changelog (#22136)
  packages/scripts/CHANGELOG.md
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

font-size presets: fix specificity in editor (#21969)
  packages/block-library/src/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Translated dev docs 7 Feature Flags
  docs/designers-developers/developers/feature-flags.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Expose presets declared via add_theme_support in global styles (#22076)
  lib/global-styles.php
Owners: @timothybjacobs

Fix doc building pre-commit hook issue. (#22116)
  packages/docgen/src/markdown/index.js
Owners: @nosolosw

Block Library: Post Author: Reference attributes by argument (#22114)
  packages/block-library/src/post-author/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Reduce re-renders from block nodes context (#22134)
  packages/block-editor/src/components/block-list/block-popover.js
  packages/block-editor/src/components/block-list/block-wrapper.js
  packages/block-editor/src/components/block-list/root-container.js
Owners: @youknowriad, @ellatrix

Add Testimonials block pattern (#20894)
  lib/client-assets.php
  lib/patterns/testimonials.php
Owners: @timothybjacobs

Docs: Coding Guidelines: Document JavaScript language support commitment (#22030)
  docs/contributors/coding-guidelines.md
  packages/babel-preset-default/README.md
Owners: @chrisvanpatten, @ajitbohra, @youknowriad, @gziolo, @ntwb, @nerrad

Use InspectorControls from @wordpress/block-editor (#22153)
  docs/designers-developers/developers/filters/block-filters.md
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra

Extract block mover buttons so that they can be individually imported (#22122)
  packages/block-editor/src/components/block-mover/button.js
  packages/block-editor/src/components/block-mover/index.js
  packages/block-editor/src/components/block-mover/style.scss
Owners: @youknowriad, @ellatrix

Scripts: Mark `env` script as deprecated (#22158)
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
Owners: @youknowriad, @gziolo, @ntwb, @nerrad, @ajitbohra

Docs: Coding Guidelines: Recommend function components (#22090)
  docs/contributors/coding-guidelines.md
Owners: @chrisvanpatten, @ajitbohra

[Optimize] Move memo() from BlockStyles to BlockPreview (#21993)
  packages/block-editor/src/components/block-preview/index.js
  packages/block-editor/src/components/block-styles/index.js
Owners: @youknowriad, @ellatrix

Remove import of inexistant component (#22130)
  packages/editor/src/components/deprecated.js
Owners: none

Unset the inherit for links. (#22160)
  packages/editor/src/editor-styles.scss
Owners: none

Add a Clear Publish Date Button (#20914)
  packages/components/src/date-time/index.js
  packages/components/src/date-time/style.scss
  packages/components/src/date-time/time.js
  packages/e2e-tests/specs/editor/various/datepicker.test.js
  packages/editor/src/components/post-schedule/index.js
  packages/editor/src/store/selectors.js
Owners: @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @chrisvanpatten, @ntwb, @nerrad, @talldan

Block Library: Update FSE blocks to use block context (#21696)
  docs/designers-developers/developers/backward-compatibility/deprecations.md
  lib/compat.php
  lib/template-loader.php
  packages/block-library/src/post-author/block.json
  packages/block-library/src/post-author/index.php
  packages/block-library/src/post-comments-count/block.json
  packages/block-library/src/post-comments-count/index.php
  packages/block-library/src/post-comments-form/block.json
  packages/block-library/src/post-comments-form/index.php
  packages/block-library/src/post-comments/block.json
  packages/block-library/src/post-comments/index.php
  packages/block-library/src/post-content/block.json
  packages/block-library/src/post-content/index.php
  packages/block-library/src/post-date/block.json
  packages/block-library/src/post-date/index.php
  packages/block-library/src/post-excerpt/block.json
  packages/block-library/src/post-excerpt/index.php
  packages/block-library/src/post-featured-image/block.json
  packages/block-library/src/post-featured-image/index.php
  packages/block-library/src/post-tags/block.json
  packages/block-library/src/post-tags/index.php
  packages/e2e-tests/plugins/block-context.php
  packages/e2e-tests/specs/editor/plugins/block-context.test.js
  phpunit/class-block-context-test.php
Owners: @youknowriad, @chrisvanpatten, @mkaz, @ajitbohra, @timothybjacobs, @Soean, @jorgefilipecosta, @talldan, @ntwb, @nerrad

[RNMobile] Correct color palette in color settings (#22138)
  packages/components/src/color-palette/index.native.js
  packages/components/src/mobile/color-settings/index.native.js
Owners: @ghost
