Repository BreadGuy007/Handbook_management, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisvanpatten, @ajitbohra, @youknowriad, @mkaz, @nerrad, @mmtr, @coderkevin, @Soean, @jorgefilipecosta, @talldan, @atimmer, @ellatrix, @aduth, @dmsnell, @gziolo, @noisysocks, @ntwb, @nosolosw, @jaymanpandya, @swissspidy, @adamsilverstein, @daniloercoli, @sergioestevao, @etoledom, @timothybjacobs, @ghost, @mapk, @karmatosed

[RNMobile] Native mobile release v1.14.0 (#17676)
  packages/block-library/src/heading/heading-level-icon.js
  packages/block-library/src/heading/heading-toolbar.js
  packages/components/src/primitives/svg/index.js
  packages/components/src/primitives/svg/index.native.js
  packages/rich-text/src/component/index.native.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @youknowriad, @gziolo, @jaymanpandya, @chrisvanpatten, @ghost

Fix the block preview padding in themes with custom backgrounds (#17807)
  packages/block-editor/src/components/block-preview/index.js
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
Owners: @youknowriad, @talldan, @ellatrix

[RNMobile] fix button component (#17766)
  packages/components/src/button/index.native.js
Owners: @ghost

Framework: Add Component Storybook (tweaks) (#17762)
  .eslintrc.js
  .travis.yml
  bin/packages/build.js
  bin/packages/watch.js
  lerna.json
  package-lock.json
  package.json
  packages/components/src/button/stories/index.js
  packages/components/storybook/.babelrc
  packages/scripts/package.json
Owners: @ntwb, @nerrad, @ajitbohra, @youknowriad, @gziolo, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Use body color for post publish panel (#17731)
  packages/editor/src/components/post-publish-panel/style.scss
Owners: @talldan

List Block: fix merging with indented list items (#17845)
  packages/block-editor/src/store/effects.js
  packages/block-library/src/list/block.json
  packages/e2e-tests/specs/blocks/__snapshots__/list.test.js.snap
  packages/e2e-tests/specs/blocks/list.test.js
Owners: @youknowriad, @talldan, @ellatrix, @Soean, @ajitbohra, @jorgefilipecosta, @gziolo, @ntwb, @nerrad

Update E2E tests for WP 5.3 Beta 3 (#17859)
  packages/e2e-tests/specs/font-size-picker.test.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Bugfix for wrong isObjectActive flag (#17750)
  packages/rich-text/src/component/format-edit.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Remove overflow to have SafeArea over the BlockList (#17856)
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
Owners: @ghost

Disable the navigation mode when clicking the redirect element (#17798)
  packages/block-editor/src/components/writing-flow/index.js
  packages/e2e-tests/specs/adding-blocks.test.js
Owners: @youknowriad, @talldan, @ellatrix, @gziolo, @ntwb, @nerrad, @ajitbohra

Core Data: Shallow merge, not deep merge meta. (#17850)
  packages/core-data/src/actions.js
Owners: @youknowriad, @nerrad

Navigation: Use class attribute (#17853)
  packages/block-library/src/navigation-menu/index.php
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Make media-text respect stacking setting on native (#17682)
  packages/block-library/src/media-text/edit.native.js
  packages/viewport/src/index.js
  packages/viewport/src/index.native.js
  packages/viewport/src/listener.js
  packages/viewport/src/listener.native.js
Owners: @ghost, @youknowriad, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan

Add 'No Preview Available' text to the inserter preview panel (#17848)
  packages/block-editor/src/components/inserter/menu.js
  packages/block-editor/src/components/inserter/style.scss
Owners: @youknowriad, @talldan, @ellatrix

Fix: navigation block automatically selects child menu items. (#17835)
  packages/block-library/src/navigation-menu/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Fix Block Controls behavior for List Block. (#17876)
  packages/block-library/src/list/edit.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

[RNMobile] Media & Text - Media picker buttons functionality (#17537)
  packages/block-editor/src/components/index.native.js
  packages/block-editor/src/components/media-placeholder/index.native.js
  packages/block-editor/src/components/media-placeholder/styles.native.scss
  packages/block-editor/src/components/media-upload-progress/index.native.js
  packages/block-editor/src/components/media-upload-progress/styles.native.scss
  packages/block-editor/src/components/media-upload/index.native.js
  packages/block-editor/src/components/video-player/gridicon-play.native.js
  packages/block-editor/src/components/video-player/index.native.js
  packages/block-editor/src/components/video-player/styles.native.scss
  packages/block-library/src/media-text/edit.native.js
  packages/block-library/src/media-text/icon-retry.native.js
  packages/block-library/src/media-text/media-container.native.js
  packages/block-library/src/media-text/style.native.scss
  packages/block-library/src/video/edit.native.js
Owners: @ghost

Fixes #15813 (#17842)
  packages/edit-post/src/components/sidebar/post-link/index.js
Owners: @talldan

Update style.scss (#17804)
  packages/block-editor/src/components/block-list/style.scss
Owners: @youknowriad, @talldan, @ellatrix

Add max-width to pinned icon SVGs. (#17722)
  packages/edit-post/src/components/header/pinned-plugins/style.scss
Owners: @talldan

Packages: Add information for webpack about no side effects (#17862)
  packages/autop/package.json
  packages/blob/package.json
  packages/block-library/package.json
  packages/block-serialization-default-parser/package.json
  packages/block-serialization-spec-parser/package.json
  packages/deprecated/package.json
  packages/dom-ready/package.json
  packages/dom/package.json
  packages/element/package.json
  packages/escape-html/package.json
  packages/is-shallow-equal/package.json
  packages/keycodes/package.json
  packages/priority-queue/package.json
  packages/redux-routine/package.json
  packages/url/package.json
  packages/wordcount/package.json
Owners: @aduth, @Soean, @ajitbohra, @jorgefilipecosta, @talldan, @dmsnell, @ellatrix, @youknowriad, @gziolo, @jaymanpandya, @nerrad

Redo: add failing e2e tests (#17861)
  packages/core-data/src/reducer.js
  packages/e2e-tests/specs/undo.test.js
Owners: @youknowriad, @nerrad, @gziolo, @ntwb, @ajitbohra, @talldan

Polish search widget. (#17648)
  packages/block-library/src/search/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Add ButtonGroup story (#17884)
  packages/components/src/button-group/stories/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Add end to end test embed inside block with locking all. (#15909)
  packages/e2e-tests/plugins/inner-blocks-locking-all-embed.php
  packages/e2e-tests/plugins/inner-blocks-locking-all-embed/index.js
  packages/e2e-tests/specs/embedding.test.js
  packages/e2e-tests/specs/plugins/innerblocks-locking-all-embed.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Block dir API: Change time difference string. (#17535)
  lib/class-wp-rest-block-directory-controller.php
Owners: @timothybjacobs

Fix helper top margin when used with RadioControl. (#17677)
  packages/components/src/radio-control/style.scss
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Update: Make block inspector self contain its styles (#17880)
  packages/block-editor/src/components/block-inspector/index.js
  packages/block-editor/src/components/block-inspector/style.scss
  packages/e2e-tests/specs/block-hierarchy-navigation.test.js
  packages/edit-post/src/components/sidebar/settings-sidebar/index.js
  packages/edit-post/src/components/sidebar/settings-sidebar/style.scss
  packages/edit-post/src/style.scss
Owners: @youknowriad, @talldan, @ellatrix, @gziolo, @ntwb, @nerrad, @ajitbohra

Fix: Featured image block contains invalid HTML (#17754)
  packages/components/src/responsive-wrapper/index.js
  packages/components/src/responsive-wrapper/style.scss
  packages/editor/src/components/post-featured-image/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

[RNMobile] Display UngroupingButton only for selected Group (#17812)
  packages/block-editor/src/components/ungroup-button/icon.js
  packages/block-editor/src/components/ungroup-button/index.native.js
  packages/block-library/src/index.native.js
  packages/blocks/src/api/index.native.js
Owners: @youknowriad, @talldan, @ellatrix, @ghost

Editor: Make sure that all edits after saving are considered "persistent". (#17888)
  packages/editor/src/store/actions.js
  packages/editor/src/store/test/actions.js
Owners: @talldan

Mobile Web: Ensure that sidebar is closed on the first visit (#17902)
  packages/e2e-tests/specs/sidebar.test.js
  packages/edit-post/src/components/editor-initialization/index.js
  packages/edit-post/src/components/editor-initialization/listener-hooks.js
  packages/edit-post/src/components/editor-initialization/test/listener-hooks.js
Owners: @gziolo, @ntwb, @nerrad, @ajitbohra, @talldan

Fix: Columns block sample (#17904)
  packages/block-library/src/columns/index.js
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Storybook: Add ScrollLock stories (#17886)
  packages/components/src/scroll-lock/stories/index.js
Owners: @youknowriad, @gziolo, @ajitbohra, @jaymanpandya, @jorgefilipecosta, @talldan, @chrisvanpatten

Fix: Cover Block: Unnecessary default styles for H2 heading (#17815)
  packages/block-library/src/cover/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

Improve media & text block on IE. (#10812)
  bin/packages/post-css-config.js
  packages/block-library/src/media-text/edit.js
  packages/block-library/src/media-text/editor.scss
  packages/block-library/src/media-text/style.scss
Owners: @ntwb, @nerrad, @ajitbohra, @Soean, @jorgefilipecosta, @talldan

Check that scrollViewRef is still available before trying to scroll (#17899)
  packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js
Owners: @ghost

I18N: Always return the translation file prefixed with `gutenb… (#17900)
  lib/client-assets.php
Owners: @timothybjacobs

RichText: don't continuously reset selection (#17869)
  packages/rich-text/src/component/index.js
Owners: @ellatrix, @jorgefilipecosta, @daniloercoli, @sergioestevao, @etoledom

Fix: Remove unnecessary space on columns (#17907)
  packages/block-library/src/columns/style.scss
Owners: @Soean, @ajitbohra, @jorgefilipecosta, @talldan

.github/CODEOWNERS:

# Documentation
/docs                                           @chrisvanpatten @ajitbohra
/docs/designers-developers/developers           @youknowriad @chrisvanpatten @mkaz @ajitbohra
/docs/designers-developers/designers            @chrisvanpatten @mkaz @ajitbohra

# Data
/packages/api-fetch                             @youknowriad @nerrad @mmtr
/packages/core-data                             @youknowriad @nerrad
/packages/data                                  @youknowriad @nerrad @coderkevin
/packages/redux-routine                         @youknowriad @nerrad

# Blocks
/packages/block-library                         @Soean @ajitbohra @jorgefilipecosta @talldan
/packages/block-library/src/social-links        @mkaz
/packages/block-library/src/social-link         @mkaz

# Editor
/packages/annotations                           @atimmer @ellatrix
/packages/autop                                 @aduth
/packages/block-editor                          @youknowriad @talldan @ellatrix
/packages/block-serialization-spec-parser       @dmsnell
/packages/block-serialization-default-parser    @dmsnell
/packages/blocks                                @youknowriad @gziolo @ellatrix
/packages/edit-post                             @talldan
/packages/editor                                @talldan
/packages/list-reusable-blocks                  @youknowriad @noisysocks
/packages/shortcode                             @aduth

# Widgets
/packages/edit-widgets                          @youknowriad

# Tooling
/bin                                            @ntwb @nerrad @ajitbohra
/bin/update-readmes.js                          @ntwb @nerrad @ajitbohra @nosolosw
/docs/tool                                      @youknowriad @chrisvanpatten @ajitbohra @nosolosw
/packages/babel-plugin-import-jsx-pragma        @gziolo @ntwb @nerrad @ajitbohra
/packages/babel-plugin-makepot                  @ntwb @nerrad @ajitbohra
/packages/babel-preset-default                  @youknowriad @gziolo @ntwb @nerrad @ajitbohra
/packages/browserslist-config                   @gziolo @ntwb @nerrad @ajitbohra
/packages/custom-templated-path-webpack-plugin  @ntwb @nerrad @ajitbohra
/packages/docgen                                @nosolosw
/packages/e2e-test-utils                        @gziolo @ntwb @nerrad @ajitbohra
/packages/e2e-tests                             @gziolo @ntwb @nerrad @ajitbohra @talldan
/packages/eslint-plugin                         @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-console                          @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-preset-default                   @gziolo @ntwb @nerrad @ajitbohra
/packages/jest-puppeteer-axe                    @gziolo @ntwb @nerrad @ajitbohra
/packages/library-export-default-webpack-plugin @gziolo @ntwb @nerrad @ajitbohra
/packages/npm-package-json-lint-config          @gziolo @ntwb @nerrad @ajitbohra
/packages/postcss-themes                        @youknowriad @ntwb @nerrad @ajitbohra
/packages/scripts                               @youknowriad @gziolo @ntwb @nerrad @ajitbohra

# UI Components
/packages/components                            @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @chrisvanpatten
/packages/compose                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/element                               @youknowriad @gziolo @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/notices                               @ajitbohra @jaymanpandya @jorgefilipecosta @talldan
/packages/nux                                   @ajitbohra @jaymanpandya @jorgefilipecosta @talldan @noisysocks
/packages/viewport                              @youknowriad @ajitbohra @jaymanpandya @jorgefilipecosta @talldan

# Utilities
/packages/a11y                                  @youknowriad @aduth
/packages/blob                                  @aduth
/packages/date                                  @aduth
/packages/deprecated                            @aduth
/packages/dom                                   @ellatrix
/packages/dom-ready                             @aduth
/packages/escape-html                           @aduth
/packages/html-entities                         @aduth
/packages/i18n                                  @swissspidy
/packages/is-shallow-equal                      @aduth
/packages/keycodes                              @talldan @ellatrix
/packages/priority-queue                        @youknowriad @aduth
/packages/token-list                            @aduth
/packages/url                                   @talldan
/packages/wordcount                             @aduth

# Extensibility
/packages/hooks                                 @gziolo @adamsilverstein
/packages/plugins                               @gziolo @adamsilverstein

# Rich Text
/packages/format-library                        @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/rich-text                             @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom
/packages/block-editor/src/components/rich-text @ellatrix @jorgefilipecosta @daniloercoli @sergioestevao @etoledom

# PHP
/lib                                            @timothybjacobs

# Native (Unowned)
*.native.js                                     @ghost
*.android.js                                    @ghost
*.ios.js                                        @ghost
*.native.scss                                   @ghost
*.android.scss                                  @ghost
*.ios.scss                                      @ghost

# Project Management
/.github                                        @youknowriad @mapk @karmatosed
